@media (max-width: 1229px) {
	
.page-node #content-column .content-inner {
    margin-top: 10px;
}
.not-front.no-sidebars.page-node #content-column .content-inner {
    margin-left: 0!important;

}
	.not-front.no-sidebars.page-node #content-column .content-inner {
    width: 100%!important;
}
.branding-container, #menu-bar #block-os-primary-menu, #footer .gpanel, .region-footer, .message-inner, #powerby-login {
    width: 84% !important;
}
.one-sidebar.sidebar-second .content-inner  {
    margin-left: 0 !important;
     width: 75%!important;
  
}
.one-sidebar.sidebar-second .content-inner {
    margin-left: 0;
    margin-right: 315px;
}
.one-sidebar.sidebar-second .region-sidebar-second {
    margin-left: -23%;
    width: 235px;
}

#header-container{
	
   width: 100% !important;
}
	.region-sidebar-first {
    width: 20%!important;
}
.two-sidebars .content-inner {
    margin-right: 23%!important;
}
.region-sidebar-second {
    margin-left: -25%!important;
}
	
.no-sidebars #layout_3_1_overlay .slide {
    width: 100%!important;
    left:0!important;
}
#footer {
    width: 100%!important;
}
#columns {
    width: 100%!important;
}
.no-sidebars #layout_3_1_overlay .slide {
    height: 278px!important;
}
.no-sidebars #layout_3_1_overlay .slide[style] {
    height: 278px!important;
}
#layout_3_1_overlay .slide-copy h2 {
    font-size: 30px !important;
}
#footer .gpanel {
    width: 100%!important;
}

#header {
    padding: 0 8%;
}
#block-os-primary-menu {
    padding: 0 8%;
}
.one-sidebar.sidebar-first .region-sidebar-first {
    left: 8% !important;
    width: 20.5% !important;
}
.page-node #content-column .content-inner {
    margin-left: 21%;
    padding: 0 !important;
}
.region-sidebar-first {
    margin-left: -105%!important;
}

	#menu-bar ul.nice-menu a {
    padding: 16px 20px!important;
}
.region-sidebar-second {
    width: 22%;
}
.footer.footer-right .region-footer, .footer-left.footer .region-footer {
    width: 52% !important;
}
}

@media (max-width: 1008px) {

.not-front.one-sidebar.sidebar-first.page-node #content-column .content-inner {
    margin-left: 20%;
    width: 88%;
}

.no-sidebars #layout_3_1_overlay .slide[style] {
    margin-bottom: -30px !important;
    min-height: 500px !important;
}
	.front #content-column {
    padding: 0!important;
}
	.region.region-header-first {
    position: relative !important;
    top: -130px;
}
	
	.two-sidebars #content-column .content-inner {
    width: 92%!important;
}
.page-node #content-column .content-inner {
    width: 84%;
}
.two-sidebars .region-sidebar-second {
    margin-left: 0 !important;
}
	
	.two-sidebars .region.region-sidebar-first.sidebar {
    left: 8% !important;
    width: 20% !important;
}
	#content-column {
    padding: 0 2%;
}

	.branding-container, #header-container, #columns, #menu-bar #block-os-primary-menu, #footer .gpanel, .region-footer, .message-inner, #powerby-login {
    width: 100% !important;
}
	
.one-sidebar.sidebar-first .region-sidebar-first {
    left: 8% !important;
    width: 20.5% !important;
}
.page-node #content-column .content-inner {
    margin-left: 20%!important;
    padding: 0 !important;
}
.one-sidebar.sidebar-second .page-node #content-column .content-inner {
    margin-left: 0!important;
}
.one-sidebar.sidebar-second  #content-column {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    padding: 0 90px 0 20px;
}
.one-sidebar.sidebar-second .region-sidebar-second {
    margin-left: -28% !important;
    width: 24% !important;
}

	#block-os-primary-menu {
    padding: 0 0;
}
	#header {
    padding: 0 0;
}
.link-count-mobi-main a {
    background-color: #A23338;
    color: #FFFFFF;
}
.link-count-mobi-util a {
    background-color: #80282C;

}
.link-count-mobi-search a {
       background-color: #1E1E1E;

}
/*Dropdown menu*/
#menu-bar {
    background: none!important;
}
#block-os-primary-menu{
    background: none repeat scroll 0 0 #A23338;

}
#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a:hover {
    background: none repeat scroll 0 0 #1E1E1E;

}
#block-os-primary-menu a:hover,
#block-os-primary-menu a:focus{
	background-color:#303030!important;
}
#menu-bar {
    background: none repeat scroll 0 0 #303030;
    padding: 0;
}
#menu-bar ul.nice-menu ul {
    background: none repeat scroll 0 0 #80282C!important;
}

#block-os-primary-menu li {
    border-bottom: 1px solid #80282C!important;
    border-top: 1px solid #AB383E!important;
        display: block;
}

.region-header-third .os-custom-menu.opened,
.region-header-third #block-os-secondary-menu.opened {
    background-color: #80282C!important;
}
.region-header-third .os-custom-menu li,
.region-header-third #block-os-secondary-menu li{
    border-bottom: 1px solid #662023!important;
    border-top: 1px solid #8D2C30!important;
    margin-left:0!important;
}

.two-sidebars #content-column .content-inner {
    width: 88% !important;
}
}

/*--------------------------------------------------------*/
@media (max-width: 768px) {
	.block-boxes-os_slideshow_box .add_new {
    left: -20px!important;
 
}
		.not-front.page-node #content-column .content-inner {
    width: 100%;
}
	.footer.footer-right .region-footer, .footer-left.footer .region-footer {
    width: 100% !important;
}

	#content-panels {
    padding: 0 20px;
}
	.front .content-left.content-right.content-bottom #content-panels .region {
    margin-bottom: 0!important;
}
	
	#columns .region-inner {
    margin-bottom: 0;
    padding-top: 0;
}
.no-sidebars #layout_3_1_overlay .slide[style] {
    margin-bottom: -30px !important;
    min-height: 500px !important;
}
	.two-sidebars #content-column .content-inner {
    width: 100% !important;
}
.two-sidebars .region.region-sidebar-first.sidebar {
    left: 0 !important;
    width: 100% !important;
}
.one-sidebar.sidebar-second .region-sidebar-second {
    margin-left: 0 !important;
    width: 100% !important;
}
.hg-container .file-os-files-large, .hg-container .file-os-files-xlarge, .hg-container .file-os-files-xxlarge, .hg-container .file-os-files-medium {
    width: 100%!important;
}
	

	.page-node #content-column .content-inner {
    margin-left: 0!important;
    padding: 0 !important;
}
#content-column {
    padding: 0 2%!important;
}

.one-sidebar.sidebar-first .region-sidebar-first {
    width: 100% !important;
}
.region.region-sidebar-first.sidebar {
    left: 0!important;
}
}