@media (max-width: 1008px) {
	
	
	/* menus */
	
	
.link-count-mobi-main a {
    background-color: #fff!important;
    color: #000!important;
}
.link-count-mobi-util a {
    background-color: #F7F7F7!important;

}
.link-count-mobi-search a {
       background-color: #4077AE!important;
}

#menu-bar ul > li > a:hover,
#menu-bar ul > li > a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu li.menuparent:hover a,
#menu-bar ul.nice-menu .menuparent a.active {
  background: red; /* Old browsers */
  background: -moz-linear-gradient(none); /* FF3.6+ */
  background: -webkit-gradient(none); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(none); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(none); /* Opera 11.10+ */
  background: -ms-linear-gradient(none); /* IE10+ */
  background: linear-gradient(none); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( none ); /* IE6-9 */
}

#menu-bar ul.nice-menu a:hover,
#menu-bar ul > li > a:hover,
#menu-bar ul.nice-menu li.menuparent:hover a {
  color: #fff;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.link-count-mobi-main a {
    background: url("../images/icon_menu.png") no-repeat scroll 15px center #FFFFFF !important;
    margin-left: 15px;
}
.link-count-mobi-util a {
    background: url("../images/icon_plus.png") no-repeat scroll center center #F7F7F7 !important;
}
.link-count-mobi-search a {
    background: url("../images/icon_search.png") no-repeat scroll center center #4077AE !important;
    margin-right: 15px;
}
.not-front .hg-container {
    padding-top: 65px !important;
    width:100%;
}
/* Dropdown menu */
#block-os-primary-menu a {
    color: #000000 !important;
}
#block-os-primary-menu a:hover,
#block-os-primary-menu a:focus{
	background-color:#24527a!important;
}
#block-os-primary-menu li {
    border-bottom: 1px solid #E8E8E8!important;
    border-top: none!important;
        display: block;
}
#menu-bar {
    background: none repeat scroll 0 0 #E6E6E3;
    margin: 0;
    padding: 0 0 30px 0 !important;
}

#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a.active:hover {
    background: none repeat scroll 0 0 #303030 !important;
    color: #FFFFFF !important;
}
ul.menu {
    margin-left: 15px !important;
}
#menu-bar ul.nice-menu li {
    background-color: #FFFFFF !important;
    margin-right: 30px !important;
}
#menu-bar nav {
    background: none repeat scroll 0 0 #E8E8E8!important;
    border-radius: 0 0 0 0;
    box-shadow: 0 ;
}
.mobile-buttons a {
    font: bold 16px arial,sans-serif !important;
}
/* column layouts */


.one-sidebar.sidebar-second .region-sidebar-second {
    padding-top: 65px!important;

}

.two-sidebars .region-sidebar-second {
    padding-top: 65px;
   
}


/* calendar arrows */


.one-sidebar #main-content .view .date-nav-wrapper .date-prev {
    right: 90%;
}


}