.first {
  float: left; /* LTR */
  height: 100%;
  width: 15%;
}

.first .item-list ul {
  list-style-type: none;
}

.first .item-list ul li {
  border: 2px solid #C4C2C2;
  padding: 2px 5px;
  background-color: #DDDDDD;
}

.first .item-list ul li.active {
  background-color: #EEEEEE;
}

.first .item-list ul li a {
  display: block;
}

.first .add-new {
  display: block;
  margin-top: 10px;
}

.second {
  float: left; /* LTR */
  width: 85%;
}

.second .views-table {
  border: 2px solid #C4C2C2;
  width: 100%;
}

.second .views-field-title {
  padding: 0;
}

.second .feed-item-title {
  padding: 0.6em;
  cursor: pointer;
}

.second .feed-item-description {
  display: none;
}

.second .views-field-copy-feed-to-news {
  border-left: 2px solid #C4C2C2; /* LTR */
  text-align: right; /* LTR */
}

.second .views-field-copy-feed-to-news .item-list ul {
  list-style-type: none;
}


