body {
background-color:#ededed;
font-family:helvetica, arial;
color:#666;
font-size:13px;
 }    

  
/* TYPOGRAPHY*/

.blue {
    color:#00497A;
    }


a, a:visited {
    color:#00497a;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    color:#00497a;
}
    
.sidebar .node-type-person h3.title {
font-size:1em;
font-family: Helvetica,Arial,sans-serif;
 font-weight: bold;
letter-spacing: 0;
 margin-bottom:0;
border-bottom:none;
}


.sidebar h3.title {
 color: #666;
 font-size: 18px;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-weight: normal;
letter-spacing: .5px;
 margin-bottom: 10px;
border-bottom:1px solid #ccdcef;
  }
 
 h2.title {
    text-transform: uppercase; margin-left:5px; color: #666;
}

.node-type-person h2.title {color:#00497A;
margin-left:0;
text-transform:none;}

body.node-type-blog h2.title {color: #760012; text-transform: none;}
#content-main .node-type-blog h3.title {background: url('images/postHeaderBg.png') left center no-repeat; padding:4px 0 3px 13px ;margin-bottom:3px;}
#content-main .node-type-blog h3.title a {color: #760012;font-size:1.1em;}




#boxes-box-vsite_taxonomy_fltr_cat h3.title {display:none;}

ul.inline {display:inline;}

div.links-inline {margin-top:5px;}


.node .node-inner .links li.node_read_more a {
	margin-left:5px;
padding: 0 0 0 14px;
background: url('images/readMore.png') left center no-repeat;
}

ul.inline li.disqus_comments span {
	margin-left:5px;
padding: 0 0 0 12px;
background: url('images/commentBubble.png') left center no-repeat;
}

.submitted {
    color:#888;
   margin-top:-20px;
}
.submitted-by {
	font-size: 0.9em;
	color: #888888;
	float:left;
	margin: 6px 3px 0 0;
}


#sidebar-second .content-body {display:none;}

#sidebar-second .node_read_more {display:none;}

/* LAYOUT ELEMENTS */

#content-area {padding-top:20px;}

#page {
  width: 980px;
  margin: 0 auto;
  padding: 0px;
background: #fff;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
border-bottom-left-radius: 10px;
margin-top:20px;
  -moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-top-right-radius: 10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
border-top-left-radius: 10px;
 }



#header-right {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-top-right-radius: 10px;
  background: url('images/mainNavBg.png') repeat-x;
   width: 405px;
  }



#header {
background: #FFF;
height: 105px;
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
border-top-right-radius: 10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
border-top-left-radius: 10px;
border-bottom:3px solid #ededed;
height:100px;
  }


#sidebar-second {
border-left:1px dotted #CACACA;
}

.two-sidebars #content-main {
   border-right:1px dotted #ededed;
  border-left:1px dotted #ededed; 
}


#content-main {
   padding-right:15px;
  padding-left:15px; 
}

body.one-sidebar.sidebar-second #sidebar-second {
    width: 250px;
}

body.one-sidebar.sidebar-second #content-area .hg-container {
  padding-right: 300px;
}


body.one-sidebar.sidebar-second #header .hg-container {
  padding-right: 445px;
}

.view-scholar-blog .views-row {border-bottom:1px solid #ccdcef;width:645px;}
.view-scholar-blog .views-row-last {border-bottom:none;}

.taxonomy-term-description {
margin:0;
}

/* HEADER ELEMENTS */

.box-os_boxes_modal_image {margin:20px;}

.search-form {
    width: 185px;
    display:inline;
    clear:none;
    float:right;
    margin-top:0px;
}

/* MAIN NAVBAR */

#header-right #block-vsite_menus-features {
 padding: 0 0 5px 5px;
 float:left;
   clear:none;
 margin-right: 200px;
  margin-top: -40px;
  width: 220px;
  }

#header-right #block-vsite_menus-features li {
  float:left;
  padding-right: 1px;
  }

#header-right #block-vsite_menus-features li a
 {
  line-height: 25px;
  color: #750012;
  font-weight:normal;
  font-size: 12px;
  padding: 2px 10px;
border-right:1px solid #750012;
 }

#header-right #block-vsite_menus-features li.last a
 {
border-right:none;
 }


#block-vsite_menus-features li a:hover,
#block-vsite_menus-features li.active-trail a {
  color: #750012;
  text-decoration: underline;
}

#block-vsite_menus-features li a.active,
#block-vsite_menus-features li.active-trail a {
color: #750012;
  text-decoration: none;
}

/* TAG NAVIGATION*/

  #sidebar-second #boxes-box-vsite_taxonomy_fltr_cat ul {
	width: 100%;
}


#sidebar-second #boxes-box-vsite_taxonomy_fltr_cat  ul li  {
  list-style: none;
  text-align: left;
  font-size:1.1em;
  margin: 0;
    border-bottom: 1px dotted #ccc;
      padding: 10px 0 10px 22px;
      background: url('images/tagNavBullet.png') left center no-repeat;
}


#sidebar-second #boxes-box-vsite_taxonomy_fltr_cat  ul li a,  {
#sidebar-second #boxes-box-vsite_taxonomy_fltr_cat  ul li 
	display: block;
  text-decoration: none;
color: #303e48;
  }
  
.count {display:none;}

/* FOOTER  */

#footer {
  padding-top: 0;
  }

#footer .wrap {
  padding: 0 30px;
  position:relative;
  bottom: -42px;
  }
