/*Typography */
body {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

a {color: #4384C4;}


/* Block Styles */
#content-column .block .block-inner {
    margin-left: 0;
    margin-right: 0;
}

#content-column .block ul {
    list-style: disc;
}


/* Site Info */

#boxes-box-site_info,
#boxes-box-site_info a {  
font-family: 'Georgia,serif';
color:#161616;
}

#boxes-box-site_info p a  {  
display:none;
}

#boxes-box-site_info h1 {font-size: 30px;font-weight: normal;margin:70px 0 -50px 0; line-height: 10px;}

#boxes-box-site_info h2 {font-size: 24px;font-weight: normal;font-style: italic;}





/* Menus */

#menu-bar ul.nice-menu a {
    font-family: 'Georgia,serif';
    font-size: 20px;
    color:#161616;
    padding: 12px 8px;
}

#menu-bar ul.nice-menu li {
    margin-right: 20px;
  
}

.region-header-third ul.nice-menu {
    margin-top: 17px;
}

.region-header-third ul.nice-menu li {
    margin-left: 20px;
}

.region-header-third ul.nice-menu a {
    font: bold 13px arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #4384C4;
}

#branding_footer, #branding_header {
	background:#000;
	color:#FFF;
}

#branding_footer a, #branding_header a {
	color:#FFF;
}

/* Calendar Overrides */
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
    background: none;
    border-radius: 0;
    float: none;
    font-size: 12px;
    left: auto;
    padding: 5px 0;
    position: absolute;
    right: 60px;
    text-align: right;
    top: 0;
    width: auto;
    z-index: 1;
}

.calendar-calendar td {
    text-align: center;
    height:35px;
}

.calendar-calendar th.days {
    font-size:12px;
}

.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
    background-color: #FFF !important;
    border:1px solid #ccc;
}

table td.mini a {
    font-weight: bold;
}

table .mini-day-on a {
    text-decoration: none;
}



/* Tabs Overrides */

.block-boxes-os_boxes_tabs .ui-widget {
    margin-top:25px;
}

.ui-tabs .ui-tabs-panel {
    background-image: none;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 1px;
    padding: 10px;
}

/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #E6E6E6;
}*/

.ui-tabs .ui-corner-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  
    padding: 10px 0;
}



