
/* Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 23px;
  min-height: inherit;
}

.not-front #content-column {font-size: 16px;}

a,
a:visited {
  color: #4384C4;
}

#columns .block ul {
    list-style: disc;
}

#columns .block.block-boxes-os_taxonomy_fbt ul,
#columns .block .item-list ul
 {list-style: none;}

p:empty {
	display: none;
}

table, th, td, tr {
  border-color: #CACACA;
}
table {
  margin-bottom: 15px;
}
table caption {
  text-align: left;
}

#powered-by a {
    margin-right: 15px;

}

#footer .footer-login {
  background: url('../images/readmore_arrow.gif') no-repeat right center;
  box-shadow: none;
  color: #4384C4;
  float: right;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  padding: 1px 11px 0 18px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  border-left:1px solid #ccc;
}

#powerby-login {
    float:none;
    margin-top: 20px;
}

  .footer-left.footer.footer-right #powerby-login,
  .footer-left.footer.footer-right #powerby-login,
  .footer-left.footer.footer-right #powerby-login,
  .footer-left.footer-right #powerby-login,
  .footer-left.footer-right #powerby-login {
   width: 750px;
}

  .logged-in .footer-left.footer.footer-right #powerby-login,
  .logged-in .footer-left.footer.footer-right #powerby-login,
  .logged-in .footer-left.footer.footer-right #powerby-login,
  .logged-in .footer-left.footer-right #powerby-login,
  .logged-in .footer-left.footer-right #powerby-login {
   width: 550px;
}


.footer-left.footer #powerby-login {
    	width: 380px;
  	}
  
.logged-in .footer-left.footer #powerby-login {
    	width: 180px;
  	}

.footer.footer-right #powerby-login {
    	width: 465px;
  	}

.logged-in .footer.footer-right #powerby-login {
    	width: 255px;
  	}


/*
  .footer.footer-right .region-footer,
  .footer-left.footer .region-footer {
    	width: 52%;
  	}
  
  .footer.footer-right .region-footer-third,
  .footer-left.footer .region-footer-first {width: 48%;}
*/
  

#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link {
  background: url('../images/readmore_arrow.gif') no-repeat right center;
  padding-right: 11px;
  font-style: normal;
  font-size: 14px;
  float: none;
}


.breadcrumb,
.breadcrumb a {
	color:#4384C4;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.1em;
}

.breadcrumb span {
  color: #1e1e1e;
}


/* Block Styles */
#content-column .block ul {
  list-style: disc;
}


/* Search Results */
.page-search input.form-text {
  width: auto;
  background: #F2F2EF;
}

ol.search-results li.search-result {
	border-bottom: 1px solid #ccc;
}

ol.search-results li.search-result:last-child {
	border-bottom: none;
}

.page-search #content-column h2 {
	margin-bottom:15px;
}

.page-search .search-info {
	display:none;
}

.region-header-third .block-os-search-solr,
.region-header-third .block-os-search-db {
}


/* Controls wrapper */
.contextual-controls-wrapper {
  top: -45px; /* Shift into whitespace */
}



/* block-os-powered-by */
.logged-in .os-powered-link,
.logged-in #block-os-powered-by {
  bottom: auto;
}

.os-powered-link,
#block-os-powered-by {
  bottom: -auto;
  float: right;
}



/* Calendar Pages */


.view .date-nav-wrapper .date-prev {
    right: 590px;
}


.two-sidebars #main-content .view .date-nav-wrapper .date-prev {
    right: 430px;
}

.view .date-nav-wrapper .date-prev a {
    overflow: hidden;
 	text-indent: -99999999px;
 	font-size: 0;
 	display:inline-block;
}

.view .date-nav-wrapper .date-next {
  right: 20px;
}

.calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar-calendar .month-view .full td.single-day.empty,
.calendar-calendar .month-view .full td.date-box.empty,
.year-view div.month-view div.date-nav {
  background-color: #f3f3f2;
}

.calendar-calendar td,
.calendar-calendar td.empty,
.calendar-calendar .week-view div.single-day .half-hour,
.calendar-calendar .day-view div.single-day .half-hour {
  border-color: #e5e5e3;
}

.calendar-calendar td.empty {
  color: #303030;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background-color: #4384C4;
  border-radius: 0;
  height: 25px;
  line-height: 25px;
}

.calendar-calendar .month-view .full td.multi-day div.monthview a,
.calendar-calendar .week-view .full td.multi-day div.weekview a,
.calendar-calendar .day-view .full td.multi-day div.dayview a {
  color: #fff;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: none;
}

.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.multi-day.starts-today,
.calendar-calendar .month-view .full tr td.single-day.today,
.calendar-calendar td.calendar-agenda-items,
.calendar-calendar .week-view .full div.calendar-agenda-hour,
.calendar-calendar .day-view .full div.calendar-agenda-hour,
.calendar-calendar .week-view .full div.calendar-agenda-items,
.calendar-calendar .day-view .full div.calendar-agenda-items {
  border-color: #cacaca;
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  background-color: #f3f3f2;
  line-height: 1.4em;
  border-radius: 0;
  border: 1px solid #e5e5e3;
}

.calendar-calendar .week-view .full th {
  border-bottom: none;
}

.calendar-calendar td.calendar-agenda-hour {
  text-align: center;
}

.calendar-calendar .week-view .full .calendar-agenda-hour {
  padding: 0;
  width: 50px;
}

.calendar-calendar .week-view .full .days {
  background: none;
  border: 0 none;
  padding: 3px 0;
}

.single-day-footer .grippie,
.header-body-divider .grippie {
  background: url("../images/grippie.png") no-repeat scroll center 2px #f3f3f2;
  height: 5px;
}

.calendar-calendar .week-view .header-body-divider,
.calendar-calendar .week-view .single-day-footer,
.calendar-calendar .day-view .single-day-footer,
.calendar-calendar .day-view .header-body-divider {
  background-color: #f3f3f2;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  height: 7px;
}

.calendar-calendar .single-day-footer.single-day-footer-processed  {
  border-bottom: 1px solid #cacaca;
}

.calendar-calendar .week-view div.single-day .i_0.md_0 .view-item .calendar {
  width: 90% !important;
}

.calendar-calendar .week-view .full div.single-day div.weekview,
.calendar-calendar .day-view .full div.single-day div.dayview {
  background-color: #F3F3F1;
  border-color: #CCC;
  border-radius: 0;
  line-height: 1.4em;
  color: #1E1E1E;
}

.calendar-calendar .week-view .full div.single-day div.weekview a,
.calendar-calendar .day-view .full div.single-day div.dayview a {
  text-decoration: underline;
  font-family:arial;
}

.calendar-calendar div.date-nav h3 {
  color: #1e1e1e;
}

.calendar-calendar div.date-nav a {
  color: #4384C4;
}

.view-os-events ul li .node {
  margin: 0 0 20px;
  padding: 20px 0 40px;
  border-bottom: 1px solid #ebebeb;
}

.view-os-events ul li .node .field-name-field-date {
  margin-bottom: 18px;
}



/* Views Node Lists */
.view .node-teaser {
  margin: 0 0 20px;
  padding: 20px 0 40px;
  border-bottom: 1px solid #ebebeb;
}

/* Special handling for presentation view list */
.view-os-presentations .node {
  margin: 0 0 10px;
  padding: 0 0 20px;
}
.page-presentations h1#page-title {
  margin-bottom: 28px;
}


/* Event nodes */
#event-start {
  width: 55px;
  height: 67px;
  background: url(../images/event-shield.png) no-repeat 0 0 transparent;
  float: left;
  margin-top: 3px;
}

#event-start span {
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.event-start-month {
  color: #7e7e7e;
  font-size: 12px;
  text-transform: uppercase;
  padding: 16px 0 0;
}

.event-start-day {
  color: #000;
  font-size: 18px;
}

#event-content {
  margin-left: 70px;
}

.node-event .field-name-field-date {
  color: #7e7e7e;
  margin-bottom: 7px;
}

.node-event .field-name-field-date .field-label {
  float: left;
}

#event-content .node-header h1.node-title {
	margin-bottom: 0;
}

/* Class nodes */
.node-class .field-name-field-semester,
.node-class .field-name-field-offered-year,
.node-class .field-name-field-class-link,
.node-class-material .field-name-field-class {
  background: #fff;
  padding-bottom: 1px;
  padding: 2px 0;
}

.node-class section .field-label,
.node-class-material section .field-label {
  float: left;
}

.node-class.node-teaser .field-label-inline .field-items {
  float: none;
}

.node-class.node-teaser .field-name-body {
  padding-top: 15px;
}

.node-class section .field-items,
.node-class-material section .field-items {
  margin-left: 80px;
  display: block;
}

.node-class ul.class_material_field_class {
  margin-top: 15px;
}

.node-class .view-os-classes {
  margin-top: 20px;
}

.node-class.node-teaser .links a,
.node-class .view-os-classes a {
  background: url(../images/readmore_arrow.gif) no-repeat right center;
  padding-right: 15px;
  border-bottom: 1px solid #4384C4;
}

.node-class .view-os-classes .views-row {
  margin-bottom: 1px;
}



/* News nodes */
.node-news .field-name-field-news-date {
  color: #7e7e7e;
  overflow: hidden;
}

.node-news .field-name-field-news-date .field-label {
  float: left;
}




/* node person */
.node-type-person .node-person h1.node-title {
  font-size: 38px;
}

.node-type-person .node-person .field-name-field-professional-title {
  padding: 10px 0 20px;
  margin-top: -17px;
}

.node-type-person .node-person .pic-bio {
  border-top: 1px solid #e7e7e7;
  padding-top: 35px;
  margin-top: 20px;
  margin-bottom: 60px;
}

article.node-teaser.node-person .node-header,
article.node-teaser.node-person .node-content {
	margin-left: 6em;
}

.node-type-person .node-person .field-name-field-person-photo {
  float: left;
  margin-top: 5px;
}

.node-type-person #content .node-person .field-name-body {
  margin: 0;
}

.node-type-person #content .node-person.with-person-photo .field-name-body {
  margin-left: 210px;
}

.node-type-person .node-person .block {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 15px;
  padding-top: 15px;
}

.node-type-person #content .node-person .field-name-field-phone,
.node-type-person #content .node-person .field-name-field-email {
  float: none;
  margin-right: 0;
  overflow: hidden;
  display: block;
}

.node-person .field-name-field-professional-title .field-item,
.node-person.node-teaser .field-name-field-website .field-item {
  display: inline;
  padding-right: 10px;
}

#content .node-person .node-content > .block.even .block-inner {
  margin-left: 30px;
}

#content .node-person .node-content > .block.odd .block-inner {
  margin-right: 30px;
}

.node-type-person .node-person .field-name-field-email {
  text-transform: capitalize;
}

.node-teaser.node-person header h1 {
  margin-bottom: 0;
}

.node-teaser.node-person {
  padding: 15px 0 30px;
}

/* Node FAQ */
.node-teaser.node-faq {
  line-height: 19px;
  padding: 5px 0 30px;
}

.page-faq h1.node-title {
	margin-bottom: 14px;
}

.page-faq .node-faq .field-name-body p {
    margin: 0 0 0.5em;
}

/* Node Presentations */
.node-presentation.node-teaser .date-display-single {
  color: #7e7e7e;
}

.node-presentation .field-name-field-presentation-date,
.node-presentation .field-name-field-presentation-location {
  background: #fff;
  padding-bottom: 1px;
  padding: 2px 0;
}

.node-presentation .field-label {
  float: left;
}

.node-presentation section .field-items {
  margin-left: 140px;
  display: block;
}

.node-presentation .field-name-body {
  margin-bottom: 15px;
}




/* Comments */
#comments {
  margin-top: 30px;
}

.comment {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

h2.comment-title {
  margin-bottom: 15px;
}

.comment-header {
  overflow: hidden;
}

h3.comment-title {
  float: left;
}

.comment .new {
  color: #a90000;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4em;
  opacity: 0.75;
  padding: 0 6px;
}

h2.comment-title.comment-form {
  margin-top: 15px;
}



/* General classes for nodes and comments etc */

/* Date time */
.author-datetime {
  margin-bottom: 15px;
  color: #7e7e7e;
}

/* Links */
.links li a.os-add-comment {
  background: none;
  padding-left: 0;
}

.links li a {
  border-bottom: 1px solid #4384C4;
}


/* Files tables, for attached files to nodes such as PDF's */
table.os-files-other-list {
  width: 100%;
  border: 0 none;
}
.os-files-other-list tr,
.os-files-other-list td {
  background: #F3F3F1;
  border: 0;
}
.os-files-other-list tr {
  margin-bottom: 1px;
}
.os-files-other-list td.mime {
  vertical-align: middle;
  width: 16px;
  padding-top: 6px;
}
.os-files-other-list td.size {
  width: 80px;
  font-size: 12px;
}


/* HWPI Custom message handling */
div.messages {
  border: 0 none;
	margin: 0;
  padding: 15px 0;
}

.messages h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

.message-wrapper {
  padding: 0 0 0 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

div.status,
div.error,
div.warning {
  background-image: none;
}

div.status .message-wrapper {
  background-image: url("../../../../../misc/message-24-ok.png");
}
div.error .message-wrapper {
  background-image: url("../../../../../misc/message-24-error.png");
}
div.warning .message-wrapper {
  background-image: url("../../../../../misc/message-24-warning.png");
}



/* Pagers */
ul.pager li {
  padding: 0;
  margin: 0;
}

ul.pager li a {
  padding: 4px;
}


ul.pager li.pager-item {
  display: inline-block;
  padding: 4px 8px;
}


ul.pager li.pager-previous {
  margin-right: 20px;
}


ul.pager li.pager-next {
  margin-left: 20px;
}




