/* Menus */

#menu-bar {
	padding: 8px 0;
}

#menu-bar ul.nice-menu a {
    font-family: 'Georgia,serif';
    font-size: 20px;
    color:#161616;
    padding: 8px;
}


#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover
 {
    background:#1E2540;
    color:#FFF;
}

#menu-bar ul.nice-menu .menuparent {
    padding-right: 5px;
}

#menu-bar ul.nice-menu .menuparent a {
    background: url(../images/menu_down_arrowOff.gif) right center no-repeat;
    padding-right: 15px;
}

#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
    background: url(../images/menu_down_arrowOn.gif) right center no-repeat #1E2540;
     color:#FFF;
    padding-right: 15px;
}

#menu-bar ul.nice-menu li {
    margin-right: 20px;
  
}
 
ul.nice-menu ul {
    top: 3.4em;
}

ul.menu ul ul {
    background: #F0F0EE;
}

ul.nice-menu ul {
    border-top: none;
   
}

#menu-bar ul.nice-menu .menuparent ul li {
    padding-right: 0;
}

#menu-bar ul.nice-menu .menuparent ul li a {
    background: none;
    padding-right: 0;
}

#menu-bar ul.nice-menu .menuparent ul li a:hover,
#menu-bar ul.nice-menu .menuparent ul li a.active {
    background: none;
     color:#000;
    padding-right: 0;
}




.region-header-third #block-os-action-menu {
	float:right;
}

.region-header-third ul.nice-menu {
    margin-top: 5px;
}

.region-header-third ul.nice-menu li {
    margin-left: 20px;
}

.region-header-third ul.nice-menu a {
    font: bold 13px arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #4384C4;
}

#branding_footer, #branding_header {
	background:#000;
	color:#FFF;
}

#branding_footer a, #branding_header a {
	color:#FFF;
}

/*Section Nav */

#boxes-box-os_pages_section_nav {
	border: 1px solid #BFBFBF;
	border-bottom:none;
}

.section-nav li.expanded, 
.section-nav li.collapsed, 
.section-nav li.leaf {
    padding: 0;
}

.section-nav ul.menu {
margin-bottom: 0;
}

.section-nav ul.menu li {
list-style: none;
background-color: #FFF;
text-align: left;
}

.section-nav ul.menu li a {
display: block;
text-decoration: none;
padding: .6em;
border-bottom:1px solid #ccc;
}


.section-nav a:link, .section-nav a:visited { color: #4384C4; }
.section-nav a.active { color: #000; }


/* Section Nav - Section Heading */
.section-nav ul.menu li.first.last.expanded.active-trail {
	background-color: #1E2540;

}

.section-nav ul.menu li.first.last.expanded.active-trail a.active-trail {
	color:#FFF;
	background-color: #1E2540;
}

/* Section Nav - hildren */



.section-nav ul.menu ul.menu li.first.expanded.active-trail li.first.last.expanded.active-trail a.active-trail {
    background-color: #4384C4;
    color: #FFFFFF;
}









