/* Site Info */

#boxes-box-site_info,
#boxes-box-site_info a {  
font-family: 'Georgia,serif';
color:#161616;
}

#boxes-box-site_info p a  {  
display:none;
}

#boxes-box-site_info h1 {font-size: 30px;font-weight: normal;margin:70px 0 -50px 0; line-height: 10px;}

#boxes-box-site_info h2 {font-size: 24px;font-weight: normal;font-style: italic;}

/* Calendar Overrides */
.calendar-calendar {margin-top:-20px;}


.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
    background: none;
    border-radius: 0;
    float: none;
    font-size: 12px;
    left: auto;
    padding: 5px 0;
    position: absolute;
    right: 60px;
    text-align: right;
    top: 0;
    width: auto;
    z-index: 1;
}

.block-views .view .date-nav-wrapper .date-prev {
    left: 60px;

}

.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a  {
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    font-size:0;   
}


.view-os-events ul li {
    border-bottom: none;
}



.calendar-calendar td {
    text-align: center;
    height:35px;
}

.calendar-calendar th.days {
    font-size:12px;
}

.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
    background-color: #FFF !important;
    border:1px solid #ccc;
}

table td.mini a {
    font-weight: bold;
}

table .mini-day-on a {
    text-decoration: none;
}



/* Tabs Overrides */

.block-boxes-os_boxes_tabs .ui-widget {
    margin-top:25px;
}

.ui-tabs .ui-tabs-panel {
    background-image: none;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 1px;
    padding: 10px;
}


.ui-tabs .ui-corner-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin: 0;
    padding: 10px 0;
}


/* Slideshow Classic */

#slideshow.classic {
	position:relative;
	color:#FFF;
}

#slideshow.classic .title_and_controls {
	background: url('../images/slideshow_tileBgtransparency.png') repeat-y;

	width:400px;
	min-height:100px;
	position:absolute;
	top:40px;
	left:40px;
	padding:25px 0 0 25px;
}

#slideshow.classic .title_and_controls .title {
	font-family: 'Georgia,serif';
    font-size: 30px;
    
}



