
/* Site Info */
#boxes-box-site_info {
  margin-top: 25px;
  min-height: 120px;
}

#boxes-box-site_info,
#boxes-box-site_info a {  
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
}

#boxes-box-site_info p,
#boxes-box-site_info h1,
#boxes-box-site_info h2 {
  margin: 0;
  position: relative;
  font-weight: normal;
  top: 28px;
}

#boxes-box-site_info p {
  line-height: 1.4;
  top: 32px;
}

#boxes-box-site_info p a {  
  display: none;
}

#boxes-box-site_info h1 {
  font-size: 30px;
}

#boxes-box-site_info h2 {
  font-size: 24px;
  font-style: italic;
  position: absolute;
  top: 0;
}




/* Search */
#search-block-form {
  padding-bottom: 5px;
}

#search-block-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit {
  background: url("../images/hwpi_basesprite.png") no-repeat scroll 2px -59px transparent;
  height: 32px;
  width: 44px;
}

/*  
input[type="search"] {
-moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top:-7px; 
}
*/

#search-block-form .container-inline {
  height: auto;
  line-height: normal;
  max-width: none;
  padding-right: 0;
}

#search-block-form .container-inline .form-item .form-text {
  border-color: #d4d4d2;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  height: 29px;
  -moz-border-bottom-colors: #d4d4d2;
  -moz-border-left-colors: #d4d4d2;
  -moz-border-right-colors: transparent;
  -moz-border-top-colors: #d4d4d2;
}

#search-block-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit {
  margin: 0 -100% 0 -41px !important;
}




/* Calendar Overrides */
.view-os-events ul li {
  border: none;
}

.view-os-events .views-field-colorbox {
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
}

#block-views-os-events-block-2 .view-content li {
  margin-bottom: 15px;
}

.calendar-calendar td {
  text-align: center;
  color: #1e1e1e;
}

.calendar-empty {
  display: none;
}

.calendar-calendar th.days {
  font-size:12px;
}

.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #FFF !important;
}

table td.mini,
table th.mini,
table.mini td.week {
  margin: 0;
  padding: 1px 3px;
}

table td.mini,
table td.mini a {
  font-weight: bold;
}

.calendar-calendar th.days {
  background-color: #f3f3f2;
  border: 1px solid #e5e5e3;
  color: #1e1e1e;
}

.calendar-calendar .mini-day-on {
  border: 1px solid #e5e5e3;
  padding: 0;
}

table .mini-day-on a {
  text-decoration: none;
}

.calendar-calendar .mini tbody {
  border:1px solid #e6e6e3;
}

.view .date-nav-wrapper .date-nav {
  padding: 0;
}

.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
  background: none;
  border-radius: 0;
  overflow: hidden;
}

#block-views-os-events-block-1 .view .date-nav-wrapper .date-next {
  right: 1px;
}

.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a {
	width: 15px;
  height: 13px;
  display: inline-block;
  font-size: 0;
  outline: none;
}

.view .date-nav-wrapper .date-prev a {
	background: url('../images/cal_leftarrow.gif') no-repeat;
}

.view .date-nav-wrapper .date-next a  {
  background: url('../images/cal_rightarrow.gif') 0 1px no-repeat;
}

.date-nav h3  {
	font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight:normal;
  font-size:16px;
}






.ui-tabs .ui-tabs-nav li a {
  text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	letter-spacing:0.1em;
  font-weight:bold;
}





/* Spotlight Widget */
#content-column .block.block-boxes-os_boxes_manual_list {
  background: #F0F0EE;
  border:1px solid #ccc;
  padding:0 15px;
}


#content-column .block.block-boxes-os_boxes_manual_list h2.block-title {
    padding: 0 0 10px;
    border-bottom:1px solid #D9D9D7;
    margin-bottom: 20px;
}


#content-column .block.block-boxes-os_boxes_manual_list ul {
    list-style: none;
}



/* Tabs Overrides */
.block-boxes-os_boxes_tabs .ui-widget {
  margin-top:25px;
}

.ui-tabs .ui-tabs-panel {
  background-image: none;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 1px;
  padding: 10px;
}

.ui-tabs .ui-corner-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin: 0;
  padding: 15px 15px 15px 0;
}

.ui-corner-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  /*background: #F0F0EE;*/
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #CCCCCC;

}



/* Slideshow Classic Frontpage */
.slideshow {
	position:relative;
	color:#FFF;
	clear:both;
}

.slideshow.classic .text-and-controls {
	background: url('../images/slideshow_tileBgtransparency.png') repeat-y;
  width:400px;
	min-height:100px;
	position:absolute;
	top:40px;
	left:40px;
	padding:25px 0 0 25px;
}

.slideshow.classic .text-and-controls .title {
	font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 34px;
  line-height: 40px;
  text-shadow: 0 1px 1px #333;
}

.slideshow.classic .text-and-controls .controls {
	margin:30px 0 20px;
}

.slideshow.classic .text-and-controls a.prev,
.slideshow.classic .text-and-controls a.next {
	overflow: hidden;
  text-indent: -99999999px;
  background: url("../images/hwpi_basesprite.png") no-repeat 0 0;
  width:28px;
  height:28px;
  font-size: 0;
  display:inline-block;
  line-height: 0;
}

.slideshow.classic .text-and-controls a.next {
  background: url("../images/hwpi_basesprite.png") no-repeat 0 -30px;	
 }
 
.slideshow.classic .text-and-controls .pager a {
	overflow: hidden;
  text-indent: -99999999px;
  background: url("../images/hwpi_basesprite.png") no-repeat 0 -93px;
  width:20px;
  height:28px;
  font-size: 0;
  display:inline-block;
  line-height: 0;
}

.slideshow.classic .text-and-controls .pager a.active {
  background: url("../images/hwpi_basesprite.png") no-repeat 0 -122px;
}



/* Slideshow Classic Subsite */
.slideshow.classic.subsite .text-and-controls {
	background: none repeat scroll 0 0 #4384C4;
  min-height: 100px;
  padding: 25px 0 5px 25px;
  position: relative;
  top:-7px;
  left:0;
  width:96%;
  clear:both;
}

.slideshow.classic.subsite .text-and-controls a.prev, 
.slideshow.classic.subsite .text-and-controls a.next {
  background: url("../images/hwpi_basesprite.png") no-repeat scroll 0 -150px transparent;
}

.slideshow.classic.subsite .text-and-controls a.next {
  background: url("../images/hwpi_basesprite.png") no-repeat 0 -179px;	
 }

.slideshow.classic.subsite .text-and-controls .pager a {
  background: url("../images/hwpi_basesprite.png") no-repeat scroll -29px -150px transparent;
}

.slideshow.classic.subsite .text-and-controls .pager a.active {
  background: url("../images/hwpi_basesprite.png") no-repeat scroll -29px -179px transparent;
}



/* AddThis */
.block-boxes-os_boxes_addthis .boxes-box-content {
  padding: 15px 0;
}


































