
.page .block.block-boxes-os_slideshow_box ul {
    list-style: none;
}

.hero {
    padding: 0 !important;
    position: relative;
}

.hero object, .hero embed {
    float: left;
    width: 100%;
}
.hero-copy {
    -moz-box-sizing: border-box;
    background: #444;
    clear: both;
    color: #FFFFFF;
    padding: 12px 30px;
}

.hero-copy a,
.hero-copy a:visited {
    color: #FFFFFF;
}


.hero-copy p {
    font: 16px/24px arial,sans-serif;
}
.hero-copy h2 {
    font: 32px/40px georgia,serif;
    margin-bottom: 12px;
}

.hero-copy h2 a {
    font: 32px/40px;
    margin-bottom: 12px;
}

.rslides .caption {
    margin: 0;
}
.rslides {
    list-style: none outside none;
    margin: 0;
    padding: 0 !important;
    position: relative;
    width: 100%;
}
.rslides li {
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.rslides img {
    border: 0 none;
    display: block;
    float: left;
    height: auto;
    margin-bottom: 0;
    max-width: 100%;
}
.rslides_tabs {
    background: #444;
    clear: both;
    font-size: 18px;
    line-height: 1;
    list-style: none outside none;
    margin: 0;
    padding: 0 30px 12px;
    position: relative;
    z-index: 10;
}
.rslides_tabs:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.rslides_tabs li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    float: left;
    margin: 0;
}

.rslides_tabs li * {
    vertical-align: middle;
}
.rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}
.rslides_tabs li:first-child a {
    margin-left: 0;
}
.rslides_tabs a,
.rslides_tabs a:visited {
    -moz-box-sizing: border-box;
    color: #4F524C;
    display: inline-block;
    font-size: 28px;
    font-weight: normal;
    height: auto;
    line-height: 24px;
    margin: 0 0 0 5px;
    min-height: 30px;
    padding: 1px 5px 0;
    text-decoration: none;
    width: auto;
}

.rslides_tabs li.rslides_here a {
    color: #FFFFFF;
}

a.rslides_nav {
    background: none repeat scroll 0 0 #284F76;
    color: white !important;
    float: none;
    font-size: 14px;
    padding: 2px 7px 0;
    
}

a.rslides_nav.next {
    background: url('../images/ss_arrow.png') -20px 2px #284F76;
    padding: 1px 13px 0;
}

a.rslides_nav.prev {
    background: url('../images/ss_arrow.png') 2px 2px #284F76;
    padding: 1px 13px 0;
}

/** 3.1 OVERLAY **/
 #layout_3_1_overlay .hero {
    min-height: 315px;
}
	
 #layout_3_1_overlay .hero img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

 #layout_3_1_overlay .hero-copy {
    background: none repeat scroll 0 0 rgba(30, 30, 30, 0.6);
    position: relative;
    width: 420px;
    z-index: 2;
}

 #layout_3_1_overlay .rslides li {
    -moz-box-sizing: border-box;
    min-height: 315px;
    padding: 48px 0 0 60px;
}

 #layout_3_1_overlay .rslides_tabs {
    background: none repeat scroll 0 0 transparent;
    bottom: 30px;
    position: absolute;
    right: 30px;
    z-index: 100;
}

 #layout_3_1_overlay .rslides_tabs li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}

/** 16.9 BELOW **/

#layout_16_9_below .rslides_tabs {
    padding: 0 30px 12px;
 
}
	
/** 16.9 OVERLAY **/
	
#layout_16_9_overlay {
	margin-bottom:-40px;
}

#layout_16_9_overlay .hero {
    min-height: 430px;
    padding: 0 !important;
    z-index: 1;
}	


#layout_16_9_overlay .hero-copy {
    background: none repeat scroll 0 0 rgba(30, 30, 30, 0.6);
    bottom: 0;
    padding-bottom: 48px;
    position: absolute;
    z-index: 2;
    width: 100%;
}	
	
#layout_16_9_overlay .rslides_tabs {
    background: none repeat scroll 0 0 transparent;
    bottom: 45px;
    left: 28px;: absolute;
    z-index: 100;
}	

#layout_16_9_overlay .hero-copy p {
    font: 16px/24px arial,sans-serif;
    margin-bottom: 24px;
    padding: 0;
}

#layout_16_9_overlay .hero-copy h2 {
    font: bold 22px arial,sans-serif;
    margin-bottom: 0;
}
	
 /** 16.9 SIDE **/ 

#layout_16_9_side .hero {
    position: relative;
}
#layout_16_9_side .hero {
    background: #444;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    min-height: 314px;
    position: relative;
    z-index: 2;
}
#layout_16_9_side .hero:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#layout_16_9_side .hero img {
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 57.0552%;
    z-index: 2;
}
#layout_16_9_side .hero object, #layout_16_9_side .hero embed {
    float: left;
    width: 100%;
}
#layout_16_9_side .hero-copy {
    -moz-box-sizing: border-box;
    background: #444;
    border-radius: 0 0 0 0;
    clear: both;
    color: #FFFFFF;
    padding: 12px 30px;
    text-align: center;
}
#layout_16_9_side .hero-copy {
    background: none repeat scroll 0 0 transparent;
    clear: none;
    float: right;
    padding-top: 40px;
    position: relative;
    width: 38%;
    z-index: 4;
}


@-moz-document url-prefix() { 
  #layout_16_9_side .hero-copy {
    width: 44%;
}
}

#layout_16_9_side .hero-copy p {
    font: 17px/24px arial,sans-serif;
    padding: 0;
}
#layout_16_9_side .hero-copy h2 {
    font: bold 30px arial,sans-serif;
    margin-bottom: 12px;
}
#layout_16_9_side .hero-copy h2 {
    text-shadow: 0 1px 0 rgba(37, 37, 37, 0.75);
}
#layout_16_9_side .rslides .caption {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    margin: 0;
}
#layout_16_9_side .rslides {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#layout_16_9_side .rslides li {
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#layout_16_9_side .rslides img {
    border: 0 none;
    display: block;
    float: left;
    height: auto;
    margin-bottom: 0;
}
#layout_16_9_side .rslides_tabs {
    background: none repeat scroll 0 0 #880F1C;
    border-radius: 0 0 3px 3px;
    clear: both;
    font-size: 18px;
    line-height: 1;
    list-style: none outside none;
    margin: 0;
    padding: 0 30px 24px;
    position: relative;
    text-align: center;
    z-index: 10;
}
#layout_16_9_side .rslides_tabs:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#layout_16_9_side .rslides_tabs {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    float: right;
    width: ;
}


@-moz-document url-prefix() { 
  #layout_16_9_side .rslides_tabs {
    width: ;
}
}

#layout_16_9_side .rslides_tabs li {
    display: inline-block;
    font-family: georgia,serif;
    margin: 0;
}
#layout_16_9_side .rslides_tabs li * {
    vertical-align: middle;
}
#layout_16_9_side .rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
#layout_16_9_side .rslides_tabs li:first-child {
    margin-left: 0;
}
#layout_16_9_side .rslides_tabs li:first-child a {
    margin-left: 0;
}

#layout_16_9_side .rslides_tabs .rslides_here a {
    color: #FFFFFF;
}





	
