.page .block.block-boxes-os_slideshow_box ul,
#columns .block.block-boxes-os_slideshow_box ul {
    list-style: none;
}

/* Hero Styles */
.os_slideshow {
  position: relative;
  padding: 0 !important;}
  .layout_3_1_overlay .os_slideshow {
    min-height: 315px; }
    .layout_3_1_overlay .os_slideshow img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }

.os_slideshow-copy {
  clear: both;
  background: #4384c4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 30px 48px;
  color: #fff; }
  .layout_3_1_overlay .os_slideshow-copy {
    position: relative;
    z-index: 2;
    background: transparent url(/a/i/transparent-black.png) repeat;
    background: rgba(30, 30, 30, 0.6);
    width: 420px;
    padding: 12px 30px; }
    .lt-ie8 .layout_3_1_overlay .os_slideshow-copy {
      left: 40px; }
  .os_slideshow-copy p {
    font: 16px/24px arial, sans-serif; }
  .os_slideshow-copy h2 {
    font: normal 32px/40px georgia, serif;
    margin-bottom: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

.flexslider {
  background: #4384c4; }
  .layout_3_1_overlay .flexslider {
    background: transparent;
    min-height: 315px; }

.slides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding-bottom: 36px; }
  .layout_3_1_overlay .slides li {
    min-height: 315px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 48px 0 0 60px;
    background: transparent; }
    .lt-ie8 .layout_3_1_overlay .slides li {
      padding-left: 0; }

.controls-wrap {
  bottom: 12px;
  left: 30px;
  position: absolute;
  padding: 0 32px;
  z-index: 100000; }
  .layout_3_1_overlay .controls-wrap {
    left: auto;
    right: 30px; }
  .lt-ie8 .controls-wrap {
    padding: 0; }

.flex-control-nav {
  list-style: none;
  padding: 9px 5px 3px;
  clear: both;
  z-index: 100;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  position: static;
  margin: 0;
  width: auto;
  background: rgba(0, 0, 0, 0.2); }
  .flex-control-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .flex-control-nav {
    height: 1%; }
  .lt-ie8 .flex-control-nav {
    display: none; }
  .flex-control-nav li {
    vertical-align: top; }
  .lt-ie9 .flex-control-nav {
    background: #366a9d; }
  .layout_3_1_overlay .flex-control-nav {
    right: 30px;
    bottom: 30px;
    left: auto;
    background: rgba(0, 0, 0, 0.8); }

.flex-control-paging li a {
  background: #7093b7;
  font-size: 0; }
  .layout_3_1_overlay .flex-control-paging li a {
    background: #4f524c; }

.flex-control-paging li a.flex-active {
  background: #fff; }

.flexslider .slides img {
  margin-bottom: 0; }

.flex-direction-nav {
  clear: both;
  z-index: 100;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  width: auto; }
  .flex-direction-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .flex-direction-nav {
    height: 1%; }
  .flex-direction-nav li {
    margin: 0;
    vertical-align: middle; }
  .flex-direction-nav a {
    padding: 6px 8px 6px;
    position: absolute;
    right: 0;
    top: 0;
    background: #284f76;
    color: #284f76; }
    .layout_3_1_overlay .flex-direction-nav a {
      background: #3a72ab;
      color: #3a72ab; }
    .lt-ie8 .flex-direction-nav a {
      position: static; }
  .lt-ie8 .flex-direction-nav {
    padding-bottom: 12px 5px;
    min-height: 20px; }

.flex-direction-nav .flex-prev {
  font-size: 0;
  text-decoration: none;
  left: 0;
  right: auto; }
  .flex-direction-nav .flex-prev:after {
    content: "\28";
    font-family: 'icomoon';
    color: #fff;
    font-size: 16px; }
  .lt-ie8 .flex-direction-nav .flex-prev {
    font-size: 14px;
    color: #fff; }

.flex-direction-nav .flex-next {
  font-size: 0;
  text-decoration: none;
  margin-left: 5px; }
  .flex-direction-nav .flex-next:after {
    content: "\27";
    color: #fff;
    font-size: 16px;
    font-family: 'icomoon'; }
  .lt-ie8 .flex-direction-nav .flex-next {
    font-size: 14px;
    color: #fff; }

.lt-ie9 .flexslider .slides > li {
  width: 642px !important; }
.lt-ie9 .layout_3_1_overlay .flexslider .slides > li {
  width: 978px !important; }

.lt-ie8 .flexslider .slides > li {
  width: 100% !important; }
.lt-ie8 .layout_3_1_overlay .flexslider .slides > li {
  width: 100% !important; }


