body {
	font:0.9em/1.5em Helvetica Neue,Helvetica,Arial,sans-serif;
	background: #909d9c;
	}

a, a:visited {
	color:#0C54B3;
	}

h2, h3, h4 {
	font-style:normal;
	}
	
#page {
	box-shadow: 0 0 30px #555555;
    margin: 0 auto;
    padding: 1px 0 0;
    width: 980px;
}

.sidebar-second #page {
	background-position: -2040px 0;
}

body.header-main .region-header-second {
	padding-top: 4px;
	padding-bottom: 0;
	}

#header-container {
	height:123px;
	background: none repeat scroll 0 0 #FFFFFF;
	}

.region-header-first {
	right:268px;
	}

.region-header-first.column {
	padding-top:2px;
	padding-left:0;
	padding-right:0;
	}


.region-header-second h1 a {
	width: 208px;
	height: 113px;
	display: block;
	}
	
#menu-bar {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom-color: #D17033;
    border-top: 0 none;
    padding-left: 17px;
}

#menu-bar #block-os-primary-menu {
    background: none repeat scroll 0 0;
    height: 26px;
    margin-left: 0;
    margin-right: 0;
}

#menu-bar li {
	padding-top: 2px;
	padding-left: 1px;
	border-right: 1px solid #BBBBBB;
	}

#menu-bar li a {
	color: #544F4F;
    font-size: 11px;
    font-weight: normal;
    padding: 6px 15px 5px;
    text-transform: uppercase;
    line-height: 14px;
	display:block;
	}

#menu-bar li a:hover,
#menu-bar li a.active,
#menu-bar li.active-trail a {
	background: #C55B28;
	color: #fff;
	}
	
#columns {
	overflow:hidden;
	}

#content-column, .region-sidebar-first, .region-sidebar-second {
margin-bottom: -2000px;
padding-bottom: 2000px;
}

#content-column {
	background: #F8F8EF;
}

.region-sidebar-first {
	background: #FFFFFF;
}
.region-sidebar-second {
	background: #EBEFF1;
	padding-left: 30px;
	width: 170px;
}

.region-sidebar-second h2.block-title,
.region-sidebar-first h2.block-title {
	color:#C55B28;
	}

.region-sidebar-second li a,
.region-sidebar-first li a {
	color: #0C54B3;
	}

.region-sidebar-second ul.menu li,
.region-sidebar-first ul.booktoc li {
	padding: 2px 0;
	line-height: 1.5em;
	list-style: none outside none;
	}

.region-sidebar-second ul.menu li a,
.region-sidebar-first ul.booktoc li a {
	display: block;
	border-bottom: 1px dotted #ccc;
	}

.region-sidebar-first ul.booktoc a.active {
	font-weight: bold;
	}

.region-sidebar-first li.booktoc ul.booktoc li a {
	padding-left: 1em;
	}

.block-scholar_book h2.block-title {
	margin-bottom: 1em;
	}

.hmpgblurbs td {
	vertical-align: top;
	border-bottom: 1px dotted #ccc;
	padding: 20px 0;
	}

.blurb ul, .blurb li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}

.blurb {
	width:340px;
	padding-right: 20px;
	}

.blurb h3 {
	margin:0 0 .25em 0;
	font-size: 1.7em;
	font-style: normal;
	color: #c55b28;
	}

.blurb p {
	margin:0;
	padding:0;
	}

.blurb .readmore {
	margin-top:.5em;
	}

.blurb .quicklinks h5 {
	font-weight:normal;
	padding-bottom:0;
	margin-top:1em;
	margin-bottom:.25em;
	}

.blurb .quicklinks ul {
	list-style:none;
	padding:0;
	margin-top:0;
	margin-bottom:0;
	}

.blurb .quicklinks li {
	padding:0;
	}

td.welcome {
	vertical-align: middle;
	}

.view-Downloads .view-content {
	padding-left:12px;
	border-left: 1px dotted #ccc;
	}

.view-Downloads .views-field-title,
.view-Downloads .views-field-teaser {
	padding: 0 8px;
	}

.view-Downloads .views-field-title h4 {
	margin: 1em 0;
	padding: 0;
	font-size: 1.2em;
	text-align:left;
	}

.view-Downloads .views-field-title h4 a {
	color:#757a84;
	}

.view-Downloads .views-field-title h4 a:hover {
	color:#BF4C00;
	}

.view-Downloads .views-field-teaser p {
	margin: 0;
	text-align:left;
	}

#download_button {
	margin: 0 auto;
	width:144px;
	height:36px;
	background:url('images/download_bkgnd.gif') no-repeat;
	text-align:center;
	}

#download_button a {
	color:#fff;
	text-decoration:none;
	}

#download_button h3 {
	width:144px;
	height:36px;
	line-height:36px;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align:center;
	}

.footnotes {
	border-top: 1px dotted #ccc;
	font-size: .75em;
	}

.action_button {
	background:transparent url('images/button_bkgnd.gif') no-repeat scroll 0 0;
	height:36px;
	margin:0 auto;
	text-align:center;
	width:188px;
  }

.action_button h3 {
	font-size:16px;
	height:36px;
	line-height:36px;
	margin:0;
	padding:0;
	text-align:center;
	width:188px;
  }

.action_button a {
	color:#FFFFFF;
	text-decoration:none;
	}
	
.front #columns .title {
	display: none;
}
body.no-sidebars #header, 
body.no-sidebars #columns .hg-container, 
body.sidebar-second #columns .hg-container, 
body.no-sidebars #footer {
  padding-left: 21px;