
/* Typography  */
h1#page-title,
h1.node-title, 
.page-search h3.title a {
	font-family: 'Georgia', serif;
	font-weight:normal;
	font-size:16px;
}

h1#page-title {
	font-size:38px;
	margin-top:30px;
	margin-bottom: 0.5em;
}


h2.block-title {
	padding:10px 0;
	text-transform:uppercase;
	font-size:12px;
	font-weight:normal;
	letter-spacing:0.1em;
	font-weight:bold;
}

#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link {
  text-decoration:underline;
  font-family: 'Georgia', serif;
}

.page-search h1#page-title {
  margin-top:10px;
}

#header {
	background: #e6e6e3;
}

#menu-bar {
	background: #f3f3f1;
}

#footer ul.menu a {
	text-transform:none;
	font-family: 'Georgia', serif;
	font-size:16px;
}

.page-search #content-column p
.not-front #content-column p {
  font-family: 'Georgia', serif;
  font-size: 16px;
}

.not-front.two-sidebars #content-column .content-inner {
	border-right:1px solid #e7e7e7;
}

.sidebar .block,
.front #content-column .block {
	border-top: 3px solid #4384C4;
}
 
.sidebar .block.section-nav,
#content-column .block.section-nav {
	border-top: none;
}

#footer {
	border-top:3px solid #D9D9D7;
	background:#F0F0EE;
}




