html, body {
    overflow-x: hidden;
}

.region-header-second {
  text-align:right;
  }
  

#boxes-box-site_info {
    padding-left:0;
    border-left:none;
    margin-bottom: -20px;
}

#block-os-site_search.no-title, 
.block-os-search-solr.no-title, 
.block-os-search-db.no-title {
	background-image: url("../images/columnsBg.png");
    float: right;
    height: 30px;
    margin-top: -15px;
    padding: 10px;
    width: 280px;
	-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
}

#search-block-form .container-inline .form-item .form-text {
  border: 1px solid #FFF;
  }


/* MENU BAR */
#menu-bar {
    background: #FFF;
    margin-top: -10px;
}

#menu-bar ul.menu {
    margin-bottom:0;
    text-align: right;
    float:right;
}

#menu-bar ul.menu li a,
#menu-bar ul.menu li a:visited {
font-size: 20px;
color:#000;
} 

#menu-bar ul.menu li a:hover,
#menu-bar ul.menu li a.active {
  color: #df0800 !important;
  }

#menu-bar ul.menu li.first a {
  background:url('images/download.png') no-repeat 0 29px transparent;
  padding-left: 23px;
  }
  
#menu-bar ul.menu li {
    line-height: 75px;
   display:inline-block;
}  
  

#header-container h1 {
  width:285px;
  height: 50px;
  text-indent: -999em;
  background: url('images/logo.png') no-repeat 0 0 transparent;
  margin: 0 0 0 5px;
  }
  
#header-container h1 a, #header-container h1 a:visited {
  display:block;
  width:279px;
  height: 31px;
  }

#header-container h2, #header-container p {
  display:none;
  }  
  

.front.no-sidebars .region-content-top {
    width: 100%;

}

.front.no-sidebars .region-content-top .region-inner{
padding-top: 0;
}

.front.no-sidebars .region-content-top:after {
    background: none repeat scroll 0 0 #373737;
    bottom: auto;
    content: "";
    display: block;
    height: 367px;
    left: -1000px;
    position: absolute;
    right: auto;
    top: -15px;
    width: 3000px;
    z-index: 1;
}  

.front .content-left.content-right.content-bottom .at-panel .region.region-content-first, 
.front .content-left.content-right.content-bottom .at-panel .region.region-content-second, 
.front .content-left.content-right.content-bottom .at-panel .region.region-content-bottom {
    /*margin: -15px 0 15px 0 !important;*/
}

.front #content-panels .region-content-first .block.block-boxes-os_boxes_html:first-child {
    background: url('images/harvardShieldBg.png') 240px 20px no-repeat #FFFFFF;
}

.front #content-panels .region-content-bottom .block.block-boxes-os_boxes_html:first-child {
    background: url('images/globe.png') 230px 20px no-repeat #FFFFFF;
}

.front #content-panels .region-content-bottom .block.block-boxes-os_boxes_html:nth-child(2) {
   -moz-box-sizing: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 -20px;
}

.view-os-image-gallery-slideshow .views-slideshow-controls-bottom {
    margin: -5px auto 0;

}

.view-os-image-gallery-slideshow {
    margin-top: -55px;
}



/* SECTION NAVIGATION */


#boxes-box-os_pages_section_nav {
	border-right:none;
	border:none !important;	
}


.section-nav a,
.navigation ul.menu li a  {
	background:url('images/sectionNavBgofflast.gif') -11px 0 no-repeat !important;
	
}

.navigation ul.menu li a,
.section-nav .menu-depth-1 > a {
	background:url('images/sectionNavBgofffirst.gif') -11px 0 no-repeat !important;
	color: #444 !important;
	text-transform: none;
}

.navigation ul.menu li a:hover,
.navigation ul.menu li a.active,
.section-nav a.active, 
.section-nav a:hover {
	background:url('images/sectionNavBg.gif') -1px center no-repeat !important;
	color: #4273AB !important;
	
}

.section-nav ul.menu li a,
.navigation ul.menu li a {
  padding: 14px 0 14px 15px;
  color:#444;
  font-weight:bold;
  display:block;
   border-bottom:none;
}

/* BOOK NAVIGATION */

.sidebar .block.block-boxes-os_boxes_booktoc .block-content {
    padding:0;
}

.block.block-boxes-os_boxes_booktoc {
	border: none;
    box-shadow: none;
}

.navigation ul.menu,
.navigation ul.menu li {
    background: none !important;
    border: none !important;

}

.navigation ul.menu li a {
    padding-left: 18px;

}

.navigation ul.menu li a.active {
	font-style:normal;
}






