/* layout */
.container {width:100%}
#content-column,.content-column,div.sidebar {float: left; clear: none}
.sidebar-first .content-inner {margin-left: 170px; margin-right: 0}
.region-sidebar-first {width: 170px; margin-left: -100%}
.region-sidebar-first {background:#EFF0F0;border-right:1px solid #B2BABA;}
