.project
.buildpath
.settings
.idea

# Don't track temporary files or Mac OS system files.
*~
*.DS_store

# Dont's track coder module backups
*.coder.orig

#behat
behat/vendor
behat/bin
behat.local.yml
composer.phar

