.project
.buildpath
.settings

# Don't track temporary files or Mac OS system files.
*~
*.DS_store

# Dont's track coder module backups
*.coder.orig

www
openscholar/modules/contrib
openscholar/themes/contrib

openscholar/behat/bin
openscholar/behat/vendor
openscholar/behat/composer.lock
openscholar/behat/composer.phar