.project
.buildpath
.settings

# Don't track temporary files or Mac OS system files.
*~
*.DS_store

# Dont's track coder module backups
*.coder.orig

# Make-file related
sites-backup
www
www-build
openscholar/modules/contrib
openscholar/themes/contrib
openscholar/libraries
openscholar/1
install.sh

# Behat
behat.local.yml
openscholar/behat/bin
openscholar/behat/vendor
openscholar/behat/composer.phar