html,body {
  background: #697a64;
  }

h2, h1#page-title {
  color: #adad84;
  }

.region-sidebar-first a,
.region-sidebar-first a:visited,
.region-sidebar-second a,
.region-sidebar-second a:visited,
#header-container a,
#header-container a:visited,
#header-container,
#header-container h1 a,
#header-container h1 a:visited {
  color: #fff;
  }


.region-sidebar-first a:hover,
.region-sidebar-second a:hover,
#header-container h1 a:hover {
  background: #EEF788;
  color: #333;
  }

.region-sidebar-first a.active,
.region-sidebar-first .active-trail a,
.region-sidebar-second a.active,
.region-sidebar-second .active-trail a {
  color: #444;
  background: #D7E07B;
  }
  
.term-head {
color: #DDD;
}
