
	
.region-sidebar-first #block-os-primary-menu li a, .region-sidebar-second #block-os-primary-menu li a {
  line-height: 25px;
  text-transform:uppercase;
 font-weight:normal;
  font-size: 12px;
vertical-align: top; 
position: relative; 
top: -8px;
}
