/* D6 retro css for older themes */
#columns {padding:0 10px;}

html, body {
  background: #E5E5E4;
  color:#333;

  }

.biblio-title a, .biblio-title-chicago a,
a, a:visited {
  text-decoration: none;
  padding: 0 2px 0 2px;
  
  }

a.toggle,
a.toggle:visited {
  padding-right: 15px;
  background-position: 100% -193px;
  }

a.toggle.expanded {
  background-position: 100% -212px;
  }

a:hover {
  color:#000;
  background-color:#ebea8d;
  text-decoration: none;
  }

#boxes-box-site_logo a:hover {
  background: transparent;
  }

h1, h2, h3, .region-sidebar-second a, #menu-bar, #header-container {
  font-weight: bold;
  }

h1 a, h2 a, h3 a, .region-sidebar-second a {
  font-style: normal;
  }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h2, h1#page-title {
  margin-bottom: 0;
  }



h1#page-title {
  margin-bottom: .4em;
   font-size: 1.5em;
  }
  
  
h2.block-title {
	font-size:1.1em;
}

/* LAYOUT */

#columns .hg-container .column {
  padding:0;
  }


#content-column,
#content {
    padding: 0;
    padding-top: 1px;
    }

#columns .hg-container .column {
  padding:0 0 0 15px;
  }
  
  
.region-sidebar-second.sidebar.column {padding-left:0;}

.region-sidebar-first {

  margin-top: 10px;
  }


.region-sidebar-second {
/*margin-right: -195px;*/
  margin-top: 10px;
  padding-left: 0;
  }

.region-header-third {
  padding-right: 0;

  }


.region-header-first .region-inner {padding-top:0;}

#content-column .content-inner {
  background: #fff;
  -moz-box-shadow: 0 3px 1em #ccc;
  -webkit-box-shadow: 0 3px 1em #ccc;
  box-shadow: 0 3px 1em #ccc;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E5E5E4;
  padding:0 10px 0 10px;
  }
  
#content-column .node:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#columns .hg-container {
    padding-top: 15px;
}

/* HEADER ELEMENTS */



#header-container h1 {
    font-size: 2em;
    }

#header-container h3,
#header-container a,
#header-container a:visited,
#header-container {
  color:#888;
  }

#header-container h1 a,
#header-container h1 a:visited {
    text-decoration: none;
    padding: 0 4px;
    margin-left: -4px;
    color:#666;
    }

#header-container h2 {
    font-size: 1.2em;
    margin-top:0;
    }

#header-container a, #header-container a:visited {
    text-decoration: none;
    }

#menu-bar ul.nice-menu {
 display: table;
  float: none;
  margin: 0 auto -12px;
  }


#menu-bar li {
    margin-right: 1.5em;
    text-transform: uppercase;
    font-size: 1.1em;
    }
    
@media screen and (-webkit-min-device-pixel-ratio:0) {
/*Chrome CSS here*/
#menu-bar li {
    margin-right: 0;
    }
}    

#menu-bar li a, #menu-bar li a:visited {
    color: #fff;
    }

#menu-bar li a:hover {
    color: #F9E433;
    }

#menu-bar li a.active:hover {
  color: #fff;
  }

#scholar-shield {
  width: 55px;
  }

.region-header-first #scholar-shield {
  float:right;
  }

.region-sidebar-first #scholar-shield {
  margin: 0 0 0 auto;
  }
  
ul.nice-menu-right,
ul.nice-menu-left  {
    border-top: none;
}  

.region-sidebar-first ul.menu ul ul {
    margin-left: 22px;
    top:0;
} 

.region-sidebar-second ul.menu ul ul {
    margin-left: 23px;
    top:0;
} 

ul.nice-menu-right li.menuparent, ul.nice-menu-right li li.menuparent,
ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent {
    background: none;
}

ul.nice-menu-right li.menuparent a {
    background: none;
}

ul.nice-menu-right li.menuparent a:hover {
   background: #CCC;
}

/* SIDEBARS */

.sidebar {
  font-size: 1.1em;
  }

.header-main .region-sidebar-first {
  margin-top: -5px;
  }

.region-sidebar-first,
.region-sidebar-first ul.menu {
    text-align: right;
    }

.region-sidebar-first .block {
  padding-right: 16px;
  }

.region-sidebar-first .block a {
  padding-right: 22px;
  margin-right: -22px;
  }
  
.region-sidebar-first .block .os-links a {
  padding-right: 0;
  margin-right: 0;
  }  

.region-sidebar-second .block {
  padding-left:16px;
  }

.region-sidebar-second .block a {
  margin-left: -22px;
  padding-left: 22px;
  }
  
.region-sidebar-second .block .os-links a {
  margin-left: 0;
  padding-left: 0
  }  

.region-sidebar-first a,
.region-sidebar-first a:visited,
.region-sidebar-second a,
.region-sidebar-second a:visited,
.term-head {
  padding-top: 7px;
  color: #666;
  display:block;
  font-weight: bold;
  }

.region-sidebar-first a:hover,
.region-sidebar-second a:hover{
  background: #bbb;
  color: #000;
  }
/*
.region-sidebar-first .term-head a,
.region-sidebar-second .term-head a {
  display:inline !important;
  }*/

.region-sidebar-first a.active,
.region-sidebar-first .active-trail a,
.region-sidebar-second a.active,
.region-sidebar-second .active-trail a{
  color: #000;
  background:#CECECE;
  font-weight: bold;
  }

/* Nodes */
/*
#content-column .node,
body.section-node-edit #content,
body.section-node-add #content,
#comments {
  padding: 1.5em;
  padding-top:0;
  } */

#content-column .node {
  border-bottom: 1px solid #e5e5e4;

  }

#content h1#page-title,
#content h3.cv-direct-download {
  padding-left:1.5em;
  }

#comments {
  background: #EFEFEF;
  }

h2#comments-title, .comment {
  border: none;
  padding-bottom: 0;
  }

h2#comments-title {
  margin: 0;
  font-size: 1.2em;
  }

.submitted {
  color: #a1b1b1;
  display:block;
  }

#footer p.copy {
  padding: 0 60px;
  }

body.sidebar-first #footer p.copy,
body.two-sidebars #footer p.copy {
  padding-left: 220px;
  }

body.sidebar-second #footer p.copy,
body.two-sidebars #footer p.copy {
  padding-right: 220px;
  }