/* Brown*/

body {
  background:#7A6834;
  }

body.navbar-off #page {
  background-image:url('images/body-bg-alt-brown.png');
  }

#menu-bar {
  background-image: url('images/nav-brown.png');
  }

.biblio-title a, .biblio-title-chicago a,
a, a:visited {
  color: #658ab2;
  }