#boxes-box-site_info, #boxes-box-site_info a {
    font-family: open sans,arial,sans-serif;
}
.region-header-third ul.nice-menu a {
    color: #8A101E;
    font: 15px open sans,arial,sans-serif;
}
#search-block-form .form-item label {
    font-size: 12px;
}
#header {
    background: none repeat scroll 0 0 #F6F8F8;
}
#menu-bar {
    background: none repeat scroll 0 0 #F6F8F8;
}

#menu-bar nav {
    background: none repeat scroll 0 0 #A61D31;
    border-radius: 0 0 0 0;
     box-shadow: 0 0;
}
#menu-bar ul a, #menu-bar ul.nice-menu a, #menu-bar ul.nice-menu .menuparent a {
    color: #FFFFFF;
    font-family: open sans,arial,sans-serif;
    font-size: 18px;
}
.boxes-box-content .caption h2 a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}
#columns .boxes-box-content h2 {
    border-bottom: 3px solid #A61D31;
    color: #000000;
    font-size: 22px;
    line-height: 28px;
    padding: 7px 15px 7px 0;
}
#menu-bar ul.nice-menu a.active, #menu-bar ul.nice-menu a:hover, #menu-bar ul.nice-menu a.active:hover,
 #menu-bar ul.nice-menu .menuparent a.active {
    background: none repeat scroll 0 0 #731422;
    color: #F4f4f4;
}
.front.no-sidebars .region-content-top .block-boxes-os_slideshow_box:after {
    background: none repeat scroll 0 0 #E3EAEF;
}
#columns {

   
}
body {
    font-family: open sans,arial,serif;
    font-size: 16px;
    line-height: 28px;
}
#page-title, .node-title, .page-search .title a, #content-column .block.block-boxes-os_boxes_manual_list .links.inline a, .more-link, .page-search #content-column p, .links a, #footer ul.menu a, .boxes-box-content h2, .view-os-events .views-field-colorbox, .field-name-body h2, .field-name-body h3, .field-name-body h4 {
    font-family: open sans,arial,sans-serif;
}
h1 a, h2 a, h3 a, h4 a {
    font-weight: normal;
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
#header-panels h2 a{
	text-decoratioon:none;
	
}
#layout_16_9_side .hero {
    background: none repeat scroll 0 0 #8996A0;
}
#layout_16_9_side .hero-copy h2 {
    font: bold 30px open sans,arial,sans-serif;
}
#layout_16_9_side .hero-copy p {
    text-shadow: 0 1px 0 rgba(37, 37, 37, 0.75);
}
.boxes-box-content h2 {
    border-bottom: medium none;
    color: #000000;
    font-size: 22px;
    line-height: 28px;
    padding: 7px 15px 7px 0;
}
.boxes-box-content h2 a{
	text-decoration:none!important;
	color:#000!important;
}
.front #content-panels .block-content, .sidebar .block-content {
    border-top: 0 none;
}
.front #content-panels .block, .sidebar .block {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #f6f8f8;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0;
}
.front #content-panels .block-title {
    border-bottom: 3px solid #A61D31;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    padding: 7px 15px;
      margin-bottom: 25px;
   }
sidebar .block-title {
    border-bottom: 3px solid #A61D31;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    padding: 7px 15px;
      margin-bottom: 0;
   }
   
.event-start-month {
    color: #666666;
}
.event-start-day {
    color: #A61D31;
}
.event-start .event-start {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E3EAEF;
    border-radius: 20px 20px 20px 20px;
    width: 60px;
}
span.date-display-single {
    color: #666666;
    font-size:14px;
}
.front #content-panels .block, .sidebar .block {
    margin-bottom: 40px;
}
h2.field-label{
	
	border-bottom:0!important;
	font-size:1em!important;
	padding:0!important;
}
#layout_16_9_side .hero-copy h2 {
    border: 0 none;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(37, 37, 37, 0.75);
}
#content-column .field-name-body h2, #content-column .field-name-body h3, #content-column .field-name-body h4 {
    font-weight: normal;
}
.front #content-panels .block.block-boxes-os_boxes_manual_list {
    background-color: #FFFFFF;
    border: 1px solid #E3EAEF;
    color: #000000;
    padding: 15px;
}
.front #content-panels .block.block-boxes-os_boxes_manual_list a {
    color: #215990;
    font-weight: normal;
}

.front #content-panels .block.block-boxes-os_boxes_manual_list .block-title {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    color: #666666 !important;
    margin-bottom: 0;
    padding: 0 0 18px;
}
/*calendar*/
.calendar-calendar tr {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.calendar-calendar table.mini td.empty {
    background: none repeat scroll 0 0 transparent;
    border-color: #FFFFFF;
}
.calendar-calendar th.days {
    background-color: transparent;
    border-bottom: 1px dotted #CCCCCC !important;
}
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCC;
}
h1.node-title {
    font-weight: normal;
    font-size:20px;
}
#content-column .field-name-body h3 {
    font-size: 20px;
}
ul.links li.link-count-node-readmore {
    background: none repeat scroll 0 0 #E3EAEF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
}
/*main navbar*/
#menu-bar ul.nice-menu .menuparent ul li a {
    background: none repeat scroll 0 0 #1d1d1d !important;
    font-family: open sans,Arial,Helvetica,sans-serif;
    font-weight: normal;
}
#menu-bar ul.nice-menu ul {
    background: none repeat scroll 0 0 #1d1d1d;
}
#menu-bar ul.nice-menu .menuparent ul li a {
    color: #FFFFFF !important;
}
#page-wrapper {
    background-color: #F6F8F8;
}
#footer {
    background: none repeat scroll 0 0 #8F323E;
}
#branding_footer, #branding_header {
    color: #FFFFFF;
    font-weight: normal;
}
#menu-bar ul > li > a:hover,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu li.menuparent:hover a,
 {
  background: #1d1d1d;

}
#menu-bar ul.nice-menu .menuparent a.active,
#menu-bar ul > li > a.active,{
	background:731422;
}
#menu-bar ul.nice-menu .menuparent ul li a:hover,
#menu-bar ul.nice-menu .menuparent ul li a.active {
  background: #1d1d1d !important;
}
#search-block-form input.form-submit, #search-block-form #edit-submit, #search-form #edit-submit {
    background: url("../images/hwpi_basesprite.png") no-repeat scroll 2px -341px transparent;
}

.front #content-panels .block-content, .sidebar .block-content {
    padding: 15px;
}
.block-boxes-os_boxes_sectionnav .block-content{
	padding:0!important;
	
}
/*slideshow*/
#layout_3_1_overlay .hero-copy {
    background: none repeat scroll 0 0 #8996A0;
    opacity: 0.95;
    position: relative;
    width: 420px;
    z-index: 2;
}

#layout_3_1_overlay h2 {
    border-bottom: none;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    padding: 7px 15px 7px 0;
}
.hero-copy p {
    font: 16px/24px open sans,arial,sans-serif;
}
/*sidebar*/
.section-nav .menu-depth-1 > a {
    background: none repeat scroll 0 0 #8996A0 !important;

}
.section-nav ul.menu li a {
    font-weight: normal;
}
/*inside pages*/
h1#page-title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 15px 0 30px;
}
.page-node #content-column .content-inner, .not-front .content-inner {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0;
    padding: 0 30px 20px;
}
.not-front.two-sidebars #content-column .content-inner {
    border-right: 0;
}
.section-nav .menu-depth-1 > ul {
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0;
}
#menu-bar ul.nice-menu .menuparent a span, #menu-bar ul.nice-menu .menuparent a:hover span, #menu-bar ul.nice-menu .menuparent a.active span {
    background: url("../../images/menu-arrow_sh.png") no-repeat scroll right center transparent;

}
.not-front .field-name-body {
    font-family: open sans, arial, sans-serif;
    font-size: 16px;
}
.hg-container {
    padding-top: 0;
}
#layout_16_9_overlay .hero-copy .boxes-box-content h2 {
    border-bottom: none;
    padding: 7px 15px 7px 15px;
}
.breadcrumb a, .breadcrumb {
    color: #666666;
}
#footer ul li a {
    font-weight: normal;
}
#footer a {
    color: #215990;
}
#powered-by a {
    padding: 0 0 0 5px !important;

}
.branding-right {
    font-size: 12px;

}
#columns {
    background-image: url("/profiles/openscholar/themes/hwpi_vibrant/images/standard-body-gradient_sh.png");
}
.view .node-teaser{
	border-bottom:1px dotted #ccc;
	
}
#footer a,
#powerby-login a{
	color:#fff;
}
#boxes-box-site_info h1{
	max-width:65%
}
.block-no-title .view .date-nav-wrapper{
	
	border-top:0;
}

#block-boxes-os-addthis{
	background:transparent;
}
.caption h2{
	border-bottom:0 none;
}
.boxes-box-content .caption h2{
	border-bottom:0!important;
}
.node{
	margin-bottom:50px;
}
