
div.form-item-link-text {
	margin: 0 0 -100px 160px ;
	position: relative;
	z-index: 2;
}

div.vertical-tabs {
	background-position: -120px 0;
}

div.vertical-tabs .vertical-tabs-panes {
	margin-top: 75px;
	margin-left: 145px;
}

.vertical-tabs-pane input[type=submit] {
	display: none;
}

div.vertical-tabs .vertical-tabs-list {
	width: 120px;
}

/* 
  animation for new files added to media browser 
*/

@keyframes pulse {
  from {
    -webkit-transform: scale(1.0, 1.0);
    -moz-transform: scale(1.0, 1.0);
    -ms-transform: scale(1.0, 1.0);
    -o-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}

  to {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}

  to {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.media-item-new {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  -webkit-animation-duration: 1s;
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}