html,body {
  background: #c4ab97;
  }

.region-sidebar-first a,
.region-sidebar-first a:visited,
.region-sidebar-second a,
.region-sidebar-second a:visited,
#header-container a,
#header-container a:visited,
#header-container,
#header-container h1 a,
#header-container h1 a:visited {
  color: #666;
  }

.region-sidebar-first a:hover,
.region-sidebar-second a:hover,
#header-container h1 a:hover {
  background: #A56565;
  color: #fff;
  }

.region-sidebar-first a.active,
.region-sidebar-first .active-trail a,
.region-sidebar-second a.active,
.region-sidebar-second .active-trail a {
  color: #fff;
  background: #6D4E4E;
  }