@media (max-width: 1008px) {


.view .date-nav-wrapper .date-prev {
    right: 90%;
}
.view .date-nav-wrapper .date-next {
    right: 0;
}
#menu-bar ul.menu ul ul {
    background: none repeat scroll 0 0 #24527A !important;
}
.header-left.header-main.header-right .region-header-second .region-inner {
    margin-right: 0;
}
.page-node #content-column .content-inner {
    padding: 0!important;
}
}

@media (max-width: 768px) {

.footer-left.footer.footer-right .region-footer-first, .footer-left.footer.footer-right .region-footer-third, .footer-left.footer.footer-right .region-footer, .footer-left.footer-right .region-footer-first, .footer-left.footer-right .region-footer-third, .footer-left .region-footer-first, .footer-right .region-footer-third {
    width: 100%;
}
.page-node #content-column .content-inner {
    padding: 0!important;
}




}
@media (max-width: 479px){
	
	
.block-boxes-os_sv_list_box .node.node-news.node-promoted .field-type-image.view-mode-sidebar_teaser, .block-boxes-os_sv_list_box .node.node-person.article.with-person-photo .pic-bio, .block-boxes-os_sv_list_box .node.node-person .field-name-field-person-photo {
    float: none;
    margin-right: 0!important;
        width: 100%;
}
article.node-teaser.node-person .field-name-field-person-photo ~ .node-header, article.node-teaser.node-person .field-name-field-person-photo ~ .node-content {
    margin-left: 0!important;
        width: 100%;
}
.block-boxes-os_sv_list_box .node.node-news.node-promoted.article .field-type-image ~ .node-content, .block-boxes-os_sv_list_box .node.node-person.article.with-person-photo .node-content {
    margin-left: 0!important;
    width: 100%;
}
.block-boxes-os_sv_list_box .node.node-news.node-promoted.article .field-type-image ~ .node-content {
    margin-left: 0!important;
}
.field-type-image {
    margin-bottom: 0!important;
}
.node-news.node-teaser .field-name-field-photo {
    float: none !important;
}
	
	
	
	
}
