@media (max-width: 1072px) {
.branding-left img {
    left: 20px;
    position: relative;
}


}
@media (max-width: 1008px)
 {
 	
.media-element[style] {
    display: block !important;
    float: none !important;
    max-width: 100% !important;
}
.item-list .pager {
    clear: both;
    margin-bottom: 35px;
    text-align: center;
}
#branding-container, 
#header-container, 
#columns, 
#menu-bar #block-os-primary-menu, 
#footer .gpanel, 
.region-footer, 
.message-inner, 
#powerby-login {
    width: 100%!important;
}
.branding-container, 
#header-container, 
#columns, 
#menu-bar #block-os-primary-menu, 
#footer .gpanel, 
.region-footer, 
.message-inner, 
#powerby-login {
    width: 100%!important;
}
/*Header*/
.branding-left {
    margin: 10px 0 0 15px;
}
.branding-left img {
    left: 0;
    position: relative;
}
.region-header-third {
    margin: 0 !important;
    text-align: left;
    width: 100%;
}
.region-header-second table {
    margin-bottom: 0;
}
#menu-bar {
    margin: 0;
    padding: 0 15px !important;
}	
#block-boxes-shield{
display:none;	
}
/*layout*/
#columns .region-inner {
    border: medium none;
    margin-bottom: -12px !important;

}

.front .content-left.content-right.content-bottom #content-panels .region {
    margin-bottom: 25px;
}
.one-sidebar.sidebar-first .region-sidebar-first {
    width: 22.6994%;
}
.one-sidebar.sidebar-first .content-inner {
    margin-left: 24.5%;
    margin-right: 0;

}
.two-sidebars .region-sidebar-first {
    float: none !important;
    margin-left: 0;
    width: 100%;
}
.two-sidebars .content-inner {
    float: none;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 63.3%;
}
.two-sidebars .region-sidebar-second {
    left: 68%;
    margin-left: 0;
    padding-left: 5px;
    position: absolute;
    top: 0;
    width: 30.2%;
}
.two-sidebars #content-column, 
.two-sidebars .content-column {
    width: 100%;
}
.two-sidebars .hg-container {
    position: relative;
}
.one-sidebar.sidebar-second .region-sidebar-second {
    left: 68%;
    margin-left: 0!important;
    padding-left: 5px;
    position: absolute;
    top: 0;
    width: 30%!important;
}
.one-sidebar.sidebar-second #content-column .content-inner {
    float: none !important;
    margin-right: 0;
    position: relative;
    width: 67.6%;
}
.one-sidebar.sidebar-second  .hg-container {
    max-width: 100% !important;
    padding: 0 15px;
    position: relative;
}
.not-front.two-sidebars #content-column .content-inner {
    border-right: medium none!important;
}

#menu-bar {
    margin: 0;
    padding: 0 15px !important;
}	
#block-boxes-shield{
display:none;	
}

#branding_footer {
    padding-top: 25px;
}
footer{position:relative;
}
.copyright {
    line-height: 18px;
    margin-left: 15px;
}
.hg-container {
    -moz-box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px!important;
}

table[style] {
    max-width: 100% !important;
}
}


@media (max-width: 768px) {

#header-panels .block-boxes-os_boxes_html table {
    margin-bottom: 55px;
    margin-left: 15px;
    width: 100%;
}
table p {
    font-size: 100%;
}
#header-panels .block-boxes-os_boxes_html td {
    display: block;
    margin: 0 !important;
    max-height: 60px;
    padding: 0 !important;
    width: 100% !important;
}
#header-panels .block-boxes-os_boxes_html td img[style]{
	float:none!important;

}

.region-content-first,
.region-content-second {
    float: none!important;
    width: 100%!important;
}
.region-content-second{
	margin-top:50px!important;
}
.region-inner[style]{
	 min-height: 500px!important;
}
.content-left.content-right .region-content-first .region-inner,
.content-left.content-bottom .region-content-first .region-inner, 
.content-right.content-bottom .region-content-second .region-inner, 
.content-left.content-right.content-bottom .region-content-second .region-inner {
    border-right: medium none;
}
.front .content-left.content-right.content-bottom .region-content-first .region-inner, 
.front .content-left.content-right.content-bottom .region-content-second .region-inner, 
.content-left.content-right .region-content-first .region-inner {
    padding-right: 0;
}
.front .content-left.content-right.content-bottom .region-content-bottom .region-inner, 
.content-left.content-right.content-bottom .region-content-second .region-inner, 
.content-left.content-right .region-content-second .region-inner {
    padding-left: 0;
}
#content-panels .region-content-first, 
#content-panels .region-content-second, 
#content-panels .region-content-bottom {
    display: block;
    float: none;
}
#content-column, .content-column, div.sidebar {
    clear: none;
    float: none;
    margin-left: 0 !important;
    width: 100% !important;
}
.one-sidebar.sidebar-first .content-inner {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%!important;
}
.one-sidebar.sidebar-second .content-inner {
    margin-left: 0;
    margin-right: 0;
}

.two-sidebars .content-inner {
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.two-sidebars .region-sidebar-second {
    margin-left: 0;
    padding-left: 5px;
    position: static;
    width: 100%!important;
}
.one-sidebar.sidebar-second #content-column .content-inner {
    width: 100%!important;
}
.one-sidebar.sidebar-second .region-sidebar-second {
    left: 0;
    margin-left: 0!important;
    padding-left: 0!important;
    position: relative!important;
    top: 0;
    width: 100%!important;
}
.one-sidebar.sidebar-first .region-sidebar-first {
    margin-top: 20px;
  
}
.front .content-left.content-right.content-bottom #content-panels .region {
    width: 100%!important;
}
.block{
	width:100%!important;
	}
.block.even .block-inner {
    margin-left: 0!important;

}
.block.block-boxes.block-boxes-os_boxes_site_logo {
    width: 220px!important;
}
.header-left.header-main.header-right .region-header-second .region-inner {
    margin-left: 0;

}
.region-header-first {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
}
.region-header-second > div{
	padding:15px;}

.boxes-box-content img[style] {
    float: none !important;
    padding-bottom: 0 !important;
}
.footer-left.footer.footer-right .region-footer-first, 
.footer-left.footer.footer-right .region-footer-third,
.footer-left.footer.footer-right .region-footer, 
.footer-left.footer-right .region-footer-first, 
.footer-left.footer-right .region-footer-third, 
.footer-left .region-footer-first, 
.footer-right .region-footer-third {
    width: 100% !important;
}
.at-panel .region, .panel-row {
    float: none!important;
}
th, td {
    padding: 0.3em 0 0.3em 0.3em !important;
}
.region-inner[style]{
min-height:300px!important;	

}
.region-inner{
padding:0!important;
}

#columns .region-inner {
    padding: 0 !important;
}
}
@media (max-width: 479px) {
th, td {

    padding: 0.3em 0.1em;

}
.field-name-field-photo {
    float: none!important;
}
#content-column .block.block-boxes-os_boxes_manual_list {
    padding: 0 5px!important;
}

}
@media (max-width:400px){
	
.branding-left {
    left: 10px;
    margin: 10px 0 !important;
    position: relative;
    width: 190px;
}
}
