
@media (max-width: 1008px) {
/*Header*/
.branding-right {
    display: none; 
}
#branding_footer, #branding_header {
    width: 100%;
}
.region-header-third {
    margin-left: 0 !important;
    width: 100%!important;
}    
.region-header-third ul.menu {
    float: left!important;
}
.region-header-third ul.menu {
    margin-bottom: 0;
}

/*Primary menu*/
#menu-bar #block-os-primary-menu{
		display:none;
}
#menu-bar #block-os-primary-menu.opened{
	display:block;
    padding: 0;
}
#menu-bar #block-os-primary-menu ul:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#menu-bar #block-os-primary-menu ul {
    left: -10px;
    margin: 0;
    position: static;
    z-index: 10;
    width:100%;
}
#menu-bar #block-os-primary-menu li {
    float: none;
}
#menu-bar #block-os-primary-menu li {
    font-family: georgia,serif;
    list-style-type: none;
    margin: 0!important;
    position: relative;
}
#menu-bar #block-os-primary-menu a:after {
    content: none !important;
}
#menu-bar #block-os-primary-menu a {
    -moz-box-sizing: border-box;
    border: medium none !important;
    color: white !important;
    display: block;
    margin: 0 auto;
    max-width: 1008px;
    padding: 12px 30px !important;
}
#menu-bar #block-os-primary-menu a {
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: normal;
    padding: 19px 15px;
    position: relative;
    text-decoration: none;
    transition: none 0s ease 0s;
}
.nav li, .nav .menu li {
    display: block;
}
.menuparent {
    padding: 0 !important;
}
#menu-bar ul.nice-menu a {
    color: #303030;
    font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
    font-size: 20px;
    padding-left: 15px !important;
}
/*Secondary menu*/
.at-panel.gpanel.panel-display.three-col.clearfix {
    padding-right: 30px;
}
.region-header-third  #block-os-secondary-menu{
display:none;
}
.region-header-third #block-os-search-solr-site-search,
.os-custom-menu{
	display: none;
}
.region-header-third #block-os-search-solr-site-search.opened {
    background-color: #1E1E1E;
    display: block;
    left: 15px;
    margin-bottom: 0 !important;
    padding: 12px 0 12px;
    position: absolute;
    text-align: left;
    top: 59px;
    width: 100%;
    z-index: 1;
}
.region-header-third #block-os-secondary-menu.opened {
    background-color: #2A527A;
    display: block;
    left: 15px;
    position: absolute;
    top: 59px;
    z-index: 3;
    width:100%;
}
.region-header-third #block-os-secondary-menu{
	width:99%;
}
.region-header-third #block-os-secondary-menu .menu{
	width:100%;
}
.region-header-third #block-os-secondary-menu #nice-menu-secondary-menu{
		width:100%;
}
.region-header-third #block-os-secondary-menu li{
	border-bottom: 1px solid #2E5A86;
    border-top: 1px solid #25496C !important;
    margin-left:0!important;
}
.region-header-third #block-os-secondary-menu li a{
	padding:12px 15px !important;
}
/*Search*/
#search-block-form .container-inline .form-item, #search-block-form .form-submit {
    float: none!important;
}
.region-header-third #search-block-form .form-item label {
    display: none !important;
}
.region-header-third ul.nice-menu a {
    color: #FFFFFF!important;
}
.region-header-third ul.nice-menu li {
    float: none;
}
.region-header-third ul, 
.region-header-third ol {
    margin: 0 !important;
}
/**/
.flexslider {
    background: none repeat scroll 0 0 transparent;
    min-height: 315px;
}
/*Mobile buttons*/	
.mobile-buttons:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.mobile-buttons {
    display: block!important;
    margin: 0;
}
.mobile-buttons li {
    float: left;
    list-style-type: none;
    margin: 0;
    text-align: center;
}
.link-count-mobi-main {
    text-align: left !important;
    width: 60%;
}
.link-count-mobi-main a {
    background: url("../images/icon_menu.png") no-repeat scroll 15px center transparent;
}
.mobile-buttons a {
    color: #FFFFFF!important;
    display: block;
    font: bold 16px arial,sans-serif;
    height: 20px !important;
    letter-spacing: 1px;
    padding: 12px 15px !important;
    text-decoration: none;
    text-transform: uppercase;
}
.mobile-buttons a span {
    font-weight: normal;
    padding-left: 25px;
}
.move {
    left: -9999px;
    position: absolute;
}
* {
     margin: 0;
    padding: 0;
}
.link-count-mobi-util a {
    background: url("../images/icon_plus.png") no-repeat scroll center center transparent;
    min-height: 20px;
}
.link-count-mobi-util {
    width: 20%;
}
.link-count-mobi-search {
    width: 20%;
}
.link-count-mobi-search a {
       background: url("../images/icon_search.png") no-repeat scroll center center transparent;
      min-height: 20px;
}
ul.primary li a {
    background-color: #F3F3F1;
    border-color: #E4E4E4;
    margin-right: 0;
    padding: 4px;
}

.table-wrap {
    overflow: scroll; 
} 
#search-block-form .container-inline .form-item .form-text {
    height: 34px;
}
/*Footer*/
#footer .os-custom-menu {
    display: block !important;
}
}

@media (max-width: 768px) {
	
.link-count-mobi-search a {
      min-height: 20px;
}	
	
.link-count-mobi-util a {
    min-height: 20px;
}
.region-header-third #block-os-secondary-menu.opened {
    top: 44px!important;
    width: 99% !important;
    z-index: 3;
}	

	
}
@media (max-width:400px){
	
.region-header-third #block-os-secondary-menu.opened {
	width: 95.5% !important;
}	

}