@media (max-width: 1008px) {


.view .date-nav-wrapper .date-next {
    right: 0;
}
/*Header*/

.header-left.header-main.header-right .region-header-second .region-inner {
    margin-right: 0;
}
/*Menu*/
#menu-bar ul.menu ul ul {
    background: none repeat scroll 0 0 #24527A;
}
.region-header-third .block-os-search-solr,
.region-header-third .block-os-search-db {
    left: 30px;
    margin-bottom: -80px;
    position: relative;
    top: 55px;
}
/*Layout*/
.page-node #content-column .content-inner {
    margin-left: 25%;
    padding: 0 !important;
}
/*Calendar controls*/
.view .date-nav-wrapper .date-prev,
.region-sidebar-first .date-prev {
    right: 94%!important;
}
.region-sidebar-second .date-prev {
    right: 90% !important;
}
}

@media (max-width: 768px) {
	
/*Layout*/
.page-node #content-column .content-inner {
    padding: 0!important;
}
.event-start .event-start {
    float: none!important;
}
.event-start .event-content {
    margin-left: 0!important;
}
.boxes-box-content span[style] {
    float: none!important;
}
.footer-left.footer.footer-right .region-footer-first, 
.footer-left.footer.footer-right .region-footer-third, 
.footer-left.footer.footer-right .region-footer, 
.footer-left.footer-right .region-footer-first, 
.footer-left.footer-right .region-footer-third, 
.footer-left .region-footer-first, 
.footer-right .region-footer-third {
    width: 100%;
}


}
@media (max-width: 479px){
	
/*Layout*/	
.block-boxes-os_sv_list_box .node.node-news.node-promoted .field-type-image.view-mode-sidebar_teaser, 
.block-boxes-os_sv_list_box .node.node-person.article.with-person-photo .pic-bio, 
.block-boxes-os_sv_list_box .node.node-person .field-name-field-person-photo {
    float: none;
    margin-right: 0!important;
        width: 100%;
}
article.node-teaser.node-person .field-name-field-person-photo ~ .node-header, article.node-teaser.node-person .field-name-field-person-photo ~ .node-content {
    margin-left: 0!important;
        width: 100%;
}
.block-boxes-os_sv_list_box .node.node-news.node-promoted.article .field-type-image ~ .node-content, 
.block-boxes-os_sv_list_box .node.node-person.article.with-person-photo .node-content {
    margin-left: 0!important;
    width: 100%;
}
.block-boxes-os_sv_list_box .node.node-news.node-promoted.article .field-type-image ~ .node-content {
    margin-left: 0!important;
}
.field-type-image {
    margin-bottom: 0!important;
}
.node-news.node-teaser .field-name-field-photo {
    float: none !important;
}
	
.two-sidebars #content-panels,
.one-sidebar.sidebar-second #content-panels {
    border-right: 0!important;
}	
	
	
}
