html,body {
  background: #91997c;
  }

.region-sidebar-first a,
.region-sidebar-first a:visited,
.region-sidebar-second a,
.region-sidebar-second a:visited,
#header-container a,
#header-container a:visited,
#header-container,
#header-container h1 a,
#header-container h1 a:visited {
  color: #fff;
  }


.region-sidebar-first a:hover,
.region-sidebar-second a:hover,
#header-container h1 a:hover{
  background: #D6D5B1;
  color: #222;
  }

.region-sidebar-first a.active,
.region-sidebar-first .active-trail a,
.region-sidebar-second a.active,
.region-sidebar-second .active-trail a {
  color: #222;
  background: #C4C3B4;
  }
  

.term-head {
color: #DDD;
}
