/**** IMPORT GRID/PANEL LAYOUT CSS ****/
@import "ballard.layout.css"; 

@import url(http://fonts.googleapis.com/css?family=Judson);

body {
background: url('../images/bodyBg.gif') no-repeat fixed center top #EFEFEF;
  color: #444;
font-family: helvetica,arial,sans-serif;
font-size:.8em;
 }  
 
/* LAYOUT ELEMENTS */

 #page {
  -moz-box-shadow: 0 2px 1em #777;
  -webkit-box-shadow: 0 2px 1em #777;
  box-shadow: 0 2px 1em #777;
} 

#content-area {background:#FFF;padding:8px;}


#content-main div.views-row-last {
   border-bottom: none;
}

#header {padding:12px 0; background:#2f2f2f;}

#footer {
    text-align: center;
    background:url('../images/footerbg.png');
    height:35px;
    padding: 15px 20px;
}

#header-right {text-align: right;}

/* TYPOGRAPHY*/ 
 
a, a:visited {color:#293352;text-decoration:none;}
a:hover {text-decoration:underline;}


#header a {color:#FFF;}

.more-link a, 
.node_read_more a {
padding-right:13px;
color:#293352;
background: url('../images/moreArrow.png') center right no-repeat;
text-decoration:none;
font-size:1.11em;
}

.more-link a:after, .node_read_more a:after {
    content: none;
}

.node .node-inner .links li.node_read_more a {
	color:#293352;
   padding-right:13px;
}


.item-list ul.pager li.pager-current {
    background: none repeat scroll 0 0 #293352;
    color: #FFFFFF;
    padding:3px;
}

.item-list ul.pager li a.active {
    color:#293352;
}

#boxes-box-site_info  {
    border-left: 8px solid #565656;
    padding-left: 7px;
}

#block-boxes-site_info h1 a {font-family: 'Judson', georgia; font-size:1.5em;text-decoration:none;color:#FFF;}
#block-boxes-site_info h2, 
#block-boxes-site_info p {color:#d6d6d6;}

h2,
h3,
h1 a,
h2 a {color:#666;text-decoration:none;font-weight:normal;margin-bottom:.2em;}

h2.title, h2 {font-size:1.8em;margin-bottom:.7em;}

h3.title {color:#666;font-size:1.2em;}
h3.title a {color:#293352;}


.sidebar h3.title {
color:#666;
background: url('../images/h3bg.png');
padding: 7px 0 4px 8px;
 font-size: 1.2em;
border-right: 1px solid #d6d6d6;
border-bottom: 1px solid #d6d6d6;
font-weight:normal;
margin-bottom:0;
}

.sidebar .node-inner h3.title {
background: none;
padding: 7px 0 4px 3px;
 font-size: 1.1em;
border: none;
line-height:18px;
}

#content-area .block ul {
margin: 8px 0 0 20px;
}

#content-area .block ul li,
#content-area .content ul li {
 list-style-image:url('../images/listBullet.png');
}

#content-area .block ul li a {
  text-decoration: none;
}

#content-area .block ul li a:hover {text-decoration:underline;}

.front #content-main .block ul.links {margin: 8px 0 0 0;}

#content-area .sidebar ul.links {
    margin: 8px 0 0;
}

.submitted {font-weight:bold;}

p.copy a.footer-login {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: none;
    border-radius: none;
    border-style: none;
    border-width: none;
    color: #F3F3F1 !important;
    cursor: pointer;
    font-size: 13px;
    margin: 5px 5px 15px 0;
    padding: 0 9px !important;
    text-align: center;
    text-shadow: none;
    white-space: nowrap;
    text-decoration: underline;
}


p.copy a.footer-login:hover {
  -moz-text-shadow:none;
  -webkit-text-shadow:none;
  text-shadow:none;
  text-decoration: none;
  border: none;
  }


/****SIDEBAR BOX STYLES ****/

.sidebar .block {background: #F7F7F7;}
.sidebar .block .content {padding:3px;}
.sidebar .block-vsite_menus-scholar_secondary_menu .block {background: #DDD;}

/**** MAIN NAV BAR  ****/

#navbar {
  background: url('../images/mainNavBg.png') #333333 repeat-x;
  width:970px;
  padding:0 10px 0 0;
}

#navbar ul
{
padding: 0;
color: #F3F3F1;
float: left;

}

#navbar ul li { display: inline; }

#navbar ul li a
{
padding: 1.2em 1.6em;
background: url('../images/mainNavBg.png') #333333 repeat-x;
color: #F3F3F1;
text-decoration: none;
float: left;
border-right:1px solid #5d5d5f;
}

#navbar ul li a:hover,
#navbar ul li a.active
{
background: url('../images/mainNavBg.png') 0 -53px #333333 repeat-x;
color: #F3F3F1;
}

#navbar #block-vsite-site_search {
	float: right;
    height: 35px;
    padding-top: 13px;
    width: 180px;
}


/* SECONDARY NAV WHEN IN HEADER RIGHT  */ 
#header-right #block-vsite_menus-scholar_secondary_menu  {
   width:260px;
   margin: -10px 0 40px;
}

#header-right #block-vsite_menus-scholar_secondary_menu ul {
float:right;
 }
 
#header-right #block-vsite_menus-scholar_secondary_menu li {
    float: left;
    padding: 0 7px;
    border-right:1px solid #F3F3F1;
 }
 
#header-right #block-vsite_menus-scholar_secondary_menu li a {
  text-decoration: underline;
  color: #F3F3F1;
  font-size:.9em;
 } 

#header-right #block-vsite_menus-scholar_secondary_menu li.last {
  border-right:none;
 }

/* SECONDARY NAV WHEN IN A SIDEBAR  */ 

.sidebar #block-vsite_menus-scholar_secondary_menu ul {
	margin: 8px 0 0 15px;
	}

.sidebar #block-vsite_menus-scholar_secondary_menu ul li {
	list-style-type:square;
	}

.sidebar #block-vsite_menus-scholar_secondary_menu ul li a {
  font-weight:bold;
  font-size:1em;
}

/* BOOKLET NAV  */ 
.sidebar #block-boxes-scholar_book_current_toc ul ul {
    margin: 0px 0 0 18px;
}

.sidebar #block-boxes-scholar_book_current_toc ul ul li {
    list-style-image: url("../images/childBullet.png");
}

.sidebar #block-boxes-scholar_book_current_toc ul ul ul li {
    list-style-type: disc;
}




/**** SEARCH BOX ****/

#block-vsite-site_search {
width:170px;
}

.search-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit{
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
height: 22px;
  }

.search-form .container-inline .form-item .form-text {
 -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  background: #333;
  color:#F3F3F1;
  font-size:12px;
  border:none;
  -webkit-box-shadow: none;
}

/**** SLIDESHOW OVERRIDE STYLES ****/

div.views-field-field-gallery-image-fid img {
    background-color: #FFF;
    border: none;
    padding: 0;
}

.box-os_boxes_slideshow {margin: 0 0 15px 0;}

#views_slideshow_singleframe_prev_os_slideshow-default,
#views_slideshow_singleframe_next_os_slideshow-default 
{display:none;}

.views_slideshow_controls .views_slideshow_pause,
.views_slideshow_controls .views_slideshow_play {
left:97%;
margin-top: 2px;
}

.views_slideshow_controls .views_slideshow_pause {
    background: url('../images/pause.png') no-repeat scroll 0 0 transparent;
    height: 14px;
    width: 14px;
}

.views_slideshow_controls .views_slideshow_play {
    background: url('../images/play.png') no-repeat scroll 0 0 transparent;
    height: 14px;
    width: 14px;
}

div.pager-item {width:14px;height:14px;}

#views_slideshow_singleframe_pager_os_slideshow-default {
margin-right:26px;
padding-top:1px;
}

.views-slideshow-controls-bottom {
background: #e6e6e6;
height:22px;
border:none;
border-top:none;
width: 99%;
z-index: 1;
}

.views_slideshow_slide .views-field-title {
background:url('../images/transparentBg.png') no-repeat;
    position: absolute;
    z-index: 6;
    bottom:-16px;
     color: #444;
     font-size:1.1em;
}

 .pager-item a { 
 	background: #c4961a; 
 	color: #c4961a;
 text-decoration: none;
 -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius: 0;
 padding: 2px 4px 1px;
}

.pager-item a:hover {background: #293352; text-decoration: none;color: #293352;}

.pager-item.activeSlide a {background: #293352;color: #293352;}

.pager a {text-decoration: none;}
  

/* POWERED BY BG IMG REPOSITION */
p.copy a.poweredby {
    background-position: 0 -25px;
}

