

#overlay-content #content-column .content-inner {
    margin-left: 0;
    margin-right: 260px;
}

/* GENERAL CP STYLES */

.region-sidebar-first .region-inner {
	 background: #F2F3F3;
    position: fixed;
    bottom: 0;
    min-height: 200px;
    position: fixed;
    top: 0;
    border-right:1px solid #BFC6C6;
    width:170px;
    margin-top:65px;
  }
 
.toolbar-drawer .region-sidebar-first .region-inner {
	margin-top: 30px;
  }  
	
#content-column {
  overflow: auto;
  padding-bottom: 55px;
  }
  
#main-content {
    padding-top: 0;
}

a {color:#4E84C4;}

.page-cp-build .region-sidebar-first .region-inner {
	padding-top: 0;
}

.region-footer {
    background: url('../images/top-bottom-bg.png') repeat-x;
    color: #FFFFFF;
    height:40px;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align:right;
}

.region-footer a {
    color: #FFFFFF;
  }
  
.region-footer .region-inner {
    padding: 10px 20px 0 15px;
  }  

 

#block-os-powered-by {
	float:left;
	text-align:left;
}

#block-os-powered-by a {
    background: url("../images/footer-logo.png") no-repeat;
    height: 23px;
    margin-top: 0;
    text-indent: -9999px;
    width: 353px;
    display: block;
}


#edit-submit,#edit-preset {
    margin-right: 15px;
}

a.advanced-help-link {
    float: right;
}


.advanced-help-link {
    background: url("../../../themes/os_basetheme/images/scholarbase-sprite.png") no-repeat 0 -150px;
    display: block;
    float: left;
  margin-top: 2px;
    padding: 0;
  height: 19px;
    width: 19px;
}

.advanced-help-link:hover {
    background: url("../../../themes/os_basetheme/images/scholarbase-sprite.png") no-repeat 0 -170px;
}




/** CP TABLE STYLES **/
#edit-menu-table tr,
#spaces-features-form .spaces tr
 {
    background-color: #FFF;
}
 	
#edit-menu-table .section-heading {
	background: none repeat scroll 0 0 #ECECEC;
    border-bottom: 3px solid #C4C2C2;
    border-top: 3px solid #C4C2C2;
    font-size: 14px;
    height: 25px;
    border-top: 20px solid #FFF;
    font-weight:bold;
    }
    
td {
	color: #666666;
	}   
         

#edit-menu-table td:first-child {
    width: 70%;
}
 
#spaces-features-form .spaces {width:850px;} 
#spaces-features-form .spaces tr:hover {background:#F0f0F0;}
#spaces-features-form .spaces td {height: 50px;} 
#spaces-features-form .spaces td.label strong {font-size: 1.1em;}    
#spaces-features-form .spaces .description {font-size:.95em;}  
#spaces-features-form table.spaces td.label {width: 70%;}
#spaces-features-form table.spaces td.option {width: 20%;}

.page-cp-content .view-content table {width:100%;}
.page-cp-content-files .view-content tbody tr.even,
.page-cp-content-comments .view-content tbody tr.even {background-color: #FFF;}

/* CP/BUILD MENU */ 
.page-cp-build-menu table thead {
	display:none;
    }
    
#edit-menu-table {width:775px;}   

 /* CP USERS */
.page-cp-users .view-filters {
	padding:8px; 
	background:#F2F3F3;
    border: 1px solid #DADADA;
    }
    
.page-cp-users #user-register-form {
	width:550px;
	padding:8px;
	background:#F2F3F3;
	border: 1px solid #DADADA;
    }   

.page-cp-users .view-og-members-admin li {
	list-style-type:none;
    } 



/* CP CONTENT */
.page-cp-content dt a {
	font-size:16px;
}


.page-cp-content dd {
    margin: 0 0 1.5em 0;
}



/* CP APPEARANCE */
.page-cp-appearance #edit-actions {
    /*background: url("/sites/all/modules/openscholar_vsite/vsite_design/theme/images/themePickerSubButtsBg.png") repeat-x scroll 0 0 transparent;*/
    background:#EFEFEF;
    bottom: 26px;
	position: fixed;
    width: 100%;
    z-index: 10;
 	border-top:1px solid #EDEDED;
    margin-left: -40px;
    padding: 6px 0 2px 35px;
}

.page-cp-build #columns,
.page-cp-appearance #cp-appearance-theme-picker-form,
.page-cp-appearance h1#page-title {
 
   padding-left: 20px;
}


/* CP/BUILD LAYOUT */   
.page-cp-build-layout .content-inner {width:854px;}

/* CP FEATURES */
form#spaces-features-form td.actions a {
    background: url("../images/featureCustGear.png") no-repeat scroll 0 0 transparent;
    color: #105EA9;
    height: 25px;
    padding: 2px 0 5px 22px;
    width: 100px;
    margin-left: 6px;
}

#spaces-features-form select {
    float: left;
}


/** VSITE OS LOGIN CONTAINER STYLES **/	
body.page-cp.page-cp-account {
	background:#EEE;
}

body.page-cp.page-cp-account #messages {
	margin: 0 auto -80px;
    width: 560px;
}

.page-cp.page-cp-account #columns {
	background: #FFFFFF;
	width:540px;
	border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	margin:100px auto;
	border:3px solid #8996A0;
}

.page-cp.page-cp-account #columns #main-content-header { 
	background: #DDD;
	margin:-10px -8px;
	padding:7px;
}
  
