/**
 * @file
 * Navigation Styling
 */

a {}
a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}

/* Global focus style for links. */
a:active,
a:focus {}

/*
 * Primary, Secondary and Menu Bar region menus
 * Use one of the following id's for granular control:
 * #menu-bar (menu bar region)
 * #primary-menu (main menu)
 * #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */
.nav {
  clear:both;
  margin: 0;
}

.nav ul.menu {
  margin: 0;
}

.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}

.nav li a,
.nav .menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}

/* Menu bar block */
.nav .block {
  margin-bottom: 0;
}

/*
 * Superfish
 */
ul.sf-menu {
  margin-bottom: 0;
}

ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}

ul.sf-menu a:link,
ul.sf-menu a:visited  {
}

ul.sf-menu li:hover,
ul.sf-menu li.sfHover,
ul.sf-menu a:focus,
ul.sf-menu a:hover,
ul.sf-menu a:active {
  outline: 0;
}

/* Prevent momentary display of sub menus
ul.sf-vertical li ul,
ul.sf-horizontal li ul,
ul.sf-navbar li ul ul {
  display: none;
}
*/

/* Superfish blocks */
.block-superfish .block-inner,
.block-superfish .block-inner .content {
}

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/* Vertical style */
.sf-vertical,
.sf-vertical li {
  width: 100%;
}
.sf-vertical li {}
.sf-vertical li.last {}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top:  0;
  margin: 0;
  padding: 0;
}

.sf-vertical li a {
  padding: 0 10px;
}

/* Navbar style */
.sf-navbar {
  padding-bottom: 0 !important;
}

/* Sensible padding for the default style */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}


/*
 * Menus
 */
ul.menu {
  margin-left: 15px;
}

.sidebar ul.menu {
  margin-left: 0;
}

ul.menu ul,
ul.menu ul ul,
ul.menu ul ul ul {
 /* margin-left: 15px;*/
}

.sidebar ul.menu ul,
.sidebar ul.menu ul ul,
.sidebar ul.menu ul ul ul {
  margin-left: 0;
}

ul.menu li {
  margin: 0;
}

ul.menu li.collapsed {
}

ul.menu li.expanded  {
}

.sidebar ul li.collapsed,
.sidebar ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

ul.menu li a:link,
ul.menu li a:visited {
}

ul.menu li a:hover,
ul.menu li a:focus,
ul.menu li a:active  {
}

ul.menu li.active a  {
}

ul.menu li.active-trail a {
}

ul.menu li.first {
}

ul.menu li.last  {
}

.block .menu li.content {
  padding: 0; /* this class (if it exists) could be a problem so reset the padding */
}

/* Breadcrumbs as an ordered list */
.breadcrumb {
 margin: 15px 0 0 15px;
}

.node-type-page .breadcrumb {
 margin: 15px 0 12px;
}

#breadcrumb {
  padding-bottom: 1em;
}

#breadcrumb ol {
  margin: 0;
  padding: 0;
}

#breadcrumb li {
  list-style: none;
  display: inline;
}

#breadcrumb a {
}

#breadcrumb a:link,
#breadcrumb a:visited {
}

#breadcrumb a:hover,
#breadcrumb a:focus,
#breadcrumb a:active {
}

/* Pager */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}

ul.pager li.pager-current {
  font-weight: 700;
}

.block ul.pager li {
  margin: 0;
}

/* Throbber */
.ajax-progress {
  float: left; /* LTR */
}
.ajax-progress .throbber {
  background: transparent url('../images/throbber.gif') no-repeat 0px 0;
  float: left; /* LTR */
  height: 11px;
  margin: 4px 2px;
  width: 16px;
}

.sidebar .ajax-progress .throbber {
  margin: 4px -17px -11px 2px;
}

tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}


/* Theme the various states of pager links. */
ul.pager li a:link,
ul.pager li a:visited {
}

ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li a:active {
}


.item-list .pager li {
    padding: 0.3em;
}


/* Note: .pager-current is for the current page. */
ul.pager li.pager-item  {
}

ul.pager li.first {
}

ul.pager li.last {
}

ul.pager li.pager-current {
	font-weight:bold;
}

ul.pager li.pager-first {
}

ul.pager li.pager-previous {
}

ul.pager li.pager-next {
}

ul.pager li.pager-last {
}

/* Skip Navigation */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/* Tabs */
#tasks {
  margin-bottom: 1em;
}

ul.primary {
  border-bottom-color:#ccc;
  margin: 1.5em 0 0;
  padding: 0 0 .2em .3em;
}

ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em 10px .2em;
}

.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}

.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}


/* Action links */
ul.action-links {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

ul.action-links li {
}


/** CONTEXTUAL DROPDOWN LINKS **/
div.contextual-links-wrapper {
z-index: 500;
}	
	
a.contextual-links-trigger {
  padding: 0 2px !important;

}	
	
div.contextual-links-wrapper ul.contextual-links {
  -moz-border-radius: 0; /* LTR */
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0; /* LTR */
  -webkit-border-top-left-radius: 0; /* LTR */
  border-radius: 0; /* LTR */
}

ul.contextual-links li,
.sidebar ul.contextual-links li
 {
 line-height: 12px !important;
 list-style: none !important;
 clear:both;
 background-color: none;
border-top: none;
}

ul.contextual-links li a {
padding: 0.5em .75em 0.5em 0.75em !important;
font-family: helvetica;
font-size: 11px !important;
font-weight:normal !important;
text-decoration:none !important;
text-transform:none !important;
background: none !important;
  letter-spacing: 0;
  text-transform:none;
 line-height: 12px !important;
 height: auto !important;
 border-bottom:none !important;
 text-shadow:none !important;
 border:none !important;
 margin-left: 0;

}

ul.contextual-links li a:hover {
background-color: #52854C !important;
color: #FFF !important;
}

/** CONTEXTUAL ADD NEW AND CONFIG DROPDOWN LINK CONTROLS **/
.contextual-controls-wrapper {
    margin: 15px 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 500;
}

.contextual-controls-wrapper a {
	color:#293352;
    font-family:helvetica;
    font-style:normal;
}

.contextual-controls-wrapper a:hover {
	color:#293352;
    text-decoration:none;
}


.contextual-controls-wrapper .add_new {
	float:left;
	display:inline;
	 background: url("../images/scholarbase-sprite.png") no-repeat scroll 3px -379px #A1D4A1 !important;
    border-radius: 5px 5px 5px 5px;
    float: left;
     margin: 0 22px 0 0;
    padding: 0 8px 0 22px !important;
    text-decoration:none !important;
	}

/**
 * Fixes case where the contextual link gear will cover the 'next month' button on a calendar.
 */
#block-views-os-events-block-1 .contextual-links-wrapper {
  right: 35px;
}

html.js div.ctools-dropdown a.ctools-dropdown-text-link {
    background: none;
    padding:0 0 0 13px;
    font-size:13px;
    color: #293352 !important;
    text-decoration:none !important;
}	


html.js div.ctools-dropdown a.ctools-dropdown-text-link {
    background: none repeat scroll 0 0 transparent;
    color: #293352;
    font-size: 13px;
    padding: 0 0 0 13px;
    text-decoration: none;
}

html.js #citation-wrapper div.ctools-dropdown a.ctools-dropdown-text-link {
    font-size: 11px;
 
}
	
.ctools-dropdown.section_links {
	float:right;
	display:inline;
	}	
	
.contextual-controls-wrapper div.ctools-dropdown.section_links a.ctools-dropdown-text-link {
 float:right;
  background: url('../images/scholarbase-sprite.png') no-repeat 0px -331px !important;
  width:23px;
  height:23px;
  text-indent: -9999px;
  margin-left:-20px;
}

.contextual-controls-wrapper div.ctools-dropdown.section_links a.ctools-dropdown-text-link:hover {
 float:right;
  background: url('../images/scholarbase-sprite.png') no-repeat 0px -355px !important;
  width:23px;
  height:23px;
  text-indent: -9999px;
  margin-left:-20px;
}	

html.js div.ctools-dropdown div.ctools-dropdown-container {
background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A8BED8;
    box-shadow: 0 2px 5px #777777;
    color: #293352 !important;
    margin: 0 1px 0 0;
    opacity: 0.93;
    padding: 5px 0;
    width: auto;
}

html.js div.ctools-dropdown.add_new div.ctools-dropdown-container {
right: 38px;
}


html.js div.ctools-dropdown div.ctools-dropdown-container ul li a {
    color: #293352 !important;
    padding: 0 0 2px 5px;
    text-decoration:none !important;
    font-weight:normal;
    font-size:13px;
    font-style:normal;
}


html.js div.ctools-dropdown.section_links div.ctools-dropdown-container {
  margin: 22px 1px 0 0;
  right: 12px;
}


html.js div.ctools-dropdown div.ctools-dropdown-container ul li span {
    background:#777;
    color:#FFF;
    padding-left:5px;
    font-family:helvetica;
}

/** NICE MENU OVERRIDES **/

ul.nice-menu {
 margin-left: 0;
}


ul.nice-menu li {
 border:none !important;
 background-color: none !important;
 background: none !important;
}


ul.nice-menu a {
    color: #293352;
    text-decoration:none !important;
    background: none;
}

ul.nice-menu ul {
    top: 2.9em;
     z-index:20;
}


ul.nice-menu ul li {
 border:1px solid #CCC;
 background:#EEE;
 min-width:12em;
 width:auto;
}


ul.nice-menu ul li a {
    border:none !important;
}


ul.nice-menu-left a, 
ul.nice-menu-left ul a {
    padding-left: 0;
}

.sidebar ul.menu ul {
    border-top: none !important;
}

.sidebar #block-os-primary-menu ul.menu li ul.menu,
.sidebar #block-os-secondary-menu ul.menu li ul.menu {
 margin:0 0 0 10px;
}


ul.nice-menu-left li.menuparent,
ul.nice-menu-right li.menuparent,
ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-right li.menuparent:hover {
    background:none !important;
}

ul.nice-menu-right, ul.nice-menu-left, 
ul.nice-menu-right li, ul.nice-menu-left li {
    width: 100%;
}



/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0 !important;
  z-index: 400;
}

ul.nice-menu-down li {
  border-top: none !important;
}

ul.nice-menu-down li li {
  border-top: 0 !important;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: 0;
}

ul.nice-menu-down .menuparent a {
  padding-right: 10px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background: none !important; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: none !important; /* LTR */
}

ul.nice-menu-down li li.menuparent {
  background: none !important; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: none !important; /* LTR */
}

/******************************
 Lists when Naviation is selected
******************************/

.navigation ul,
.navigation ul.menu
 {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;

}

.sidebar .navigation ul.menu ul.menu,
.sidebar .navigation ul ul {
  border: none;
  margin-left: 0;
}

.navigation ul li,
.navigation ul.menu li {
  list-style: none;
  background-color: #EEE;
  border-top: solid 1px #ccc;
  text-align: left;
  margin: 0;
  margin-bottom: 0;
  list-style-image: none !important;

}

.navigation ul.menu li a,
.navigation ul li a {
  display: block;
  text-decoration: none !important;
  padding: .5em;
  color:inherit;
}

.navigation ul.menu li ul.menu li a,
.navigation ul li ul li a {
  padding-left: 18px;
}

.navigation a:link, .navigation a:visited { color: inherit; }
.navigation a:hover, .navigation a:active { color: inherit; } 
.navigation a:hover { background-color: #fff; }

/* Section Nav */
#boxes-box-os_pages_section_nav {
	border: 1px solid #ebe3df;
	border-bottom: none;
}

.section-nav li.expanded, 
.section-nav li.collapsed, 
.section-nav li.leaf {
  padding: 0;
}

.section-nav ul.menu {
  margin-bottom: 0;
}

.section-nav ul.menu li {
	list-style: none;
	background-color: #fff;
	text-align: left;
}

.section-nav ul.menu li a {
	display: block;
	text-decoration: none !important;
	padding: 8px 15px;
	border-bottom: 1px solid #ebe3df;
}


.section-nav a:link,
.section-nav a:visited {
	color: inherit;
	
}

.section-nav a:hover {
	background-color: #bfc2c4 !important;
}

.section-nav a.active {
	color: #333;
}

/* Section Nav - Section Heading */
.section-nav .menu-depth-1 > a {
	background: none !important;
	background-color: #444 !important;
	color: #fff;
	text-transform: uppercase;
}

.section-nav .collapsed > a {
	background: url('images/arrow-right.png') no-repeat left center;
	
}

/* Section Nav */
#boxes-box-os_pages_section_nav {
	border: 1px solid #ebe3df;
	border-bottom: none;
}

.section-nav li.expanded, 
.section-nav li.collapsed, 
.section-nav li.leaf {
  padding: 0;
}

.section-nav ul.menu {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.section-nav ul.menu li {
	list-style: none;
	background-color: #fff;
	text-align: left;
}

.section-nav ul.menu li a {
	display: block;
	text-decoration: none;
	padding: 8px 15px;
	border-bottom: 1px solid #ebe3df;
}


.section-nav a:link,
.section-nav a:visited {
	/*color: #4384C4;*/
	text-decoration:none !important;
}

.section-nav a:hover {
	background-color: #e3e3e1 !important;
	
}

.section-nav a.active {
	color: #1e1e1e;
}

/* Section Nav - Section Heading */
.section-nav .menu-depth-1 > a {
	background: none !important;
	background-color: #777 !important;
	color: #fff;
	text-transform: uppercase;
	color:#FFF !important;
}

.section-nav .collapsed > a {
	background: url('../images/arrow-right.png') no-repeat left center;
	
}


.section-nav .expanded > a {
	background: url('../images/arrow-down.png') no-repeat left center;
	
}
.section-nav .expanded.menu-depth-2 > a {
	background-color: #999;
	color: #fff;
}

.section-nav .expanded.menu-depth-2 > a:hover {
	background-color: #777 !important;
}

.section-nav .expanded.menu-depth-2 .menu-depth-3 > a,
.section-nav .expanded.menu-depth-2 .menu-depth-4 > a,
.section-nav .expanded.menu-depth-2 .menu-depth-5 > a,
.section-nav .expanded.menu-depth-2 .menu-depth-6 > a {
	background-color: #f3f3f1;
	padding-left: 25px;
}

.section-nav .expanded.menu-depth-2 .menu-depth-3 > a {
	padding-left: 25px;
	background: url('../images/arrow-down.png') no-repeat 10px center;
}

.section-nav .expanded.menu-depth-2 .leaf.menu-depth-3 > a,
.section-nav .expanded.menu-depth-2 .leaf.menu-depth-4 > a,
.section-nav .expanded.menu-depth-2 .leaf.menu-depth-5 > a,
.section-nav .expanded.menu-depth-2 .leaf.menu-depth-6 > a {
  background: none;
}

.section-nav .expanded.menu-depth-2 .menu-depth-4 > a {
	padding-left: 35px;
	background: url('../images/arrow-down.png') no-repeat 20px center;
}

.section-nav .expanded.menu-depth-2 .menu-depth-5 > a {
	padding-left: 45px;
	background: url('../images/arrow-down.png') no-repeat 30px center;
}

.section-nav .expanded.menu-depth-2 .menu-depth-6 > a {
	padding-left: 55px;
	
}


.section-nav .expanded.menu-depth-2 .collapsed.menu-depth-3 > a {
	padding-left: 25px;
	background: url('../images/arrow-right.png') no-repeat 10px center;
}

.section-nav .expanded.menu-depth-2 .collapsed.menu-depth-4 > a {
	padding-left: 35px;
	background: url('../images/arrow-right.png') no-repeat 20px center;
}

.section-nav .expanded.menu-depth-2 .collapsed.menu-depth-5 > a {
	padding-left: 45px;
	background: url('../images/arrow-right.png') no-repeat 30px center;
}

.section-nav .expanded.menu-depth-2 .collapsed.menu-depth-6 > a {
	padding-left: 55px;

}


/** MENU WHEN IN FOOTER **/

#footer ul.menu, #footer ul {
    margin-left: 0;
}

ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

#footer ul.menu li.expanded {
    clear: none;
    display: inline;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    word-wrap: break-word;
}

#footer ul li a {
    font-weight:bold;
}

#footer ul li li a {
    font-weight:normal;
    word-wrap: break-word;
}

