/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .more-link, etc.
 */


/*
 * Wrappers
 */
html {
}


body {
}


#page /* Page wrapper, includes the .container class which sets the overall page or section width. */ {
	margin-bottom: 30px;
}


#header /* Main site header. */ {
}

/* bigscreen three_col_grail */

#columns {
    
}


#content-column .content-inner /* Floats the main content column. */ {
	 position: relative;
}


#main-content /* Wraps the main-content-header, the content region and feed-icons. */ {
	 padding-top: 20px;
	 position: relative;
}


#content /* Wraps the content region. */ {
}


#footer /* Main site footer. */ {
}


.region /* Region wrapper - anything that adds width or positioning can break the layout. */ {
}


.region-inner /* By default this sets up 20px gutters i.e. margin: 0 10px. */ {
	 padding-top: 15px;
}


.region-inner .region-inner /* Strip nested region-inner margins by default. */ {
  margin: 0;
}

.region-sidebar-first .block, .region-sidebar-second .block {
    clear: both;
    margin-bottom: 1.5em;
}


/* Modify gutters */

.block-inner, 
.pane-inner, 
.menu-wrapper,  
.branding-elements, 
.breadcrumb-wrapper, 
.attribution, 
.at-panel .rounded-corner,
div.messages {
  margin-left: 8px;
  margin-right: 8px;
}

#main-content {
  margin-left: 15px;
  margin-right: 15px;
}

/*** FRONTPAGE PANELS ***/

.region-content-first, 
.region-content-second {
    width: 100%;
}
	
.content-left.content-right .region-content-first, 
.content-left.content-right .region-content-second {
	float:left;
	clear:none;
	display:inline;
    width: 49%;
    margin:15px 0;
	}
	
.content-left.content-right .region-content-first {margin-right:2%;border-right:1px solid #CCC;width: 48%;}	

.region-content-botom {
    clear: both;
}


/*
 * Branding
 */
.os-powered-link,
#block-os-powered-by {
    float: right;
    bottom:-26px;
    position:relative;
}

.page-cp #block-os-powered-by {
  
    bottom:0;
   
}

#block-os-powered-by span a,
.os-powered-link a.os-poweredby {
    background: url("../images/poweredby.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 26px;
    padding: 0 !important;
    text-decoration: none !important;
    text-indent: -999em;
    width: 85px;
    margin-top:-25px;
  }

.page-cp #block-os-powered-by span a {
    background: url("../images/poweredby.png") no-repeat scroll 0 -27px transparent;
    margin-top:0;
  }

#logo /* Wrapping link for logo */ {
  padding: 10px 0;
}


#scholar-shield {
    margin: 0 auto;
    text-align: center;
    width: 75px;
}


#name-and-slogan /* hgroup wrapper for website name and slogan, be careful with display properties as this can be hidden */ {
}


#site-name /* The name of the website */ {
}


#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}


#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website. */ {
}


.region-header /* Wrapper for any blocks placed in the header region. */ {
}


.region-highlighted {
}


#main-content-header /* Wraps the page title, tabs and actions links. */ {
}


h1#page-title /* The title of the page. */ {
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 10px; /* Drupal core uses "6px 0" margin */
}


div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}


div.status /* Normal priority messages */ {
	
}

div#success-message.status {
  padding:3px 0  0 25px;
  border-color: #be7;
  background-repeat:no-repeat;
}


div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; Drupal core uses: 1px solid #f0c020 */
 
}


div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}


.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; Drupal core uses a #e55 background */
}


.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; Drupal core uses a #e09010 background */
 padding: 1.5em 10px;
}


.node-unpublished,
.comment-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; Drupal core uses a #fff4f4 background */
}


.node-unpublished p.unpublished,
.comment-unpublished p.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  color: #fff;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}


.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}


.region-help /* Help text on a page */ {
}


.more-help-link /* Link to more help */ {
}


.region-content /* Wrapper for the actual page content */ {
}

.region-aside /* Akin to a content-bottom region */ {
}


ul.links /* List of links generated by theme_links(). */ {
  margin: 0;
  padding: 0;
}


ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}


ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 10px 0 0; /* LTR */
}

/* BOOKLET ICONS */
.node-book .links li.book_add_child a {
    background: url("/sites/all/themes/openscholar/scholar_base/images/addChildpage_plus.png") no-repeat scroll left center transparent;
    color: #3A6A8C;
    margin-right: 12px;
    padding-left: 15px;
}

.node-book .links li.book_printer a {
    background: url("/sites/all/themes/openscholar/scholar_base/images/printPage.png") no-repeat scroll left center transparent;
    color: #3A6A8C;
    margin-right: 12px;
    padding-left: 15px;
}

.node-book .links li.permalink a {
    background: url("/sites/all/themes/openscholar/scholar_base/images/perma_link.png") no-repeat scroll left center transparent;
    color: #3A6A8C;
    margin-right: 12px;
    padding-left: 15px;
}


/*bookiconsprite.png*/

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}


.more-link /* Aggregator, blog, and forum more link */ {
}


.search-results /* Search results are an ordered list so we reset the margin */ {
  margin: 0;
}

.views-row {margin-bottom:1.5em;}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first.
 */

.region-sidebar-first {
}


/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second.
 */

.region-sidebar-second {
}


/*
 * Full Width Wrappers - these are used in the optional page--full-width-wrappers.tpl.php template.
 */

#page-wrapper {
}


#leaderboard-wrapper {
}


#header-wrapper {
  background: #ddd; /* Debug style, is this working? */
}


#nav-wrapper {
}


#breadcrumb-wrapper {
}


#messages-help-wrapper {
}


#secondary-content-wrapper {
}


#content-wrapper {
}


#tertiary-content-wrapper {
}


#footer-wrapper {
  background: #666; /* Debug style, is this working? */
  color: #fff; /* Debug style, is this working? */
}


/* Devel Module */
.dev-query {
  background: #eee;
  padding: 30px;
}

/* CTools MODAL OVERRIDES */

#modalContent {
  top: 0 !important;
  color: #666;
  position: fixed !important;
}

div.ctools-modal-content {
  color: #555;
  margin: 0;
  text-align: left;
  background: #fff;
  -moz-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
  }

div.ctools-modal-content .modal-title {
  color: #666;
  font-size:20px;
  font-weight: normal;
  }

#modal-content {
 padding: 20px 0 20px 25px;
  }

div.ctools-modal-content {
  height: 100% !important;
  border:none;
  }

div.ctools-modal-content .modal-header {
  background: #EFEFEF;
  border-bottom:2px solid #C4C2C2;
 height:24px;
 padding:10px;
  }

div.ctools-modal-content .modal-header a {
float:right;
color: transparent;
background: url('../images/icon-close-window.png') no-repeat;
width:30px;
height:30px;
  }

div.ctools-modal-content .modal-content {
  padding: 12px 12px 0 12px;
  overflow: auto;
  width: 575px;
  height: 400px;
  }

#modalContent .spaces-customize-form .buttons input.form-submit {
  margin-right: 140px;
  }

div.ctools-modal-content .button-div-wrapper {
  display: inline;
  }

div.ctools-modal-content a.close:hover {
  text-decoration: none;
}

div.ctools-modal-content a.close img {
  position: relative;
  top: 1px;
  display:none;
}

div.ctools-modal-content .modal-content .modal-throbber-wrapper {
  text-align: center;
}

div.ctools-modal-content .modal-content .modal-throbber-wrapper img {
  margin-top: 160px;
}

.contextual-links-region:hover .contextual-links-region a.contextual-links-trigger {
  display: none;
}

.contextual-links-region .contextual-links-region:hover a.contextual-links-trigger {
  display: block;
}


/** OVERLAY MODAL OVERRIDES **/
	
#overlay-close, #overlay-close:hover {
    background: url('../images/icon-close-window.png') no-repeat;
	width:30px;
	height:30px;
	position: relative;
 	margin: -38px;   
}
	
#overlay-titlebar {
    padding: 7px 10px 17px;
    position: relative;
    white-space: nowrap;
    z-index: 100;
    background: #EFEFEF;
    border-bottom:2px solid #C4C2C2;
    height:24px;
}

#overlay-title {
    float: left;
	margin: 0;
    padding: 0.3em 0;
    color: #666;
    font-size:20px;
    font-weight: normal;
}
	
#overlay-tabs {
 	margin: -30px 0 0;
 	right: 50px;
 }	
 
 
/** MEDIA BROWSER MODAL OVERRIDES **/
	

#mediaBrowser {
  padding: 0;
  border-radius: 0;
  background: #FFF;
  -moz-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
}
 
.ui-corner-all {
    border-radius: 0;
    border:0;
} 
 
 #media-browser-tabset .media-browser-tab {
    border: NONE;
}

#media-browser-tabset .ui-tabs-nav {
    border-bottom: 1px solid #AAAAAA;
    border-left: none;
    border-right: none;
    border-top: none;
}
	
.ui-widget-header {
    background:none;
}	
	
/** OS LOGIN CONTAINER STYLES **/	
.not-logged-in.page-user #columns {
	width:540px;
	border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:100px auto;
	border:1px solid #8996A0;
	background:#F7F7F7;
}

.not-logged-in.page-user #columns h1 {
	width:530px;
	background:#555;
	color:#FFF;
	height:35px;
	margin:-20px 0 0 -15px;
	padding:5px 0 0 10px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}


/**	 QUICK TABS**/
	
.ui-tabs .ui-tabs-panel {
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F5F2F2 0%, #FFFFFF 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F5F2F2 0%, #FFFFFF 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F2F2), color-stop(1, #FFFFFF));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F5F2F2 0%, #FFFFFF 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F5F2F2 0%, #FFFFFF 100%);
padding:10px;
-moz-margin-top: 0px;
margin-top: 1px;
border-top:1px solid #ccc;
	}
	
.ui-tabs .ui-tabs-nav li a {
    padding: 0.15em 1em;
  }

.page-cp #tabs,
.page-cp #tabs .links {
	border:none;
	border-bottom:none;
}	
	
	
	
	
