/**** IMPORT GRID/PANEL LAYOUT CSS ****/
@import "aberdeen.responsive.layout.css"; 

body {
background: url('../images/bodyBg.gif') no-repeat fixed center top #e3e3e3;
  color: #292929;
  height:100%;
 }  
 
/* LAYOUT ELEMENTS */

#page {
  width: 980px;
margin: 0 auto 0 auto;
}
 
#columns {background:#fff;height:100%;}

.sidebar {background:#eef2f2;min-height:100%;}

/* TYPOGRAPHY*/ 
 
a, a:visited, a {color:#293352;text-decoration:underline;}
a:hover {text-decoration:none;}

.more-link a {padding-right:11px;color:#293352;background: url('../images/moreArrow.png') center right no-repeat;text-decoration:none;}

h1,
h2,
h1 a,
h2 a {color:#5d5e59;}

.sidebar h2 {
	color:#FFF;background:#b8bfc0;padding:4px 0 2px 8px;border-top-left-radius:5px;
border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

.sidebar .item-list ul {
    list-style-image:url('../images/blueBullet.png');
     margin: 8px 0 0 20px;
}

.sidebar .item-list ul li {
     margin-bottom: 8px;
}

/**** MAIN NAV BAR ****/


#block-search-form {float:right;
display:inline;
clear:right;
margin-top:6px;
}

#block-system-main-menu {
	width:80%;
}

#menu-bar {
  background: url('../images/mainNavBg.png') repeat-x;
  width:980px;
 height:46px;
 padding-top:8px;
border-top-left-radius:5px;
-moz-border-radius-topleft:5px;
border-top-right-radius:5px;
-moz-border-radius-topright:5px;
}

#menu-bar ul.menu {
 float:left;
 display:inline;
 clear:none;
  }

#menu-bar ul.menu li {
  float:left;
  margin-right:5px;
  }

#menu-bar ul.menu li a {
color: #FFF;
  font-weight:bold;
  font-size: 16px;
  padding: 8px 15px 5px;
  text-shadow: #444 0px 1px 0px;
  text-decoration:none;

}

#menu-bar ul.menu li a:hover,
#menu-bar ul.menu li a.active,
#menu-bar ul.menu li.active-trail a {
  background: #4e84c4;
  color: #FFF;
  text-decoration: none;
  border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-moz-border-radius:5px;
}
