body.front .box-vsite_taxonomy_fbt span.count {display:none;}

body.front .box-vsite_taxonomy_fbt {
  width:774px;
  position: relative;
  padding:0;
  color: #fff;
  height:328px;
  clear:both;
  z-index:1;
  line-height: normal;
  background: url('images/leadsto-arrow.png') 50% 54px no-repeat #3b4e4e;
  margin-bottom: 9px;
  border: none;
  }



body.front .box-vsite_taxonomy_fbt h3.title {
  margin: 0;
  font-size: 1.56em;
  line-height: 33px;
  color:#fff;
  background: url('images/aor-h3.png') 0 0 repeat-x #3b4e4e;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
    font-size:1.5em;
  border: none;
  height: 50px;
  letter-spacing:0;
  }

body.front .box-vsite_taxonomy_fbt div.item-list ul li.term-methods.last, 
body.front .box-vsite_taxonomy_fbt div.item-list ul li.term-applications.first {
     background: none repeat scroll 0% 0% transparent;
     font-size: 17px;
     font-weight: normal;
     line-height: 25px;
     margin-bottom: 25px;
}

body.front .box-vsite_taxonomy_fbt .item-list ul li.term-methods.last .term-head a,
body.front .box-vsite_taxonomy_fbt .item-list ul li.term-applications.first .term-head a
 {
     color: #68EFDE;
     padding-bottom: 25px;
}

body.front .box-vsite_taxonomy_fbt .item-list ul.term-methods li .term-head a:only-of-type,
body.front .box-vsite_taxonomy_fbt .item-list ul.term-applications li .term-head a:only-of-type {
    color: #ffffff;
}

body.front .box-vsite_taxonomy_fbt .item-list ul li.term-methods,
body.front .box-vsite_taxonomy_fbt .item-list ul li.term-applications  {
  margin-top: 0;
  }

body.front .box-vsite_taxonomy_fbt .item-list ul li.term-methods {
    text-align: right;
    float: left;
    width:262px;
    }

body.front .box-vsite_taxonomy_fbt ul li.term-applications {
    float: right;
    width: 298px;
    }

body.front .box-vsite_taxonomy_fbt .description {
    position:absolute;
    display:none;
    width:224px;
    min-height: 184px;
    padding: 5px 14px;
    border-left: 2px solid #db7002;
    left:230px;
    top: -10px;
    background: #3b4e4e;
    text-align: left;
    line-height:1.35em;
    font-size:13px;
    }

body.front .box-vsite_taxonomy_fbt li.term-applications .description {
  border-left:none;
  border-right: 2px solid #db7002;
  }

body.front .box-vsite_taxonomy_fbt ul li ul li .description {
  display:block;
  }

body.front .box-vsite_taxonomy_fbt li {
    position:relative;
    line-height: normal;
    margin-bottom:10px;
    font-size: 13px;
    font-weight: normal;
    }

body.front .box-vsite_taxonomy_fbt li.term-methods .term-head a,
body.front .box-vsite_taxonomy_fbt li.term-methods.last {
  margin-right: 31px;
  }


body.front .box-vsite_taxonomy_fbt .item-list li.term-applications.first a {
     left: 0pt; 
     padding-left: 59px;
}

body.front ul.term-methods,
body.front ul.term-applications
 {
    margin-top: 15px;
}

body.front .box-vsite_taxonomy_fbt li.term-applications .term-head {
  display:block;
  padding-left:0.5em;
  text-indent:-0.5em;
  }

body.front .box-vsite_taxonomy_fbt dt.active  {
  background: url('images/line.png') no-repeat 0 50% #3b4e4e;
  }

body.front .box-vsite_taxonomy_fbt ul li.term-methods ul li {
  background-position: 236px 50%;
  }

body.front #block-iqss_gking-areas_of_research dt.active span {
  background: #3b4e4e;
  }

body.front .box-vsite_taxonomy_fbt ul li ul li .term-head  a,
body.front .box-vsite_taxonomy_fbt ul li ul li .term-head a:visited {
  color: #fff;
  }

body.front .box-vsite_taxonomy_fbt li .term-head a:hover {
  text-decoration: none;
  }

body.front #block-iqss_gking-areas_of_research dt.active span a  {
  color:#e87702;
  }

/* Taxonomy Node Ordering */

.logged-in.section-category h2.title {
  clear: both;
  }

.term-admin-links, h2.title .term-admin-links {
  float: right;
  height: 1.4em;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 1em;
  font-size: 12px;
  letter-spacing: 0;
  }

table#ordernodes {
  width:90%;
  }
