default:
  context:
    parameters:
      drupal_users:
        admin:
          'admin'
        john:
          'jfk'
        michelle:
          'FourMoreYears'
      # the node ID of the group
      vsite:
        1

  extensions:
    Behat\MinkExtension\Extension:
      base_url:  BASE_URL
    Drupal\DrupalExtension\Extension:
      drush:
        alias: DRUSH_ALIAS