@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);

.region-page-top .region-inner {
    padding-top: 0;
}

body {
  color:#555;
  font-family: 'IM Fell English', palatino, baskerville, "palatino linotype", "Times New Roman", Times, Georgia, serif;
  background: url(../images/body-bg-no-sidebar.jpg) 50% 135px repeat-y #6d2a01;
  }

body.sidebar-first {
    background-image: url(../images/body-bg-left-sidebar.jpg);
    }

body.sidebar-second {
    background-image: url(../images/body-bg-right-sidebar.jpg);
    }

body.two-sidebars {
    background-image: url(../images/body-bg-both-sidebar.jpg);
    }

/*
#page {
  padding-top: 40px;
  background:url(../images/header-no-sidebar.jpg) no-repeat top center transparent;
  }

body.sidebar-first #page {
    background-image:url(../images/header-left-sidebar.jpg);
    }

body.sidebar-second #page {
    background-image:url(../images/header-right-sidebar.jpg);
    }

body.two-sidebars #page {
    background-image:url(../images/header-both-sidebar.jpg);
    }
*/
/* 
#page {
    width: 982px;
    margin: 0 auto;
    padding: 35px 9px 213px 9px; 
    } */

/* TYPOGRAPHY */
.biblio-title a, .biblio-title-chicago a,
a,
a:visited {
    color:#953a0d;
    text-decoration: none;
    }

.title a,
.title a:visited {
  color:#870202;
  font-size: 1.2em;
  }

a:hover, a.active,
.active-trail a {
  color:#000;
  text-decoration: underline;
  }

h2,
h3,
.region-sidebar-second a,
.region-sidebar-first a,
.title a,
.title a:visited {
    font-weight: bold;
    text-decoration: none !important;
    }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  }

h1#page-title {
  margin:0 0 1em 1em;
   font-size: 1.4em;
  }

#block-menu-primary-links {
    text-transform: uppercase;
    }

#header-container h1 {
    font-size: 27px;
    }

#header-container, #header-container a, #header-container a:visited {
    font-variant: small-caps;
    color:#414040;
    }

#header-container h1 a,
#header-container h1 a:visited {
    text-decoration: none;
    padding: 0;
    }

#header-container h2 {
    font-size: 16px;
    margin-top: 0;
    }

#header-container a, #header-container a:visited {
    text-decoration: none;
    }

.region-sidebar-first {
  text-align:right;
  }

.region-sidebar-first ul.menu {
  text-transform: uppercase;
  text-align:right;
  }

/* LAYOUT */



#boxes-box-site_logo img {
  width: 166px;
  }


#header-container #header-container-right,
#header-container #header-container-left {
  padding-top: 20px;
  }



/*CONTENT AREA */

.region-sidebar-first,
.region-sidebar-second {
  font-size: 13px;
  line-height: 112%;
  }

.region-sidebar-first li,
.region-sidebar-second li {
  margin-bottom: .7em;
  }
/*
body.sidebar-first #columns .hg-container {
  padding-right: 70px;
  }

body.no-sidebars #columns .hg-container {
  padding-right: 35px;
  padding-left: 35px;
  }

body.navbar #content-column {
  margin-top: 30px;
  }
*/
#content-column,
.region-sidebar-second,
.region-sidebar-first {
  padding-top: 0;
  }

/* HEADER ELEMENTS*/

.sidebar-second.header-main #header-container,
.sidebar-second.header-left-main #header-container,
.sidebar-first.header-main #header-container,
.sidebar-first.header-main-right #header-container,
.one-sidebar #menu-bar {
  width: 796px;
  margin-left: 170px;
  }

.two-sidebars #menu-bar,
.two-sidebars .header-left.header-right #header-container,
.two-sidebars.header-left-main #header-container,
.two-sidebars.header-main #header-container {
  width: 610px;
  margin-left: 175px;
  }
 /*
.header-main .block-boxes-os_boxes_site_logo,
.header-main-right .block-boxes-os_boxes_site_logo {
  padding-left: 149px;
  background: url(../images/crest.png) no-repeat 21px 0 transparent;
  min-height: 112px;
}*/

#scholar-shield {
 padding-top: 10px;
 text-align: center;
 }

#menu-bar {
  padding: 5px 15px;
  }

#menu-bar li {
  font-weight: bold;
  margin-right: 3px;
  font-variant: small-caps;
  }

ul.nice-menu a,
#menu-bar a:hover,
#menu-bar a.active {
  color: #993300;
  }

#content-column #content {
  padding-left: 30px;
  padding-right: 30px;
  }

/* FOOTER */

#footer {
  padding: 30px;
  }

body.sidebar-first #footer, body.two-sidebars #footer {
  margin-left:184px;
  }

body.sidebar-second #footer, body.two-sidebars #footer {
  margin-right:209px;
  }

/* Nodes */

.submitted {
  color: #a1b1b1;
  display:block;
  }


.breadcrumb {
    margin: 15px 0 0 30px;
}

.node-type-page .breadcrumb {
    margin: 15px 0 15px 20px;
}
