/**
 * Adjustments to the media browser
 */

/** Inline block is much cleaner looking than float */
#media-browser-library-list li {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.ui-tabs .media-browser-tab.ui-tabs-panel {
	position: relative;
}

.view-media-default {
	margin-right: 270px;
	border-right: 1px solid lightgray;
}

#file-edit-section {
	position: absolute;
	width: 205px;
	top: 22px;
	bottom: 22px;
	right: 18px;
	overflow: auto;
}

#file-edit-no-selection {
	text-align: center;
	padding: 30px 10px;
}

#file-edit-section input.form-text,
#file-edit-section input.form-file,
#file-edit-section textarea {
	max-width: 95%;
}