#file-entity-add-upload .form-item-upload {
	text-align: center;
	margin: 50px 0;
}

#file-entity-add-upload .form-item-upload input {
	display: none;
}

#file-entity-add-upload .form-item-upload input.file-select {
	display: inline-block;
}

#file-entity-add-upload .form-item-upload .description {
	display: none;
}

#file-entity-add-upload .form-actions {
	text-align: right;
}

#file-entity-add-upload #edit-upload-ajax-wrapper ~ .form-actions input {
	display: none;
}