#edit-layout {
  /*width: 848px; */
  position: relative;
  margin: 40px 0 0 0;
  font-size: 12px;
  background:#FFF;
}

.cp-region {
	background-color: white;
	outline: 1px solid blue;
  display: inline-block;
  min-width: 20%;
  min-height: 4em;
  vertical-align: top;
}

.cp-region-header-left {
	margin-right: 1%;
	width: 24%;
	min-height: 12em;
}

.cp-region-header-main {
	width: 50%;
	min-height: 12em;
}

.cp-region-header-right {
	margin-left: 1%;
	width: 24%;
	min-height: 12em;
}

.cp-region-menu-bar {
	width: 100%;
	margin: 0.65em 0;
}

.cp-region-sidebar-first {
	width: 24%;
	margin-right: 1%;
	min-height: 36em;
}

.cp-region-content {
	width: 50%;
  min-height: 36em;
}

.cp-region-sidebar-second {
	width: 24%;
	margin-left: 1%;
  min-height: 36em;
}

.cp-region-footer {
	width: 100%;
	margin: 0.65em 0;
}

.cp-region-content-top {
	width: 100%;
  margin-bottom: 0.65em;
  min-height: 8.45em;
}

.cp-region-content-left {
	width: 49%;
	margin-right: 1%;
	min-height: 18em;
}

.cp-region-content-right {
	width: 49%;
	margin-left: 1%;
	min-height: 18em;
}

.cp-region-content-bottom {
	width: 100%;
	margin-top: 0.65em;
	min-height: 8.45em;
}

.cp-region .cp-layout-widget {
	padding: 0.75em 1em 1.5em 3.5em;
	background-color: #CCCCCC;
	outline: 1px solid #333333;
}

.cp-region-content .cp-region {
	display: none;
}

.content-regions .cp-region-content .cp-region {
	display: inline-block;
}

.content-regions .cp-region-content > .cp-layout-widget {
	display: none;
}