
#tabs {
	margin: 10px 0;
	border: 1px solid black;
}

#tabs .links {
	border-bottom: 1px solid black;
	padding-left: 5px;
}

#tabs .panel {
	padding: 10px;
}

#tabs .panel .form-item {
	margin-bottom: 1em;
}

#tabs .panel input,
#tabs .panel select {
	width: auto;
}
