@import "gking.responsive.layout.css"; 
@import "/profiles/openscholar/themes/os_basetheme/css/d6buffer.css";

html,
body,
#page {
  min-height: 100%;
  }

body {
  font: 12px/1.4em 'helvetica neue', helvetica, arial, sans-serif;
  color: #000;
  background: url(../images/bg.png) repeat-y 50% 0 #333;
  }

#page {
  position: relative;
  }

/* TYPOGRAPHY */

@font-face {
	font-family: 'ExpresswayRegular';
	src: url('../fonts/expressway_rg-webfont.eot');
	src: local('../fonts/Expressway'), local('../fonts/ExpresswayRgRegular'), url('../fonts/expressway_rg-webfont.woff') format('woff'), url('../fonts/expressway_rg-webfont.ttf') format('truetype'), url('../fonts/expressway_rg-webfont.svg#webfontBZGc47Cg') format('svg');
	font-weight: normal;
	font-style: normal;
  }

h1, h2, #menu-bar li, #footer {
  font-weight: normal;
	font-style: normal;
	line-height:normal;
	font-family: 'ExpresswayRegular', sans-serif;
	font-size-adjust: 0.53;
  }

p {
  margin: 0 0 1.5em 0;
  }

.biblio-note p {
  margin: 0;
  }

h2 {
  font-size: 21px;
  letter-spacing:1px;
  }

h3, h4 {
  font-weight:bold;
  font-size:1em;
  margin: 0;
  }

h2.block-title {
  color: #6e7a7a;
  margin-top:0px;
  }

.node-teaser.node-type-scholar-software-project h3 {
  margin:0;
  color:#222;
  }

h3.cv-direct-download {
  background: #717171;
  padding: 3px 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  float: left;
  margin: 0 0 15px 0;
  color: #fff;
  }

h3.cv-direct-download a,
h3.cv-direct-download a:visited {
  color: #fa8b18;
  }

.more-link a {
  text-decoration: underline;
  }

h4 {
  margin-bottom: 27px;
  }

h1#page-title,
.block h2.block-title,
#pub_type_tabs h2.block-title,
.taxonomy-term-child h3.taxonomy-heading,
#block-os-secondary-menu li {
  padding: 13px 16px 16px 16px;
  background: #fcfcfc;
  border-bottom:1px solid #e5e5e5;
  font: bold 21px/24px arial, helvetica, sans-serif;
  letter-spacing:-0.05em;
  text-indent:-1px;
  margin: 0 -16px 0.5em;
  }
  
.not-front #content-top h1#page-title {
  margin-left: 0;
  }

.node-type-person h1#page-title {
  padding: 0;
  border: none;
  margin-left: 0;
  margin-right: 0;
  }

.node-type-person h2.block-title span.position {
  font-weight: normal;
  }

.taxonomy-term-child h3.taxonomy-heading {
  color: #CC6733;
  font-size: 1.4em;
  background: #fff;
  padding-bottom: .1em;
  padding-top: 0;
  }

.taxonomy-term-child .taxonomy-term-child h3.taxonomy-heading {
  padding: 0;
  margin-left:0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: .5em;
  font-size: 1.2em;
  }

.block h2.block-title {
  font-size: 1.3em;
  }
  
 .node-type-scholar_software_project h2.block-title {
 	font-size: 1.2em;
 	}

#content .node h2.block-title {
  border: none;
  padding: 0;
  margin:0;
  }

.biblio-separator-bar {
  font-size: 1.2em;
  }

a {
  text-decoration: none;
  }

a:visited {
  color: #59798F;
  }

a:hover {
  text-decoration: underline;
  }

a.more {
 font-weight: bold;
 text-decoration: none;
 font-size: 12px;
 letter-spacing: 0;
 color: #fff;
 padding: 0 10px;
 background: url(../images/arrow-white.png) 100% 50% no-repeat transparent;
  }


.front .region-header-second .block-boxes-os_boxes_html a.more {
 font-weight: bold;
 text-decoration: none;
 font-size: 11px;
 letter-spacing: 0;
 color: #FFF;
 padding: 0 8px 0 2px;
 margin-left: 7px;
 background: url(../images/arrow-white.png) 100% 50% no-repeat #db7002;
  }

#content .context-links {
  margin-top: 5px;
  }

#content .context-links ul {
  padding-left: 0 !important;
  }
  
.front  #content .context-links {
    margin-top: 5px;
    position: absolute;
    right: -215px;
    top: -40px;
    z-index: 10;
}

/*
.section-biocv #content .context-links ul {
  margin-top: -96px;
}
*/

.front .more-link {
  background: none repeat scroll 0 0 #FFFFFF;
  float: right;
  padding: 0 10px 5px;
  text-align: right;
  }

.front .more-link a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  }

.front .more-link a:hover {
  text-decoration: underline;
  }

#node-3793 a.more {
  color: #5c7677;
  float:right;
  padding: 11px 38px 10px 0;
  }

.block .item-list .pager,
.twitter-followme {
  background:#fff;
  margin: 0 -16px -26px -16px;
  padding: 1em 0;
  border-top: 1px solid #E5E5E5;
  text-align: center;
  }

.block .item-list .pager li {
  margin-bottom: 0;
  }

.item-list ul.pager li.pager-current {
    background-color: #DB7002;
    font-weight:normal;
    color:#fff;
   }

.boxes-box .item-list ul.pager li a, .boxes-box .item-list ul.pager li a.active {
    font-size:1.5em;
    }

.item-list ul.pager li a:visited {
  color:#005C9C;
    }


.page-iqss-gking-research-group #content div.node-type-person ul li {
  padding: 0;
  }

.page-iqss-gking-research-group #content .node ul.links {
  padding-bottom: 5px;
  }

.region-sidebar-second .box-vsite_taxonomy_fbt {
  background:#3b4e4e;
  }

.front .box-vsite_taxonomy_fbt h2.block-title,
.region-sidebar-second .box-vsite_taxonomy_fbt h2.block-title {
  background: url('../images/aor-h3.png') 0 100% repeat-x #504F4B;
  color: #fff;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 23px;
  border: none;
  font-weight:normal;
  line-height: 38px;
  }
  
  body.front .block ul.term-applications {
    margin-left: -20px;
}


body.front .box-vsite_taxonomy_fbt div.description  {
    color: #FFFFFF;

}

.region-sidebar-second .box-vsite_taxonomy_fbt li,
.region-sidebar-second .box-vsite_taxonomy_fbt a,
.region-sidebar-second .box-vsite_taxonomy_fbt a:visited {
  color: #fff;
  font-weight:bold;
  }

.region-sidebar-second .box-vsite_taxonomy_fbt a:hover {
  color:#e87702;
  text-decoration: none;
  }

.region-sidebar-second .box-vsite_taxonomy_fbt ul .term-methods>div:first-of-type a,
.region-sidebar-second .box-vsite_taxonomy_fbt ul .term-applications>div:first-of-type a
{
  margin-bottom: 0;
  color:#68efde;
  font-weight: bold;
  }
  

.region-sidebar-second .box-vsite_taxonomy_fbt dd {
  display:none;
  }

.region-sidebar-second .box-vsite_taxonomy_fbt {
  margin-bottom: .5em;
  }

.region-sidebar-second .box-vsite_taxonomy_fbt li.term-methods .count,
.region-sidebar-second .box-vsite_taxonomy_fbt li.term-applications .count {
  display: none;
  }
  
  .region-sidebar-second .box-vsite_taxonomy_fbt ul.term-methods,
  .region-sidebar-second .box-vsite_taxonomy_fbt ul.term-applications
   {
  margin-left: -20px;
  }

  .region-sidebar-second .box-vsite_taxonomy_fbt ul li a
   {
  font-weight: bold;
  }


/* Secondary Menu */


#block-os-secondary-menu,
#block-os-secondary-menu li {
  padding: 0;
  }


#block-os-secondary-menu li {
  margin: 0;
  font: bold 1.1em/normal verdana, arial, sans-serif;
  }


#block-os-secondary-menu li.last {
  border: none;
  }


#block-os-secondary-menu a,
#block-os-secondary-menu a:visited {
  color: #444;
  display:block;
  padding: 10px 16px 16px;
  }


#block-os-secondary-menu li a:hover {
  background: #F58714;
  text-decoration: none;
  color: #fff;
  }


#block-os-secondary-menu li a.active {
  background: #EFD2B3;
  }

/* BASIC LAYOUT */


#menu-bar {
  background: url(../images/navbar.png) 50% 0 no-repeat transparent;
  }

.front #menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  }

.column {
  padding: 0;
  }
/*
.sidebar-second #content-column {
  padding-left: 0;
  }
*/
#main-content,
#content-top,
.sidebar .block {
  padding: 0 16px 26px 16px;
  border:1px solid #ddd;
  background: #fff;
  }
  
  #main-content { 
  	margin-left: 0;
    margin-right: 8px;
    }
    
.block-inner { 
  	margin-left: 0;
    margin-right: 0;
    }
    
.region-inner {
    padding-top: 0;
}    

.front #content-bottom .block {
  /*
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  */
  padding: 0;
  border:none;

  }
  

.front .column #block-boxes-scholar_biocv_bio.block  {
 padding: 0 16px 0 16px;
  }  

.node-type-bio h2.block-title {
display: none;
}  

.front #content {
  background:transparent;
  border: none;
  padding-right: 0;
  padding-left: 0;
  }

#content-top {
  margin-bottom: 0.5em;
padding:0 32px 0 0;
  }

.region-header-first {
  right: 293px;
  }

#block-os-primary-menu, #columns, #header-container, #block-boxes-site-info {
  width: 984px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  }
  
#block-os-primary-menu {
  z-index:1;	  
}

#block-boxes-site-info {
  z-index:2;	
}


/*
#menu-bar #block-os-primary-menu {
  width: 1000px;
  padding: 0;
}*/

#content-column .node,
#content-column .views-row,
.taxonomy-term-description {
  padding-top: 0;
  padding-bottom:0;
  margin-bottom: .75em;
  }

#content-column .ui-tabs-panel div.node {
  margin-bottom: 0;
  padding-bottom: 0.75em;
  }

/* HEADER */

#menu-bar,
#menu-bar #block-os-primary-menu {
  height: 39px;
  padding: 0;

  }

#header-container {
  min-height: 38px;
  }

.front #header-container {
  padding-top: 38px;
  }

/* #header-container {
  margin-top: 38px;
}*/

#header-container .region-header-second,
#header-container .region-header-third,
#header-container .region-header-first {
  padding-bottom: 0;
  margin-top:6px;
  padding-top:0;
  }

.block-boxes-os_boxes_site_info h1,
#menu-bar ul li {
  float: left;
  margin: 0;
  height: 29px;
  line-height: 29px;
  text-transform: uppercase;
  }

#menu-bar ul {
  width: 810px;
  float: right;
  }

#menu-bar ul li {
  font-size: 14px;
  letter-spacing: 1.5px;
  }

#menu-bar a, #menu-bar a:visited {
  display:block;
  color: #fff;
  }

#menu-bar a:hover {
  color: #000;
  text-decoration:none;
  background-color: #fa8b18;
  }

#menu-bar ul li.last {
  margin-right: 0;
  }

/* NICE MENUS */
ul.nice-menu ul {
    top: 2em;
    border-top:none;
}

.block-boxes-os_boxes_site_info.clearfix:after {
 display:inline;
  }

.block-boxes-os_boxes_site_info h1 {
  width: 168px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 19px;
  }

.block-boxes-os_boxes_site_info h1 a,
.block-boxes-os_boxes_site_info h1 a:visited {
  color:#fff;
  background:#636363;
  display:block;
  width: 168px;
  height: 29px;
  }

#menu-bar .block-boxes-os_boxes_site_info h1 a:hover {
  background-color: #000;
  color: #fff;
  }

#menu-bar ul li a, .block-boxes-os_boxes_site_info h1 a {
  display:block;
  }

#menu-bar ul li a {
  padding-left: 10px;
  padding-right: 10px;
  background-color:#db7002;
  }

#menu-bar ul li a.active,
#menu-bar ul li a.active:hover {
  color: #000;
  background-color:#db7002;
  }

.block-boxes-os_boxes_site_info h2, .block-boxes-os_boxes_site_info p {
  display:none;
  }

.front .region-header-third .block {
  height: 218px;
  overflow:scroll;
  overflow-x: hidden;
  }

#columns {
  padding-top: 0;
  }

#columns .block {
  margin-bottom: 8px;
  }

.front #columns #content-top .block {
  margin-bottom: -23px;
  }


.region-header-third,
.region-header-first {
  width: 261px;
  }

.region-sidebar-first {
  right: 269px;
  padding-right: 8px;
  }


#content-column,
.region-sidebar-first,
.region-sidebar-second {
  padding-bottom: 105px;
  }

/*
.front #columns .hg-container {
  padding-right: 208px;
  }
*/
body.header-left-main #header-container-container {
  padding-right:8px;
  }

body.header-right-main #header-container-container {
  padding-left:8px;
  }

.header-main-right .region-header-second,
.header-left-main-right .region-header-second {
  padding:0;
  margin-right: 8px;
  }

/* FRONT PAGE ELEMENTS */

.front .region-header-second .block-boxes-os_boxes_html {
  background: url('../images/front-photo.jpg') 0 0 no-repeat transparent;
  position:relative;
  padding-top:66px;
  padding-left: 323px;
  padding-right: 113px;
  padding-bottom: 0;
  height: 185px;
  margin-top: -4px;
  margin-left: 0;
  margin-bottom: 8px;
  border: none;
  float: left;
  width: 547px;
  font-size:1.1em;
  }

.front .region-header-second .block-boxes-os_boxes_html h3 {
  display:none;
  }

.front .region-header-second .block-boxes-os_boxes_html .content {
font-size: 1.04em;
margin: -9px 0 0 140px;
width: 505px;
 line-height: 19px;
  }

.view-scholar-software-releases {
  font-size: .9em;
  line-height: 1.2em;
  }

.view-scholar-software-releases .views-field-field-scholar-software-project-nid a {
  font-weight: bold;
  }

.front .region-header-second {
  position: relative;
  }

.front .region-header-second .context-links {
  position: absolute;
  top:217px;
  right: 0;
  margin:0;
  background-color: #eaeaea !important;
  width: 120px;
  padding: 0 0 0 15px !important;
  border: none;
  float: none;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  }

.front .region-header-second .context-links div.links a.ctools-dropdown-link {
  color: #000 !important;
  }

html.js div.ctools-dropdown div.ctools-dropdown-container {
  min-width: 141px;
  }

html.js .front .region-header-second div.ctools-dropdown div.ctools-dropdown-container {
 top: 0;
 left:-27px;
 }

/* Publications Tabs & Research Group Tabs */

.front #content-column .block-boxes-os_boxes_tabs {
  background:url(../images/pubs-bg.png) repeat-x 0 0 #fff;
  padding: 0 26px;
  width: 100%;
  }

.box-os_modal_tabbed h2.block-title {
  float: left;
  border:none;
  background: transparent;
  color: #fff;
  margin-right: 13px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  }

body.page-iqss-gking-research-group h1#page-title {
  color: #000;
  }

.box-os_modal_tabbed .node h2.block-title {
  font: bold .9em/normal verdana, helvetica, sans-serif;
  float: none;
  }

.box-os_modal_tabbed .node h2.block-title span.date, .box-os_modal_tabbed .node h2.block-title span.files a  {
  font-weight: normal;
  }


body.page-iqss-gking-research-group ul.ui-tabs-nav {
  float: right;
  margin-top: -35px;
  }


.ui-widget-header {
  background: transparent;
  }



body.page-iqss-gking-research-group .ui-tabs-nav li.ui-tabs-selected a,
body.page-iqss-gking-research-group .ui-tabs-nav li.ui-tabs-selected a:visited {
  color: #CC6733;
  }

.box-os_modal_tabbed .ui-tabs-panel {
  clear: both;
  padding-top: 1em;
  }

body.page-iqss-gking-research-group h3 {
  color: #000;
  }

.node-type-presentation.node-teaser {
  margin-bottom: 1.5em;
  }

.node-type-presentation.node-teaser span.title,
.node-type-presentation.node-teaser span.location {
  font-weight:bold;
  }

.node-type-presentation.node-teaser div.filefield-file {
  display:inline;
  }

.node-type-presentation.node-teaser div.filefield-file {
  display:inline;
  margin-right: .3em;
  }
.node-type-presentation.node-teaser div.filefield-file img {
  vertical-align:middle;
  }

/**	 QUICK TABS**/
	
div.ui-tabs-panel {
padding:10px;
-moz-margin-top: 0px;
margin-top: 1px;
background-image: none;
	}
	
.ui-tabs .ui-tabs-panel {
    background-image: none;
    border-top: none;
 
}	

.ui-corner-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
	
.ui-tabs .ui-tabs-nav {
    margin-left: 330px;
}

.ui-tabs .ui-tabs-nav {
     margin-top: -60px;
}

.ui-tabs .ui-tabs-nav ul {
width:100%;

}

.ui-tabs .ui-tabs-nav li {
list-style: none;
display: inline;
margin: 0;
}

.ui-tabs .ui-tabs-nav li a {
text-decoration: none;
padding: 9px 12px 19px 12px;
background: none;
 -moz-border-radius-topleft: 0px;
 -moz-border-radius-topright: 0px;
-webkit-border-top-left-radius:0px;
 -webkit-border-top-right-radius:0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
font-style:bold;
border:none;
}

.ui-tabs .ui-tabs-nav li a:link, .ui-tabs .ui-tabs-nav li a:visited, #tablist li a:visited {
color: #000;
font-size: 14px;
font-weight:bold;
}

.ui-tabs .ui-tabs-nav li a:hover {
color: #000;
background: transparent;
}

.ui-tabs .ui-tabs-nav li.active a {
color: #000;
background: #FFF;
border:none;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: none;
 
}


.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
 background:  #FFFFFF;
}

.block-boxes-os_boxes_tabs .ui-tabs { margin-bottom: 16px;}

.block-boxes-os_boxes_tabs h2.block-title {font-size: 21px;background: none;color:#FFF;border-bottom: none;}

/* FOOTER */

#footer {
    height: 29px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    padding: 0 15px;
    z-index:1;
    border-top:1px solid #ccc;
    }

#footer .wrap {
  width: auto;
  }

#footer .block,
#footer p.copy {
  float: left;
  margin-right:30px;
  clear:none;
  }

#footer #block-os-powered-by,
#footer #block-os-login {
  margin-top: 1px;
  color: #fff;
  clear:none;
   float: right;
  }

#footer #block-os-login {
    bottom: -5px;

}

#footer p.copy a.footer-login {
  margin-left: 0;
  margin-right: 14px;
  }

#footer .wrap #vsite-widgets-search-form {
  width: 302px;
  background-image: none;
  }

#footer .wrap #vsite-widgets-search-form .form-item {
  padding: 0;
  margin: 0;
  border:none;
  float: left;
  }

#footer .wrap #vsite-widgets-search-form #edit-search-wrapper input {
  width: 231px;
  height: auto;
  border: 1px solid #ddd;
  border-left-color: #c3c3c3;
  border-right-color: #c3c3c3;
  border-top-color: #7c7c7c;
  }

#footer .wrap #vsite-widgets-search-form input.form-submit {
  float: right;
  background: #79939c;
  color: #fff;
  -moz-border-radius:0px;
  text-transform:uppercase;
  padding: 2px 5px !important;
  margin: 0;
  border: none;
  text-indent: 0;
  width: auto;
  height: auto;
  text-shadow: none;
  }

#footer .wrap #vsite-widgets-search-form label {
  display:none;
  }

#footer .goog-te-gadget, #footer .goog-logo-link, #footer .goog-logo-link:link, #footer .goog-logo-link:visited, #footer .goog-logo-link:hover, #footer .goog-logo-link:active {
  color: #fff !important;
  font-weight:normal;
  }

#footer .goog-te-combo {
  font-size: 10px !important;
  margin-top: 6px;
  margin-bottom: 1px;
  color: #000;
  }

#footer .goog-te-gadget {
  font-size: 0;
  }

#footer .goog-logo-link img {
  background:#fff;
  padding: 1px;
  }

#footer #boxes-shield_default {
  margin-top: 7px;
  }


#footer #block-boxes-os-addthis {
	margin-top:7px;
}

/* Search form*/

.column .block-boxes-os_boxes_site_info{
  padding-top: 13px;
  }

#footer .search-form {
  margin-bottom: 0;
  margin-top: 6px;
  }

#footer #search-form .container-inline {
  background: transparent;
  height: 20px;
  padding-right: 0;
  width: 290px;
  }

#footer #search-form #edit-keys-wrapper {
  width: auto;
  width:216px;
  }
  
  
#footer input[type="search"] {
  border: 1px solid #c3c3c3;
  -moz-border-bottom-colors: #c3c3c3;
  -moz-border-left-colors: #c3c3c3;
  -moz-border-right-colors: #c3c3c3;
  -moz-border-top-colors: #c3c3c3;
  padding: 3px 4px 1px 0;
  background: #fff;
  height: 14px;
  -moz-border-radius:0;
border-radius:0;
width: 200px;
margin-top:5px;
  }

#footer #search-block-form input[type="submit"] {
  background: #79929c;
  color: #fff !important;
  width: 52px;
  height: 18px;
  text-indent:0;
  text-transform: uppercase;
  -moz-border-radius:0;
  -webkit-border-radius: 0;
  margin: 0 !important;
  text-shadow: none;
  }

#footer #google_translate_element {
  margin-top: 15px;
  }

#footer #google_translate_element select.goog-te-combo {
  position: relative;
  top: -15px;
  }

/* BIBLIO */

.node-type-biblio .node-type-biblio h2.block-title {
  margin-bottom: 0;
  font-size: 25px;
  }

.biblio-title a, .biblio-title a:visited {
  color: #000;
  }

.biblio-annotation, .biblio-annotation p {
  margin: 0;
  }

.biblio-note {
  margin: 0 0.6em 0 0;
  }


/* TAXONOMY */

body.section-category .node-teaser,
body.section-taxonomy .node-teaser,
body.page-gking-category-research-interests-applications-legislative-redistricting .node-teaser,
body.page-gking-category-research-interests-methods-causal-inference .node-teaser,
body.page-gking-category-research-interests-methods-event-counts-and-durations .node-teaser,
body.page-gking-category-research-interests-methods-ecological-inference .node-teaser,
body.page-gking-category-research-interests-methods-missing-data .node-teaser,
body.page-gking-category-research-interests-methods-qualitative-research .node-teaser,
body.page-gking-category-research-interests-methods-rare-events .node-teaser,
body.page-gking-category-research-interests-methods-survey-research .node-teaser,
body.page-gking-category-research-interests-methods-unifying-statistical-analysis .node-teaser,
body.page-gking-category-research-interests-applications-automated-test-analysis .node-teaser,
body.page-gking-category-research-interests-applications-incumbancy-advantage .node-teaser,
body.page-gking-category-research-interests-applications-automated-text-analysis .node-teaser,
body.page-gking-category-research-interests-applications-mexican-health-care-evaluation .node-teaser,
body.page-gking-category-research-interests-applications-presidency-research-voting-behavior .node-teaser,
body.page-gking-category-research-interests-applications-informatics-and-data-sharing .node-teaser,
body.page-gking-category-research-interests-applications-international-conflict .node-teaser,
body.page-gking-category-research-interests-applications-legistlative-redistricting .node-teaser,
body.page-gking-category-research-interests-applications-mortality-studies .node-teaser {
  margin-bottom:.7em;
  padding-left: 2em;
  }

body.section-category .taxonomy-term-description {
  margin-bottom: 1.5em;
  }

.taxonomy-term-child .taxonomy-term-child {
  padding-left: 2em;
  }

body.section-category .no-indent .node-teaser {
  padding-left: 0;
  }

.taxonomy-term-child .node-inner .flL {
  display:none;
  }


/*FRONT PAGE BIO*/

.front .region-header-second #block-boxes-scholar_biocv_bio {
  position: fixed;
  background: #fff;
  margin:0;
  font-size: 1.1em;
  bottom: 30px;
  /*top: 200px;*/
  width: 750px;
  left:50%;
  margin-left:-375px;
  z-index:10;
  -moz-box-shadow: 0 -1em 3em rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 -1em 3em rgba(0,0,0,0.6);
  box-shadow: 0 -1em 3em rgba(0,0,0,0.6);
  display:none;
}

.front .region-header-second #boxes-box-scholar_biocv_bio .node-inner {
   position:absolute;
   overflow:auto;
   bottom: 0;
   left:40px;
   top:52px;
   right:10px;
   padding-right:25px;
   }
   
body.front #header-container .node.node-type-bio {
    position:static;
}

#header-container .node-type-bio p {
    margin-bottom: 1em;
   }

/* Alt Branding */

body.gking-alt #wrapper {
  background: transparent;
  }

body.gking-alt #header-container {
  min-height: 10px;
  }

body.gking-alt #block-os-primary-menu {
  display:none;
  }

body.gking-alt #menu-bar {
  background: transparent;
  position: fixed;
  top: auto;
  bottom:0;
  z-index: 1;
  width:173px;
  height: 30px;
  }

body.gking-alt .block-boxes-os_boxes_site_info h1,
body.gking-alt .block-boxes-os_boxes_site_info h1 a {
  height:30px;
  line-height: 30px;
  }

body.gking-alt #footer {
  left: 173px;
  }

/* REMOVE AFTER REMOTE-SOURCE MODULE IS FIXED */

.node-type-scholar-software-project #content ul {
  padding-left: 2em;
  }

.node-type-scholar-software-project #content ul li {
  list-style: disc outside;
  padding:0 0 0 3px;
  }

.node-type-scholar-software-project #content ul li ul {
  margin-top: 1.5em;
  }

.node-type-scholar-software-project #content ul li li {
  list-style: circle outside;
  padding:0 0 0 3px;
  }
  
#pub_type_tabs .node-teaser .os-links .vsite-admin a.ctools-dropdown-link {
	position : absolute;
}