

/* Main wrappers */
html,
body {
  background: #fff;
  color: #1e1e1e;
}

.not-front #content-column {
  font-size: 15px;
}

/* Elements */
a,
a:visited {
  color: #3A72AB;
}


/* Header */
#header {
  background: #303030;
  color: #fff;
}
#boxes-box-site_info,
#boxes-box-site_info a {
  color: #fff;
}


/* Menu bar */
#menu-bar {
  background: #a23338;
}

#menu-bar ul.nice-menu a {
  color: #fff;
}

#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover {
  background: #f4f4f2;
  color: #303030;
}

/* Secondary menu */
#block-os-secondary-menu a {
  color: #bac5c6;
  font-weight: bold;
  text-transform: uppercase;
}

/* Titles & Type */
#page-title,
.node-title,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.page-search #content-column p,
.not-front #content-column p,
.links a,
#footer ul.menu a,
.boxes-box-content h2,
.view-os-events .views-field-colorbox {
  font-family: Arial, Helvetica, sans-serif;
}

h1.node-title,
.page-search .title a,
.boxes-box-content h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 18px;
}

.boxes-box-content h2 {
  font-size: 24px;
  line-height: 28px;
}

h1#page-title {
  font-size: 40px;
  line-height: 1; /* Font size is larger than the default line-height, so will overlap if the title wraps */
  margin: 15px 0 40px;
}

.page-node h1#page-title {}

h2.block-title {
  padding:10px 0;
  text-transform:uppercase;
  font-size:12px;
  font-weight:normal;
  letter-spacing:0.1em;
  font-weight:bold;
}

.page-search h1#page-title {
  margin-top: 10px;
}

#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link {
  text-decoration:underline;
}

.page-search #content-column p,
.not-front #content-column p {
}


/* Search */
#search-block-form input.form-submit,
#search-block-form #edit-submit,
#search-form #edit-submit {
  background-position:  0 -340px;
}

/* Border control */
.not-front.two-sidebars #content-column .content-inner {
  border-right: 1px solid #e7e7e7;
}

.front #content-column .block,
.node-person .block-inner,
.comment-wrapper {
  border-top: 6px solid #e1e1e1;
}

.block-boxes block-boxes-os_sv_list_box,
.block-boxes-os_boxes_manual_list,
.sidebar .block.section-nav,
#content-column .block.section-nav {
  border-top: none;
}

/* Blocks */
.sidebar .block {
  margin-bottom: 20px;
}

.sidebar .block h2.block-title {
  background: none repeat scroll 0 0 #2D2D2D;
  color: #FFFFFF;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 19px;
  text-transform: capitalize;
  font-weight: normal;
}

.block-content {
  margin-top: 20px;
}

.block.no-title .block-content {
  margin-top: 0;
}

#content-panels .block {
  margin-bottom: 15px;
}


/* Calander */
#block-views-os-events-block-1 .view .date-nav-wrapper {
  margin-top: 0;
}

#block-views-os-events-block-1 .view .date-nav-wrapper {
  width: auto;
  margin-bottom: 0;
  padding: 7px 0 0;
}

.block.no-title .view .date-nav-wrapper {
  border-top: 1px solid #cacaca;
}

.ui-tabs .block.no-title .view .date-nav-wrapper {
  border-top: 0;
}

.block .view .date-nav-wrapper .date-nav {
  margin-bottom: 7px;
}

.calendar-calendar .mini tbody {
  border-top-color: #f3f3f1;
}

.calendar-calendar th.days {
  background-color: #fff;
}


/* Calander */
#block-views-os-events-block-1 .view .date-nav-wrapper {
  margin-top: 0;
}

#block-views-os-events-block-1 .view .date-nav-wrapper {
  width: auto;
  margin-bottom: 0;
  padding: 7px 0 0;
}

.block.no-title .view .date-nav-wrapper {
  border-top: 1px solid #cacaca;
}

#content-panels .block.no-title .view .date-nav-wrapper,
.ui-tabs .block.no-title .view .date-nav-wrapper {
  border-top: 0;
}

.block .view .date-nav-wrapper .date-nav {
  margin-bottom: 7px;
}

.calendar-calendar .mini tbody {
  border-top-color: #f3f3f1;
}

.calendar-calendar th.days {
  background-color: #fff;
  border-top-color: #CACACA;
}

.calendar-calendar th.days.sun {
  border-left-color: #cacaca;
}

.calendar-calendar th.days.sat {
  border-right-color: #cacaca;
}

table td.mini {
  font-weight: normal;
}

#block-views-os-events-block-1 .view .date-nav-wrapper,
.calendar-calendar .mini tbody,
.calendar-calendar th.days,
.calendar-calendar td.empty,
.calendar-calendar td {
  border-color: #cacaca;
}


/* Tabs (widget) */
.ui-tabs .ui-tabs-nav li a {
  text-transform: capitalize;
  font-size: 14px;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a {
  background: #a41b2f;
  border: 4px solid #fff;
  border-bottom-width: 1px;
  color: #fff;
}


/* Section nav */
#boxes-box-os_pages_section_nav,
.section-nav ul.menu li a {
	border-color: #959595;
}

.section-nav .menu-depth-1 > a {
  background-color: #1e1e1e;
}

.section-nav .expanded.menu-depth-2 > a {
  background-color: #545454;
}



/* Footer */
#footer {
  background: url(../images/footer-top-gradient.png) repeat-x 0 0 #ebebeb;
}

#footer ul.menu a {
  text-transform: none;
  font-size: 16px;
}












