@import url(http://fonts.googleapis.com/css?family=Roboto);

#branding_footer, #branding_header {
    display:none;
}

body  {
	font-family: 'Roboto',Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
    font-size: 14px;
    background: #F6F6F6;
 
}


.hg-container {
    width: 100%;
}

#footer {
    background: #202020 !important;
}



.front #content-panels .region {
    clear: both !important;
    float: none !important;
    width:100% !important;
    display: block !important;
}

.front #content-panels .region .region-inner[style] {
    min-height: auto !important;
}



#menu-bar .block-boxes-os_boxes_html,
body.front.no-sidebars #content-panels .block-inner {
    margin: 0 auto;
    width: 980px;
}

.front.no-sidebars .region-content-top .block-boxes-os_slideshow_box:after {
    background: #373737;
    bottom: auto;
    content: "";
    display: block;
    height: 100%;
    left: -1000px;
    position: absolute;
    right: auto;
    top: 0;
    width: 3000px;
    z-index: 0;
}

#header,
#menu-bar,
#columns {
    background:#F6F6F6;
    background-image: none;
}


#header-container h1 {
  width:292px;
  height: 78px;
  text-indent: -999em;
  background: url('../images/osatharvardlogo.png') no-repeat 0 0 transparent;
  margin: -20px 0 0 5px;
  }
  
#header-container h1 a, #header-container h1 a:visited {
  display:block;
  width:279px;
  height: 31px;
  }

#header-container h2, #header-container p {
  display:none;
  }  
  
  
.region-header-third ul.nice-menu a {
    font: normal 14px 'Roboto',sans-serif;
    text-transform: none;
}  

.region-header-third ul.nice-menu li a {
  background:url('../images/mainnav_sidearrow.png') no-repeat 222px 4px transparent;
  padding-right: 23px;
  }
  
#menu-bar {
    padding: 0 0 10px;
}  
  
#menu-bar nav {
    background: none;
    border-radius: 0;
    box-shadow: none;
}  

#menu-bar ul a, #menu-bar ul.nice-menu a, #menu-bar ul.nice-menu .menuparent a {
    font-family: 'Roboto',Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
   padding: 8px 15px;
}


#search-block-form input.form-submit, 
#search-block-form #edit-submit, 
#search-form #edit-submit {
    background-position: 2px -373px;
}


.front #content-panels .block {
    -moz-box-sizing: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
}


/* SLIDESHOW OVERRIDES */
#layout_16_9_side .hero {
    background: #373737 !important;
}

#layout_16_9_side .hero-copy h2 {
    font: bold 25px arial,sans-serif;
}

body.no-sidebars .content-top-slideshow-enabled #content-panels .region-content-top .block {
    padding: 15px 0;
}

#layout_16_9_side .hero-copy {
    padding-top: 25px;
}

/* SPECIAL CSS FOR CUSTOM BLOCKS FOR OSHARVARD SITE */
/*.getsitenow {
	margin:-50px 0 0 200px;
	z-index: 1000;
	position:relative;
	}*/


.custhtml h3.custheader {
    text-align: center;
}
.custhtml h3.custheader a {
    color: #000000;
    font: 24px/1.4em "Helvetica","Arial","sans-serif";
}

.custhtml h4.benefheader {
	color: #000000;
    font: 18px/1.2em "Helvetica","Arial","sans-serif";
}

.region-content-first {
	background:#F6F6F6 !important;
	margin-top:-20px !important;}
	
.region-content-second {
	background:#ff0000 !important;
	margin-top:-20px !important;
	}

.whyuse .benef2colwrapper,
.whyuse .activitywrapper {
	display: inline-block;
	text-align:center;
	}
.whyuse .benef2colwrapper {
	width:69%;
	}
.whyuse .activitywrapper {
	width:30%;
	}


.whyuse .benef2colwrapper .twocolleft,
.whyuse .benef2colwrapper .twocolright {
	display: inline-block;
	width:48%;
}

.whyuse .benef2colwrapper .twocolright {
	margin-left:15px;
}

