
/* Search form */
div.file-search {
  padding-bottom: .5em;
  border-bottom: 1px solid lightgray;
  margin-bottom: .75em;
  margin-right: 5px;
}

#file-search-input {
  margin: 9px 0;
}

/* Single file thumbnails */
.media-item {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 5px;
  width: 100px;
  display: inline-block;
  margin: 5px 5px 0 0;
  vertical-align: top;
}

.media-item img {
  height: auto;
  width: 100%;
}

.media-item .media-item-label {
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media-item.selected {
  background-color: #F4ECC7;
  border-color: #058AC5;
}

/* Pager */
.pager {
  margin: 1em 0;
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
  text-align: center;
}
