body {
  font: 13px/17px 'helvetica neue', helvetica, arial,sans-serif;
  padding-bottom:30px;
  background:#e1e1e1;
  }

#columns {
  background: #fff;
}



h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 .5em 0;
  }

#menu-bar {
	margin-bottom:10px;
}

#menu-bar ul li a {
	font-size:15px;
}

/* HEADER ELEMENTS */


#header-container h1 a,
#header-container h1 a:visited {
    color:#282828;
    font-size: 35px;
    }


#header-container h2 {
  margin: 0;
  }
  


/* LOG IN PAGE */

.page-user #block-os-powered-by {
    margin-right: 220px;
    bottom: -30px;
}

.not-logged-in.page-user #columns h1 {
    margin: -50px 0 0 -45px;
    padding: 8px 0 0 10px;
   height: 30px;
}
  



