@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);


body {
  font: 13px/17px 'helvetica neue', helvetica, arial,sans-serif;
  padding-bottom:30px;
  background:#e1e1e1;
  }

#columns {
  background: #fff;
}



h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 .5em 0;
  }

#menu-bar {
	margin-bottom:10px;
}

#menu-bar ul li a {
	font-size:15px;
}

/* HEADER ELEMENTS */


#header-container h1 a,
#header-container h1 a:visited {
    color:#282828;
    font-size: 35px;
    }


#header-container h2 {
  margin: 0;
  }
  
  
/*  Search PAGE */  
  
.page-search .search-form {width:400px; padding:0 8px;background:#F1F0F0;}
  


/* LOG IN PAGE */

.not-logged-in.page-private-site #footer,
.not-logged-in.page-user #footer {
	float:none;
}

body.not-logged-in.page-private-site,
body.not-logged-in.page-user {
	background: #f6f5ed;
	/*background-image:none #f6f5ed !important;*/
	background-image:none #fff !important;
	font-family: 'Helvetica neue','Roboto Condensed', sans-serif;
	line-height:1em;
}

.not-logged-in.page-private-site #columns,
.not-logged-in.page-user #columns {
	width:540px;
	margin: 100px auto 7px;
	border:1px solid #ccc;
	border-bottom:4px solid #ccc;
	background:#FFF;
	 -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body.not-logged-in.page-private-site #content-column,
body.not-logged-in.page-user.no-sidebars #content-column {
    padding: 0;
}

.not-logged-in.page-private-site #columns h1,
.not-logged-in.page-user #columns h1 {
	font-size:1.7em;
	margin:0 !important;
	font-family: 'Helvetica neue','Roboto Condensed', sans-serif;
	color:#555;
}

.not-logged-in.page-private-site #powerby-login,
.not-logged-in.page-user #powerby-login {
    clear: both;
    float: right;
     margin-right: 0;
    min-width: 165px;
}

.not-logged-in.page-private-site .description,
.not-logged-in.page-user .description {
font-size: .9em;
}


.not-logged-in.page-private-site #edit-actions #edit-submit,
.not-logged-in.page-user #edit-actions #edit-submit {
    background: #3A72AB;
   /* background: #666;*/
    color: #FFF;
    display: inline;
    font-family: arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    padding: 5px 10px;
    border:none;
    border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

}

.not-logged-in.page-private-site #content,
.not-logged-in.page-user #content {
	background:#f1f0f0;
	padding:1px 12px;
	margin-bottom:15px;
}

ul.primary {
	border-bottom-color: #FFF;
    margin: 2em 0 -10px;
    padding: 0 0 0.2em;
}

ul.primary li {
     border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}


.not-logged-in.page-user ul.primary li a {
 background-color: #FFF;
    border-color: #F1F0F0;
     border-width: 2px;
    margin-right: 0;
    padding: 0.5em 15px;
 font-family: sans-serif;
 border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	color:#3A72AB;
	font-size:14px;
}


.not-logged-in.page-user ul.primary li a:hover {
text-decoration:underline;
}


.not-logged-in.page-user ul.primary li.active a {
    background-color: #f1f0f0;

}

.not-logged-in.page-user ul.primary li.active a:hover {
text-decoration:none;
}



