.content-left.content-right .at-panel .region.region-content-first {
     border-right: none;
}

.content-left.content-right .at-panel .region.region-content-first, 
.content-left.content-right .at-panel .region.region-content-second, 
.content-left.content-right .at-panel .region.region-content-bottom {
     clear: none;
     display: inline;
     float: left;
     margin: 15px 0;
     width: 32%;
}

.content-left.content-right .at-panel .region.region region-content-first, 
.content-left.content-right .at-panel .region.region-content-second {
     margin-right: 15px;
}



.content-left.content-right .at-panel .region.region-content-second {
     margin-left: 12px;
}