body {
  background-color: #E0D0B1;

  }

body.front #header-container {background: url('../images/header.gif') no-repeat; width:1000px;height:397px;border-right:3px solid #333;border-left:3px solid #333;border-top:3px solid #333;}
body.front #menu-bar {background: #6E1205; width:990px;height:94px;border-right:3px solid #333;border-left:3px solid #333;border-bottom:3px solid #333;height: 56px;padding-top: 38px;}

#page_splash {width:1000px;margin: 30px auto;}

body.front #menu-bar a, body.front #menu-bar a:visited {
    color: #E0D0B1;
    font-size: 18px;
}

body.front #menu-bar a:hover, body.front #menu-bar a:active {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 0.1em #FFF, 0 0 0.1em #FFF;
    
}


a, a:visited {
    color:#6D1102;
    }

a:hover {
    text-decoration: underline;
    }

h2, h3, #header-container {
    color:#484b63;
    font-weight: normal;
    }



/* HEADER ELEMENTS */


#header-container h2 {

  color: #444;
  text-shadow: none;
  }

#header-container a,
#header-container a:visited,
#header-container p {
    text-decoration: none;
    color: #444;
    text-shadow: none;
    }
    
#header-container h1 a,
#header-container h1 a:visited {
	font-size: 32px;
    text-decoration: none;
    color: #00552F;
    text-shadow: none;
    }
#header-container a:hover {	
    color:#00552F;
    }


#menu-bar a,
#menu-bar a:visited {
  color:#6D1102;
  }

#menu-bar a:hover,
#menu-bar a.active,
#menu-bar .active-trail a {
  color: #731001;
  text-decoration: underline;
  }

/* MAIN CONTENT AREA */

#columns {
  background: #F7F3EA;
    -moz-box-shadow: 1px 0 1em #777777;
  -webkit-box-shadow: 1px 0 1em #777777;
  box-shadow: 1px 0 1em #777777;
  }
