@import "/profiles/openscholar/themes/os_basetheme/css/d6buffer.css";
@import "cleanblue.responsive.layout.css"; 


body  {
  color:#37352B;
  min-width: 980px;
  background: url('../images/bodyBg.png') repeat-x scroll 0px 160px #F7F7F9;
 }    

  body.admin-menu {
 	background: url("../images/bodyBg.png") repeat-x scroll 0 180px #F7F7F9;
 	}
  
    body.cp-toolbar-full {
 	background: url("../images/bodyBg.png") repeat-x scroll 0 200px #F7F7F9;
 	}
  
 body.header-none {
 	background:url("../images/bodyBg.png") repeat-x scroll 0px -89px #F7F7F9;
 	}


/* TYPOGRAPHY*/

a, a:visited {
    color:#106599;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    color:#106599;
}
    
 .teaser-extra a {color:#991122;font-size:.92em;}
    
 .node .node-inner .links li a {
   text-decoration:underline;
}   

.more-link a {
  color:#991122;text-decoration:underline;
}
    
.sidebar .content h1 a {color:#991122;}
.sidebar .content h1 a:hover {color:#106599;text-decoration:none;}

.sidebar .content h2 {margin-top: 0.2em;font-size:1.14em;color:#555;}

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight:bold;
 }

h1#page-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size:1.4em;
  color:#000;
  }

h2.block-title {
  font-size:1.2em;
  }

#content-column h2.block-title a {
  color:#106599;
  }


.links li {
  font-size: .8em;
  }

.sidebar h2.block-title {
  color: #219910;
  font: 13px/normal Arial,Verdana,sans-serif;
  font-weight: normal;
  text-transform:uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px;
  background:url('../images/greenHdrBg.gif') no-repeat; background-position: left;padding-left: 14px;
  }

.region-sidebar-second h2.block-title, .region-sidebar-second h2.block-title a {
  color:#219910;
  }

.sidebar .views-row {
  margin-bottom: 1.8em;
  }
  
.sidebar li a {
  color: #757575;
  font-weight:normal;
  }
  
.sidebar li a:hover {
  color: #106599;
}
  
  .region-sidebar-first #block-os-primary-menu ul.menu {margin-left:1px;}
  .region-sidebar-first #block-os-secondary-menu ul.menu {margin-left:18px;}
  .region-sidebar-first #block-os-primary-menu ul.menu li, .region-sidebar-first #block-os-secondary-menu ul.menu li {list-style-image:url('../images/mainNavLftIcon.gif');padding-bottom:12px;}
  .region-sidebar-first #block-os-primary-menu ul.menu li a, .region-sidebar-first #block-os-secondary-menu ul.menu li a {color:#757575;font-weight:bold;padding-left:1px;text-transform:uppercase;line-height:10px;text-indent:20px;}
  
  .region-sidebar-second #block-os-primary-menu ul.menu, .region-sidebar-second #block-os-secondary-menu ul.menu {margin-left:20px;}
  .region-sidebar-second #block-os-primary-menu ul.menu li, .region-sidebar-second #block-os-secondary-menu ul.menu li {list-style-image:url('../images/mainNavLftIcon.gif');padding-bottom:10px;}
  .region-sidebar-second #block-os-primary-menu ul.menu li a,  .region-sidebar-second #block-os-secondary-menu ul.menu li a {color:#757575;font-weight:bold;font-size:12px;text-transform:uppercase;}

p.copy {
  margin-top: 0;
  }
  
  .biblio-title a, .biblio-title-chicago a {
    color:#106599;
}

.node, .biblio-entry {
    clear: both;
    margin-bottom: 0.1em;
    padding: 0.5em 0.188em;
    position: relative;
}

.field-content a {color:#106599;}

#header-container-left .box-os_boxes_modal_siteinfo .boxes-box, 
#header-container-right .box-os_boxes_modal_siteinfo .boxes-box, 
#header-container-main .box-os_boxes_modal_siteinfo .boxes-box {
	height:84px;background:url('../images/siteInfoBg.gif') no-repeat;background-position:left;padding-left:20px;margin-top: 20px;
	}

/* LAYOUT ELEMENTS */

#page {
background: #fff;
 }

.sidebar {
  font-size: 12px;
  line-height: 1.41em;
  }

#header-container-left
{
  height:125px;
  }



#header-container {
  background: #f7f7f9;
  height: 160px;
  }

body.no-sidebars #columns .hg-container,
body.sidebar-second #columns .hg-container,
body.no-sidebars #footer {
  padding-left: 10px;
  }
  
body.sidebar-first #columns .hg-container {
  padding-left: 210px;
  }
  
 #content-column, .region-sidebar-first, .region-sidebar-second  {
  padding-top: 25px;
  }


.sidebar-first #content-column .content-inner { border-left:1px dotted #666; }

.sidebar-second #content-column .content-inner { border-right:1px dotted #666; }

.two-sidebars #content-column .content-inner {
   border-right:1px dotted #666;
  border-left:1px dotted #666; 
}

/*SIDEBAR ELEMENTS */

body.navbar-off .region-sidebar-first {
  padding-top: 0;
  }

.region-sidebar-first #block-os-primary-menu {
margin: 8px -15px 0 18px;
  padding: 0 0 30px 0;
  }

/* HEADER ELEMENTS */

#header-container .column {
  padding-top: 15px;

  }


#header-container h1,
#header-container h2,
#header-container p {
    font-size: 35px;
    line-height: 38px;
    font-weight:normal;
    color:#6d7175;
    font-family:arial;
    margin: 0;
    }

#header-container h2 {
  font-size: 19px;
  line-height: 19px;
  font-style:normal;
  }

#header-container p {
  font-size: 15px;
  line-height: 17px;
  }

#header-container h1 a,
#header-container h1 a:visited {
    color:#991122;
    }

#header-container h1 a:hover {
    color:#106599;
    text-decoration: none;
    }

/* MAIN NAVBAR */

#menu-bar {
  background: #FFF;
  border-bottom: 5px solid #d5d3d4;
  }

#menu-bar .wrap {
  background:#FFF;
  }

#menu-bar li {
  float:left;
  padding-right: 1px;
  }

#menu-bar li a
 {
  line-height: 25px;
  text-transform:uppercase;
  color: #544f4f;
  font-weight:normal;
  font-size: 12px;
  padding: 2px 15px 1px;
  border-bottom:2px solid #106599;
 margin-right:3px;
 }
 


#menu-bar li a:hover,
#menu-bar li.active-trail a {
  background: url('../images/mainNavHover.png') repeat-x;
   border-bottom:none;
  color: #FFF;
  text-decoration: none;
 padding: 2px 15px 1px;
}

@-moz-document url-prefix() {
#menu-bar li a:hover,
#menu-bar li.active-trail a {
        padding: 2px 15px;
    }
}

#menu-bar li a.active,
#menu-bar li.active-trail a {
  background: #D4D4D5;
  color: #000;
  text-decoration: none;
   border-bottom:none;
   padding: 6px 15px 7px 15px;
}

/* FOOTER  */

#footer {
  padding-top: 0;
  }

#footer .wrap {
  padding: 0 30px;
  position:relative;
  bottom: -42px;
  }

/* NODES */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }