#sidebar-first {
	left: -215px;
	}


#menu-bar {

  padding: 0 0 0 5px;
  }

#menu-bar li a  {
  line-height: 27px;
  text-transform:uppercase;
 font-weight:normal;
  font-size: 12px;

}

#menu-bar li a:hover,
#menu-bar li.active-trail a {
padding: 6px 15px 6px 15px;

}
:root #menu-bar li a:hover,
:root #menu-bar li.active-trail a
{padding: 7px 15px 7px 15px\0;}


#menu-bar li a.active {
   padding: 6px 15px 7px 15px;
}

:root #menu-bar li a.active
{padding: 7px 15px 7px 15px\0;}



#sidebar-first #block-vsite_menus-features li a {
  line-height: 25px;
  text-transform:uppercase;
font-weight:normal;
  font-size: 12px;

}

