/* bigscreen three_col_grail */
@media only screen and (min-width:1025px) {
.container {width:980px}
#content-column,.content-column,div.sidebar {float: left; clear: none}
.two-sidebars .content-inner {margin-left: 160px; margin-right: 195px}
.sidebar-first .content-inner {margin-left: 160px; margin-right: 0}
.sidebar-second .content-inner {margin-right: 195px; margin-left: 0}
.region-sidebar-first {width: 160px; margin-left: -100%}
.region-sidebar-second {width: 195px; margin-left: -195px}

}