html,body {
  background: #eca366;
  font-family: "Palatino Linotype",Palatino,"Times New Roman",Times,serif;

  }

h1#page-title {
	font-size:1.5em;
  color: #006432;
  padding-left: .9em;
  }

.biblio-title a, .biblio-title-chicago a,
a,
a:visited {
  color:#A45614;
  }

#header-container h1 a {
		font-size:1.3em;
}

#header-container h2, #header-container p  {
		color:#555;
}


#header-container a,
#header-container a:visited,
#header-container,
#header-container h1 a,
#header-container h1 a:visited{
  color: #006432;

  }




 .region-sidebar-first #block-os-primary-menu .content ul.menu li  a {font-size:1.2em;}
  .region-sidebar-second #block-os-primary-menu .content ul.menu li  a {font-size:1.2em;}

.region-sidebar-first a, .region-sidebar-first a:visited, .region-sidebar-second a, .region-sidebar-second a:visited {
	font-size:1.1em;
    color: #555;
}

.region-sidebar-second .field-content a:hover, .region-sidebar-second .term-head a:hover {
	background:transparent;
	text-decoration:underline;
	color:#555;
}


.region-sidebar-first a:hover,
.region-sidebar-second a:hover,
#header-container h1 a:hover {
  background: #A45614;
  color: #FFF;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  }

.region-sidebar-first a.active,
.region-sidebar-first .active-trail a,
.region-sidebar-second a.active,
.region-sidebar-second .active-trail a {
  color: #FFF;
  background: #A45614;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  }

.sidebar {
  color: #dec7b2;
  }
  
h2.block-title {
color: #EFEFEF;
border-bottom: 1px dotted #FFF;

}
