#dashboard {
	border: 1px solid #dde;
	border-radius: 1em;
	padding: .5em;
	margin: 1em;
	line-height: 1.2em;
}


#dashboard label {
	float: left;
	width: 10em;
	font-weight: bold;
	
}

/* #dashboard .goog-inline-block {
}*/

#dashboard .goog-container-horizontal {
	width: 20em;
}

