/* Temporarily (for testing) border the regions  
.region-header {
	background:#FFEE44;
}

.region-header-left {
	background:#EE9911;
}

.region-header-right {
	background:#AA4444;
}

.sidebar {
background:#FF0044;
}


#content-column { 
background:#0023ff;	
}


#menu-bar  {
background:#662300;	
	}

.region-footer {
	background:#FF8811;	
}
*/

/* Floating & positioning the header regions not covered by ABT */

.region-header,
.region-header-left,
.region-header-right {
  float: left;
  position: relative;
  padding:10px;
}

.region-header-left {
  width: 200px;          /* LC width */
  left: -240px;          /* LC width */
  margin-left: -100%;
}

.region-header-right {
    width: 200px;          /* RC width */
  margin-right: -100%;  /* RC width */
}


#header-container {
  padding-left: 220px; /* left width incl. padding */
 padding-right: 240px; /*right width incl. padding plus center padding */
 clear:both;
  }
  

.region-header {
  width: 100%;
}


/* Header */
body.sidebar-second #content-area .hg-container, /** TBD **/
body.header-main #header-container, 
body.header-main-right #header-container {
padding-left:0;
}

#page > header {}
#logo {
  margin: 0 10px;
}
#page > header > hgroup {
  margin: 0 10px;
}
#site-name {}
#site-name a    {}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}
#site-slogan {}

/* Page title */
h1#page-title {}

/* Regions */
.region-leaderboard {}
.region-header {}
.region-secondary-content {}
.region-highlighted {}
.region-content-aside {}
.region-tertiary-content {}
.region-footer {}

/* Sidebars */
.sidebar {}
.region-sidebar-first {}
.region-sidebar-second {}

/* Footer - the main page footer only */
#page > footer {}

/* Feed icons */
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}

/* Search results list. */
.search-results {}
.search-results .search-result {}
.search-results .title {}
.search-results .search-snippet-info {}
.search-results p {}
.search-results .search-snippet {}
.search-results .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}

/* Aggregator */
.feed-item {}
.feed-item header {}
.feed-item-title {}
.feed-item-meta {}
.feed-item .content {}
.feed-item footer {}
.feed-source {}
.feed-description {}

/* Maintenance page */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}
.maintenance-page footer {
  margin: 10px 0 0;
}
.maintenance-page footer a {
  text-decoration: none;
  color: #ccc;
}

/* Prevent overflowing content */
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}

/* Standard layout three-col-grail  
@media only screen and (min-width:1025px) {
.two-sidebars .content-inner {margin-left: 200px; margin-right: 200px;}
.sidebar-first .content-inner {margin-left: 200px; margin-right: 0;}
.sidebar-second .content-inner {margin-right: 200px; margin-left: 0;}
.region-sidebar-first {width: 200px; margin-left: -100%;}
.region-sidebar-second {width: 200px; margin-left: -200px; clear: none;}
.container {width: 980px;}
} 
*/
