html,body {
  background: #6c4707;
  }

h1#page-title {
  color: #ae3d3d;
  }

.biblio-title a, .biblio-title-chicago a,
a,
a:visited {
  color:#8d4607;
  }

.region-sidebar-first a,
.region-sidebar-first a:visited,
.region-sidebar-second a,
.region-sidebar-second a:visited,
#header-container a,
#header-container a:visited,
#header-container,
#header-container h1 a,
#header-container h1 a:visited{
  color: #fff;
  -moz-text-shadow: 0 1px 1px #000;
  -webkit-text-shadow: 0 0 1px #000;
  text-shadow: 0 0 1px #000;
  }



.region-sidebar-first a:hover,
.region-sidebar-second a:hover,
#header-container h1 a:hover {
  background: #EEF788;
  color: #333;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  }

.region-sidebar-first a.active,
.region-sidebar-first .active-trail a,
.region-sidebar-second a.active,
.region-sidebar-second .active-trail a {
  color: #444;
  background: #D7E07B;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  }

.sidebar {
  color: #dec7b2;
  }
  
.term-head {
color: #DDD;
}
